{% extends '@admin/page/_adminPageBase.html' %}

{% block htmlTitle 'Pages' %}
{% block headText 'Manage Pages' %}
{% block sectionText 'pages' %}


{% block sideNav %}
{% if page.templates %}
<ul class="nav flex-column">
  {% for template in page.templates %}
  <li class="nav-item">
    <a class="nav-link active" href="{{ pathFor('adminEditPage', {}, {'definition': template.filename}) }}"
      title="{{ template.description }}">{{ template.name }}</a>
    <span class="pageTypeDesc">{{ template.description }}</span>
  </li>
  {% endfor %}
</ul>
{% else %}
<h5>No Page Definition Files Found</h5>
{% endif %}
{% endblock sideNav %}

{% block subBody %}
<h3>Saved Pages</h3>
<p>Edit/Delete pages and page content.</p>
<div class="card-wrapper">
  {% for p in page.pages %}
  {% include "@admin/page/_pageCard.html" %}
  {% else %}
  <strong>No Saved Pages Found</strong>
  {% endfor %}
</div>
{% endblock subBody %}