{% extends '@admin/page/_adminPageBase.html' %}

{% block htmlTitle 'Pages' %}
{% block headText 'Manage Pages' %}
{% block sectionText 'pages' %}


{% block sideNav %}
{% if page.templates %}
<div class="sidebar-links">
  {% for template in page.templates %}
  <div class="sidebar-link">
    <a class="nav-link" href="{{ pathFor('adminEditPage', {}, {'definition': template.filename}) }}"
      title="{{ template.description }}">{{ template.name }}</a>
    <i class="fas fa-info-circle" tabindex="0" data-toggle="popover" data-trigger="focus"
      data-content="{{ template.description }}"></i>
  </div>
  {% endfor %}
</div>

{% else %}
<h5>No Page Definition Files Found</h5>
{% endif %}
{% endblock sideNav %}

{% block subBody %}
<h3>Saved Pages</h3>
<p>Edit/Delete pages and page content.</p>
<div class="card-wrapper">
  {% for p in page.pages %}
  {% include "@admin/page/_pageCard.html" %}
  {% else %}
  <strong>No Saved Pages Found</strong>
  {% endfor %}
</div>
{% endblock subBody %}