{#
		Base layout for Piton Media management.
#}
{% extends '@admin/_adminSideBarBase.html' %}
{% block headText 'Manage Media' %}

{% block sideNav %}
<li class="nav-item">
  <a class="nav-link {{ currentRoute('adminShowMedia') }}" href="{{ pathFor('adminShowMedia') }}">All Media</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ currentRoute('adminFileUploadForm') }}" href="{{ pathFor('adminFileUploadForm') }}">Upload
    File</a>
</li>
<li class="nav-item">
  <a class="nav-link {{ currentRoute('adminEditMediaCategories') }}"
    href="{{ pathFor('adminEditMediaCategories') }}">Galleries</a>
</li>
{% endblock sideNav %}

{% block subBody %}
{% endblock subBody %}