{#
  Media Card

  This is used in the media modal in the page editor.
  It is also used in the All Media manager with editable form fields.
#}

{% macro mediaCard(media, categories, editable = false) %}
{% import '@admin/media/_mediaSelectCategoryMacro.html' as catForm %}
<div class="card jsMediaCard">
  <img src="{{ getMediaPath(media.file) }}" class="card-img-top" alt="{{ media.caption }}">
  <div class="card-body">

    {% if editable %}
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" value="{{ getMediaPath(media.file) }}" readonly
        title="Link to media">
    </div>

    <form action="{{ pathFor('adminMediaSave') }}" method="post" accept-charset="utf-8">
      <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
      <input type="hidden" name="id" value="{{ media.id }}">

      <div class="form-group">
        <input type="text" class="form-control form-control-sm" name="caption" value="{{ media.caption }}"
          placeholder="No caption">
      </div>

      {% for c in categories %}
      {{ catForm.categorySelect(c, media.id) }}
      {% endfor %}

      <div class="form-group">
        <button class="btn btn-outline-primary btn-sm mt-2" type="submit" name="button" value="save">Save</button>
        <button class="btn btn-outline-danger btn-sm mt-2" type="submit" name="button" value="delete">Delete</button>
      </div>

    </form>
    {% else %}

    {# This is for displaying in the media modal when selecting images #}
    <p>{{ media.caption }}</p>
    {% endif %}

  </div>
</div>

{% endmacro mediaCard %}
