{#
    All Twig Macros for Media and Media Category Management
#}

{#
  Edit Media
#}
{% macro editMedia(media, categories) %}

<div class="media">
 <form class="mediaForm" method="post" accept-charset="utf-8">
  <input type="hidden" name="media_id" value="{{ media.id }}">

  {# Media Image Thumbnail for preview 100px wide with hover popup larger image #}
  <div class="mediaImage">
   <img src="{{ getMediaPath(media.filename, 'thumb') }}" class="mediaThumb" alt="{{ media.caption }}">

   <span class="mediaImagePopup">
    <img src="{{ getMediaPath(media.filename, 'small') }}" class="mediaThumbPopup" alt="{{ media.caption }}">
   </span>
  </div>

  <div class="mediaBlock">
   {# Media Caption and Categories #}
   <div class="mediaCaption">
    <input type="text" class="form-control form-control-sm" name="caption" value="{{ media.caption }}"
     placeholder="Media caption">
   </div>

   {# Featured Media #}
   <div class="mediaFeatured">
    <div class="form-check">
     <input class="form-check-input" type="checkbox" id="feature-{{ media.id }}" name="feature"
      {{ checked(media.feature) }}>
     <label class="form-check-label" for="feature-{{ media.id }}">Featured Media</label>
    </div>
   </div>
  </div>

  {# Media Categories #}
  <div class="mediaCategories">
   {% for key, cat in categories %}
   <div class="form-check">
    <input class="form-check-input" type="checkbox" id="{{ media.id }}-{{ key }}" name="category[]"
     value="{{ key }}" {{ checked(media.categories[key]) }}>
    <label class="form-check-label" for="{{ media.id }}-{{ key }}">{{ cat }}</label>
   </div>
   {% endfor %}
  </div>

  {# Media Controls #}
  <div class="mediaControls">
   <button class="btn btn-delete btn-block" type="button" data-media-id="{{ media.id }}" data-delete-media-prompt="Are you sure you want to delete this media file?">Delete</button>
   <button class="btn btn-save" type="button" data-form-button="save" disabled>Save</button>
  </div>
 </form>
</div>
{% endmacro editMedia %}

{#
  Media List Item
  Used in select media modal
#}
{% macro mediaListItem(media) %}

<div class="media" data-media="1" data-media-caption="{{ media.caption }}" data-media-id="{{ media.id }}"
 data-media-path="{{ getMediaPath(media.filename, 'small') }}">

 {# Media Image Thumbnail for preview 100px wide with hover popup larger image #}
 <div class="mediaImage">
  <img src="{{ getMediaPath(media.filename, 'thumb') }}" class="mediaThumb" alt="{{ media.caption }}">

  <span class="mediaImagePopup">
   <img src="{{ getMediaPath(media.filename, 'small') }}" class="mediaThumbPopup" alt="{{ media.caption }}">
  </span>
 </div>

 <div class="mediaBlock">
  <div class="mediaCaption">
   <p>{{ media.caption }}</p>
  </div>
 </div>

</div><!-- /.media -->

{% endmacro mediaListItem %}

{#
    Media Upload Modal
#}
{% macro uploadForm() %}
<form data-media-upload="form" method="post" accept-charset="utf-8" enctype="multipart/form-data">

 {# Media file link #}
 <div class="form-group">
  <input type="file" class="custom-file-input" id="media-file" name="media-file" required>
  {# <label class="custom-file-label" for="media-file">Choose a file</label> #}
  <div class="modal-info">
   <p class="small-text text-info"> Put warning/info text here</p>
  </div>
 </div>

 <hr>
 {# Featured image flag #}
 <div class="form-check-wrapper">
  <div class="form-check">
   <input class="form-check-input" type="checkbox" id="featured-media" name="feature">
   <label class="form-check-label" for="featured-media" title="May be used for enhanced displays">Featured Media</label>
  </div>
 </div>

 <hr>
 {# List of all available categories #}
 <div class="form-check-wrapper">
  {% for key, name in getMediaCategories() %}
  <div class="form-check">
   <input class="form-check-input" type="checkbox" id="cat-{{ key }}" name="category[]" value="{{ key }}">
   <label class="form-check-label" for="cat-{{ key }}">{{ name }}</label>
  </div>
  {% endfor %}
 </div>


 <hr>
 {# Media caption #}
 <div class="form-group">
  {# <label>Caption</label> #}
  <input type="text" name="caption" maxlength="100" autocomplete="off" placeholder="Media caption">
 </div>

 {# Only display optimize checkbox if there is a Tinyfy key saved in settings #}
 {% if site.settings.tinifyApiKey %}
 <hr>
 <div class="form-check-wrapper">
  <div class="form-check">
   <input class="form-check-input" type="checkbox" id="media-optimize" name="optimize" checked>
   <label class="form-check-label" for="media-optimize">Optimize Media</label>
  </div>
 </div>

 <div class="modal-info">
  <p class="small-text"> Create web optimized copies of your image using your Tinify account.</p>
 </div>
<hr class="mt-1rem">

 {% endif %}

 {# Upload button #}
 <div class="btn-group">
  <button class="btn btn-save btn-block" type="button" data-media-upload="file">Upload</button>
 </div>
</form>

{% endmacro uploadForm %}