{#
    All Twig Macros for Media and Media Category Management
#}

{#
  Media Card
#}
{% macro card(media, categories) %}
<div class="media">

  {# Media Image Thumbnail for preview 100px wide with hover popup larger image #}
  <div class="mediaImage">
    <img src="{{ getMediaPath(media.filename, 'thumb') }}" class="mediaThumb" alt="{{ media.caption }}" title="{{ media.caption }}">
  </div>

  <div class="mediaMeta">
    {# Media Caption #}
    <h5 class="mediaCaption">{{ media.caption }}</h5>
    {# Media Categories #}
    <div class="mediaCategories">
      {% for key, cat in media.categories %}
      <div class="mediaCategory">{{ categories[key] }}</div>
      {% endfor %}
    </div>

    {# Media Controls #}
    <div class="mediaControls">
      {# Edit Button #}
      <button class="btn btn-save" type="button">Edit</button>
    </div>
  </div>

  <div class="mediaExtra">
    <i class="fas fa-link mediaLink" title="Copy media link to clipboard" data-media-click-copy="{{ getMediaPath(media.filename, 'large') }}"></i>
    {# Featured Media Flag #}
    {% if media.feature == 'Y' %}
    <div class="mediaFeatured" title="Featured Image">F</div>
    {% endif %}
  </div>

</div>
{% endmacro card %}

{#
    Media Upload Modal
#}
{% macro uploadForm() %}
<form data-media-upload="form" method="post" accept-charset="utf-8" enctype="multipart/form-data">

  {# Media file link #}
  <div class="form-group">
    <input type="file" class="custom-file-input" id="media-file" name="media-file" required>
    {# <label class="custom-file-label" for="media-file">Choose a file</label> #}
    <div class="modal-info">
      <p class="small-text text-info"> Put warning/info text here</p>
    </div>
  </div>

  <hr>
  {# Featured image flag #}
  <div class="form-check-wrapper">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="featured-media" name="feature">
      <label class="form-check-label" for="featured-media" title="May be used for enhanced displays">Featured
        Media</label>
    </div>
  </div>

  <hr>
  {# List of all available categories #}
  <div class="form-check-wrapper">
    {% for key, name in getMediaCategories() %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="cat-{{ key }}" name="category[]" value="{{ key }}">
      <label class="form-check-label" for="cat-{{ key }}">{{ name }}</label>
    </div>
    {% endfor %}
  </div>


  <hr>
  {# Media caption #}
  <div class="form-group">
    {# <label>Caption</label> #}
    <input type="text" name="caption" maxlength="100" autocomplete="off" placeholder="Media caption">
  </div>

  {# Only display optimize checkbox if there is a Tinyfy key saved in settings #}
  {% if site.settings.tinifyApiKey %}
  <hr>
  <div class="form-check-wrapper">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="media-optimize" name="optimize" checked>
      <label class="form-check-label" for="media-optimize">Optimize Media</label>
    </div>
  </div>

  <div class="modal-info">
    <p class="small-text"> Create web optimized copies of your image using your Tinify account.</p>
  </div>
  <hr class="mt-1rem">

  {% endif %}

  {# Upload button #}
  <div class="btn-group">
    <button class="btn btn-save " type="button" data-media-upload="file">Upload</button>
  </div>
</form>

{% endmacro uploadForm %}
