{% extends '@admin/_adminBase.html' %}
{% import _self as form %}

{% block htmlTitle 'Media Categories' %}
{% block headText 'Media Categories' %}
{% block sectionId 'detailPage' %}

{% block openForm %}
  <form class="jsEditMediaCategory contentWrapper" action="{{ pathFor('adminSaveMediaCategories') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
{% endblock openForm %}

{% block sidebar %}
  {% include "@admin/media/_mediaSidebar.html" %}

  <a class="btn btn-sm btn-outline-warning" href="{{ pathFor('adminEditMediaCategories') }}">Cancel</a>
  <button type="submit" class="btn btn-sm btn-primary" id="jsSaveButtonInd" title="Save media categories" disabled>Save</button>
{% endblock sidebar %}

{% block content %}
  <h3>Media Categories</h3>
  <hr>

  {% for c in page.categories %}
    {{ form.categoryInput(c) }}
  {% endfor %}
  <div class="form-group">
    <i class="fas fa-plus icon icon-green jsAddMediaCategory" title="Add media category"></i>
  </div>
{% endblock content %}

{% block closeForm %}
  </form>

  {# Hidden category input to clone when adding categories #}
  <div class="d-none jsMediaCategoryElement">
    {{ form.categoryInput([0]) }}
  </div>
{% endblock closeForm %}

{% block foot %}
	<script src="{{ basePath() }}/admin/js/media.js"></script>
{% endblock foot %}


{#
  Media Category Input
#}
{% macro categoryInput(category) %}
<div class="form-group jsMediaCategory">
  <input type="hidden" name="category_id[{{ category.id }}]" value="{{ category.id }}">
  <input type="text" class="form-control" name="category_name[{{ category.id }}]" value="{{ category.category }}" placeholder="Category name" autocomplete="off">

  <button class="btn btn-danger btn-sm" type="button" name="button" value="{{ category.id }}" {% if not category.id %}disabled{% endif %}>Delete</button>
</div>
{% endmacro categoryInput %}