{% extends '@admin/_adminBase.html' %}
{% import _self as form %}

{% block htmlTitle 'Media Categories' %}
{% block headText 'Media Categories' %}
{% block sectionId 'mediaCategoriesPage' %}

{% block openForm %}
  <form class="jsEditMediaCategory" action="{{ pathFor('adminMediaCategorySave') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
{% endblock openForm %}

{% block sidebar %}
<div class="sidebar-inner">
 <div class="sidebar-block button-group">
  <a class="btn btn-sm btn-outline-warning" href="{{ pathFor('adminMediaCategoryEdit') }}">Cancel</a>
  <button type="submit" class="btn btn-sm btn-primary" id="jsSaveButtonInd" title="Save media categories" disabled>Save</button>
</div>
</div>

{% endblock sidebar %}

{% block content %}
<div class="content-block">
 <h3 class="section-title">Media Categories</h3>
 <div class="form-group-wrapper">
 {% for c in page.categories %}
 {{ form.categoryInput(c) }}
{% endfor %}

<div class="span">
 <i class="fas fa-plus icon icon-green jsAddMediaCategory" title="Add media category"></i><p class="d-inline"> &nbsp;Add New Category</p>
</div>
</div>
</div>



{% endblock content %}

{% block closeForm %}
  </form>

  {# Hidden category input to clone when adding categories #}
  <div class="d-none jsMediaCategoryElement">
    {{ form.categoryInput([0]) }}
  </div>
{% endblock closeForm %}

{% block foot %}
	<script src="{{ basePath() }}/admin/js/media.js"></script>
{% endblock foot %}


{#
  Media Category Input
#}
{% macro categoryInput(category) %}
<div class="form-group jsMediaCategory">
  <input type="hidden" class="" name="category_id[{{ category.id }}]" value="{{ category.id }}">

  <input type="text" class="form-control mb-2" name="category_name[{{ category.id }}]" value="{{ category.category }}" placeholder="Category name" autocomplete="off">

  <button class="btn btn-danger btn-sm" type="button" name="button" value="{{ category.id }}" {% if not category.id %}disabled{% endif %}>Delete</button>
</div>
{% endmacro categoryInput %}