{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Media' %}

{% block contentHeader %}
<div class="content-header-inner">
 <!-- Bread Crumbs -->
 <div class="breadcrumb"></div>
 <!-- Section Title -->
 <h3 class="section-title">All Media</h3>
 <!-- Controls -->
 <div class="btn-group">
  <div class="btn-dropdown-block">
   <div class="btn btn-add btn-sm">
    <span>Add</span> <span><i class="fas fa-chevron-down"></i></span>
   </div>
   <div class="form-group-block-add">
    <div class="form-group">
     <a href="#">Media</a>
    </div>
    <div class="form-group">
     <a href="#">Category</a>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock contentHeader %}

{% block content %}

{{ include("@admin/media/_mediaSearchControls.html") }}

{{ include("@admin/media/_mediaList.html") }}

{% endblock content %}