{% extends '@admin/_adminBase.html' %}
{% import "@admin/media/_mediaCardMacro.html" as file %}

{% block htmlTitle 'Media' %}
{% block headText 'Media' %}
{% block sectionId 'media' %}

{% block sidebar %}
  {% include "@admin/media/_mediaSidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="card-wrapper">
  {% for media in page.media %}
  {{ file.mediaCard(media, page.categories, true) }}
  {% else %}
  <strong>No Media Found</strong>
  {% endfor %}
</div>
{% endblock content %}