html, body {
 // background-color: aqua !important;
 // @media screen and (min-width: $break-point-sm){
 //  background: lightseagreen !important;
 // }
 // @media screen and (min-width: $break-point-md){
 //  background: lightblue !important;
 // }
 // @media screen and (min-width: $break-point-lg){
 //  background: lightsalmon !important;
 // }
 // @media screen and (min-width: $break-point-xl){
 //  background: lavender !important;
 // }
}
html, body {
 height: 100%;
 background: $clr-light-grey;
}
body{
 @include padding(62px null null null);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.5;
  // @media screen and (min-width: $break-point-sm) {}

 // @media screen and (min-width: $break-point-md) {}

 // @media screen and (min-width: $break-point-lg) {}

 // @media screen and (min-width: $break-point-xl) {}
}
.section-title {
border-bottom: solid 2px $clr-medium-grey;
@include padding(null null .5em null);
@include margin(null null .5em null);
}
.page-edit-title{
 @include padding(null null .5em null);
 border-bottom: solid 2px $clr-medium-grey;
}
.content-block{
 @include padding(1em);
}
.alert-fixed {
 position: fixed;
 top: 100px;
 left: 0px;
 right: 0px;
 width: 100%;
 z-index: 99;
}
.icon {
 color: white;
 text-decoration: none;
 padding: 5px 10px;
 border-radius: 3px;

}

.icon-green {
 @include button-bg(green);
}

.icon-blue {
 @include button-bg(blue);
}

.icon-yellow {
 @include button-bg(gold);
}

.icon-red {
 @include button-bg(red);
}