/* Default Styles */

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
}

html,
body {
 width: 100%;
 height: 100%;
 background: $bg-accent;
}

body {
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 line-height: 1.6;

}

/* Html Element Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
 color: $clr-h;
 line-height: 1;
 font-weight: 600;
}

a {
 text-decoration: none;
 color: $clr-text;

 &:focus {
  outline: none;
 }

 &:hover {
  color: rgba($clr-text, .75);
 }
}

::selection {
 background-color: $clr-accent;
 color: $txt-light;
}

/* Utility Classes */
.nav-divider {
 width: 100%;
 height: 1px;
 background: rgba($clr-text, .25);
 @include margin(.25em null);
}

.span {
 grid-column: 1 / -1;
}

.badge {
 @include padding(.5em);
 // @include margin(.5em);
 width: 100%;
 height: 50%;
background: $bg-blue;
 border-radius: $border-radius;

 display: flex;
 justify-content: center;
 align-items: center;
 &-notify{
  background: $badge-notify;
  color: $txt-light;
 }
 &-success {
  background: $badge-success;
  color: $txt-light;
 }
 &-danger {
  background: $badge-danger;
  color: $txt-light;
 }
}
.published {
 color: green;
 text-transform: capitalize;
 font-weight: bold;
}

.draft {
 color: grey;
 text-transform: capitalize;
 font-weight: bold;
 font-size: 1rem !important;
}

.pending {
 color: gold;
 text-transform: capitalize;
 font-weight: bold;
}

.d-none {
 display: none !important;
}

.strong-text {
 font-weight: bold;
}

.text-required {
 color: $btn-red;
}

.text-danger {
 color: $btn-red !important;
 font-weight: bold;

}

.text-info {
 color: $btn-green;
 font-weight: bold;
}

.alert {
 @include padding(1.5rem);
 @include margin(calc(#{$nav-height * 2}) 5vw 0);
 border-radius: $border-radius;
 box-shadow: $box-shadow-2;
 background: $bg-light !important;

 display: grid;
 grid-template-columns: 1fr auto;
 display: relative;
 z-index: 50;

 transform: scale(1, 0);
 transform-origin: top;

 animation: fadeIn 250ms ease-in-out forwards;

 &__title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
 }

 &-danger {

  h4 {
   color: $btn-red;
  }
 }

 &-info {

  h4 {
   color: $btn-green;
  }
 }
}

@keyframes fadeIn {
 0% {
  opacity: 0;
  transform: scale(1, 0);

 }

 100% {
  opacity: 1;
  transform: scale(1, 1);

 }
}