/* Default Styles */

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
}

html,
body {
 width: 100%;
 height: 100%;
 background: $bg-light;
}

body {
 /* See typography.scss for font family */
 line-height: 1.6;
}
img {
 width: 100%;
 display: block;
}
/* Html Element Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
 color: $clr-accent;
 line-height: 1.1;
 font-weight: 400;
}

a {
 text-decoration: none;
 color: $text-dark;

 &:focus {
  outline: none;
 }

 &:hover {
  color: rgba($text-dark, .75);
 }
}

::selection {
 background-color: $clr-accent;
 color: $text-light;
}

/* Utility Classes */

.span {
 grid-column: 1 / -1;
}

.badge {
 @include padding(.5em);
 // @include margin(.5em);
 width: 100%;
 height: 50%;
 border-radius: $border-radius;

 display: flex;
 justify-content: center;
 align-items: center;

 &-notify {
  background: $clr-notify;
  color: $text-light;
 }

 &-success {
  background: $clr-success;
  color: $text-light;
 }

 &-danger {
  background: $clr-danger;
  color: $text-light;
 }
}

.published {
 color: $clr-success;
 text-transform: capitalize;

}

.draft {
 color:  $clr-draft;
 text-transform: capitalize;
}

.pending {
 color: $clr-warning;
 text-transform: capitalize;

}

.d-none {
 display: none !important;
}

.strong-text {
 font-weight: bold;
}

.text-required {
 color: $clr-danger;
}

.text-danger {
 color: $clr-danger !important;
 font-weight: bold;

}

.text-info {
 color: $clr-notify;
 font-weight: bold;
}

.alert {
 @include padding(1.5rem);
 @include margin(calc(#{$nav-height * 2}) 5vw 0);
 border-radius: $border-radius;
 box-shadow: $box-shadow-1;
 background: $bg-light !important;

 display: grid;
 grid-template-columns: 1fr auto;
 display: relative;
 z-index: 50;

 transform: scale(1, 0);
 transform-origin: top;

 animation: fadeIn 250ms ease-in-out forwards;

 &__title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 }

 &-danger {

  h4 {
   color: $clr-danger;
  }
 }

 &-info {

  h4 {
   color: $clr-success;
  }
 }
}

@keyframes fadeIn {
 0% {
  opacity: 0;
  transform: scale(1, 0);

 }

 100% {
  opacity: 1;
  transform: scale(1, 1);

 }
}

.collapsed {
 display: none;

 animation: collapse 250ms ease-in-out forwards;

}

@keyframes collapse {
 0% {
  opacity: 0;
 }

 100% {
  opacity: .25;
 }
}