.sidebar-inner {
 max-width: 175px;
 display: flex;
 flex-flow: column nowrap;
 text-align: center;
position: sticky;
top: 80px;

 .button-group {
  display: grid;
  gap: .5em;
  @include margin(null null 1em null);

 }
}
 /*  All Top / Left Sidebars */

 .sidebar {
  // @include padding(65px null null null);
  background: $clr-dark-grey;
  position: sticky;
  top: 0px;
  z-index: 5;

  @media screen and (min-width: 768px) {
   min-height: calc(100vh - 63px);
   position: static; 
  }

  .sidebar-inner {
   @include padding(.5em);
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

   @media screen and (min-width: 768px) {
    position: sticky;
    top: 63px;
    display: flex;
    flex-flow: column nowrap;
   }

   .sidebar-block {
    @include padding(.5em null);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   }
.sidebar-title{
@include padding(0);
@include margin(0);
}
   .button-group {
 

    @media screen and (min-width: 768px) {
    
    }

    .btn {
     // @include margin(null .75em null null);

     @media screen and (min-width: 768px) {
      width: 100%;
      // @include margin(1em 0 0 0);
     }
    }
   }
  }

  .sidebar-link {
   background: $clr-primary;
   color: $clr-text-light;
   @include margin(null 1.2em .5em null);
   @include padding(.25em .5em);
   border-radius: $border-radius;
   border: solid 1px $clr-bg-dark;

   // display: flex;
   // flex-flow: row nowrap;
   // justify-content: space-between;
   // align-items: center;

   display: grid;
   grid-template-columns: auto max-content auto;
 
   align-items: center;
   justify-content: center;

   &:hover {
    background: $clr-bg-dark;
    color: $clr-text-light;
    text-decoration: none;
   }

   a {
    @include padding(null .5em null null);
    width: 100%;
    color: $clr-text-light;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .5em;
    justify-content: center;
    align-items: center;

    &:hover {
     background: $clr-bg-dark;
     color: $clr-text-light;
     text-decoration: none;
    }
   }

   @media screen and (min-width: 768px) {
    @include margin(0 0 .5em 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
   }

  }

  .fa-info-circle:hover {
   cursor: pointer;
   color: $clr-dark-grey;
  }
 }