.scroll-container {
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
  height: calc(100vh - 56px);
}

.small-sidebar-text {
  font-size: 0.8rem;
  font-style: italic;
  padding-left: 1rem !important;
}
