// Utilities

.text-small {
 font-size: .5em; 
}
.span {
 grid-column: 1 / -1;
}
.span2-rows {
grid-row: span 2;
}

/***** MDE Styles ********/

/****** Use this to resize default height of textarea within editor *****/
.CodeMirror, .CodeMirror-scroll {
 min-height: 75px !important;
}
