{# Page and Collection Macros #}

{#
  Edit Element Form

  Returns one element
  @param arrayKey     Each element gets a unique arrayKey set to keep those inputs together on save.
  @param elementTypes List of available elements to select
  @param enableInput  Flag to enable optional input, textarea, or selects
#}

{% macro elementForm(element, blockKey, elementTypeOptions, loopIndex = 1) %}
{% import '@admin/settings/_editSettingInputMacro.html' as settingMacro %}
{% set arrayKey = element.id ?? uniqueKey() %}
{% set elementTypes = getElements() %}
{% set enableInput = elementTypes[element.template].enableInput %}

<div draggable="true" class="toggle-block" id="page-element-{{ arrayKey }}" data-element="parent" data-collapse="parent">
  <input type="hidden" name="element_id[{{ arrayKey }}]" value="{{ element.id }}">
  <input type="hidden" name="block_key[{{ arrayKey }}]" value="{{ blockKey }}">
  <input type="hidden" name="element_template[{{ arrayKey }}]" value="{{ element.template }}">

  <!-- Element Title -->
  <div class="toggle-block__header toggle-block__header-secondary">
   <h4 class="toggle-block__title secondary-title">{% if element.id %}{{ element.title }} {% else %} New Element <span class="small-text">&nbsp;&nbsp;unsaved</span>{% endif %}</h4>
   <div class="small-text">{{ element.definition.elementName }}</div>
   <i class="fas fa-chevron-down toggle-block__toggle" data-collapse="toggle"></i>
  </div>

  <div class="form-block__elementWrapper {% if element.id %}collapsed{% endif %}" data-collapse="target">
    <div class="form-block">
      <label class="form-block__title">Element Title</label>
      <input type="text"  name="element_title[{{ arrayKey }}]" value="{{ element.title }}"
        placeholder="Element Title" autocomplete="off">
    </div>

    {# Element custom settings #}
    {% for setting in element.settings %}
      {{ settingMacro.settingInput(setting) }}
    {% endfor %}

    {# Element Content Area #}
    <div class="form-block ">
      <label class="form-block__title">Element Content</label>
      <textarea  data-mde="1" rows="5" name="content_raw[{{ arrayKey }}]">{{ element.content_raw }}</textarea>
    </div>

    {# Embedded HTML #}
    <div class="form-block {% if enableInput == 'embedded' %}d-block{% else %}d-none{% endif %}" data-element-input-option="embedded">
      <label class="form-block__title">Embedded HTML</label>
      <textarea  rows="3" name="embedded[{{ arrayKey }}]">{{ element.embedded }}</textarea>
      <small class="form-text text-muted">Enter embedded HTML.</small>
    </div>

    {# Media Select Option

    Allows user to select a saved media file to link with this block element.
    This media selector is displayed if the JSON block element definition file has "enableInput": "image" set.
    Selecting an image sets the media table ID in the element_media_id input.
    #}
    <div class="form-block mediaInput {% if enableInput == 'image' %}d-block{% else %}d-none{% endif %}"
      data-element-input-option="image" data-media-select="1">

      <img src="{{ getMediaPath(element.media.filename, 'large') }}"
        class="{% if not element.media.filename %}d-none{% endif %}">

      <input type="hidden"  name="element_media_id[{{ arrayKey }}]"
        value="{{ element.media.id }}">
      <label class="form-block__title">Media</label>

      <div class="btn-group-pageEdit">
        <button class="btn btn-delete" type="button" data-media-clear="1">Clear Media</button>
        <button class="btn btn-save" type="button" data-media-modal="1">Select Media</button>
      </div>

    </div>

    {# Collection Select #}
    <div class="form-block {% if enableInput == 'collection' %}d-block{% else %}d-none{% endif %}"
      data-element-input-option="collection">
      <label class="form-block__title">Collection</label>
      <select class="minimal" name="element_collection_id[{{ arrayKey }}]"
        {% if enableInput == 'collection' %}required{% endif %}>
        <option value="">- None -</option>
        {% for c in getCollections() %}
        <option value="{{ c.id }}" {% if c.id == element.collection_id %}selected{% endif %}>
          {{ c.collection_title }}
        </option>
        {% endfor %}
      </select>
    </div>

    {# Gallery Category Select #}
    <div class="form-block {% if enableInput == 'gallery' %}d-block{% else %}d-none{% endif %}"
    data-element-input-option="gallery">
      <label class="form-block__title">Gallery</label>
      <select class="minimal" name="element_gallery_id[{{ arrayKey }}]" {% if enableInput == 'gallery' %}required{% endif %}>
        <option value="">- None -</option>
        {% for id, cat in getMediaCategories() %}
        <option value="{{ id }}" {% if id == element.gallery_id %}selected{% endif %}>{{ cat }}</option>
        {% endfor %}
      </select>
    </div>

  <button class="btn btn-delete " type="button"
    data-delete-element-prompt="Are you sure you want to permanently delete this element?"
    data-element-id="{{ element.id }}"
    title="Delete element">Delete Element</button>

  </div><!-- /.form-block__elementWrapper -->

</div>
{% endmacro elementForm %}


{# Page List Item Row

For the summary display of either pages or collection detail pages

@param pageItem Page object
#}
{% macro pageListItem(pageItem) %}
{% if pageItem.media_id %}
{% set thumbnailSource = getMediaPath(pageItem.media.filename, "thumb") %}
{% else %}
{% set thumbnailSource = "/admin/img/noFeatureImg.png" %}
{% endif %}

<a class="list-item-page" href="{{ pathFor('adminPageEdit', {'id': pageItem.id}) }}">
  <div class="list-item-page-item media"><img src="{{ thumbnailSource }}" alt=""></div>
  <div class="list-item-page-item title" title="{{ pageItem.title }}">{{ pageItem.title }}</div>
  <div class="list-item-page-item status {{ pageItem.getPublishedStatus() }}">
    {{ pageItem.getPublishedStatus()|capitalize }}</div>
  <div class="list-item-page-item template">{{ pageItem.template_name }}</div>
  <div class="list-item-page-item collection">{{ pageItem.collection_title|default('Page') }} </div>
</a>

{% endmacro pageListItem %}

{#
  Page Status Filter

  Returns select list of page status that trigger a page reload to filter results
#}
{% macro pageStatusFilter() %}
<select class="form-control ml-auto jsPageStatusFilter">
  {% set param = getQueryParam('pageStatus') %}
  <option value="x">Status&hellip;</option>
  <option value="all" {% if param == 'all' %}selected{% endif %}>All Pages</option>
  <option value="draft" {% if param == 'draft' %}selected{% endif %}>Draft</option>
  <option value="pending" {% if param == 'pending' %}selected{% endif %}>Pending</option>
  <option value="published" {% if param == 'published' %}selected{% endif %}>Published</option>
</select>
{% endmacro %}