{#
  Page and Collection Macros

  Contains Twig macros for reusable HTML with pages and collections administration
#}

{#
  Edit Element Form

  Returns one block element.
  @param arrayKey     Each block element gets a unique arrayKey set to keep those inputs all together on save.
  @param elementTypes List of available elements to select
  @param enableInput  Flag to enable optional input, textarea, or collection select for saved elements
#}
{% macro elementForm(element, blockKey, elementTypeOptions) %}

  {% set arrayKey = element.id ?? uniqueKey() %}
  {% set elementTypes = getElements() %}
  {% set enableInput = '' %}
  {% for e in elementTypes %}
  {% if e.filename == element.definition %}
  {% set enableInput = e.enableInput %}
  {% endif %}
  {% endfor %}

  <div class="jsElementParent" id="page-element-{{ arrayKey }}">
  <input type="hidden" name="element_id[{{ arrayKey }}]" value="{{ element.id }}">
  <input type="hidden" name="block_key[{{ arrayKey }}]" value="{{ blockKey }}">

  <div class="form-group input-group">
    <div class="input-group-prepend">
    <span class="input-group-text">Element Order</span>
    </div>
    <input type="text" class="form-control jsElementSortValue" name="element_sort[{{ arrayKey }}]"
    value="{{ element.element_sort|default('1') }}">
  </div>

  <div class="form-group form-inline jsElementType">
    <label>Element Type&nbsp;<span class="text-danger">*</span>:&nbsp;</label>
    {% for elem in elementTypes %}
    {% if (elementTypeOptions and elem.filename in elementTypeOptions) or (not elementTypeOptions) %}
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]"
      id="{{ arrayKey }}-{{ elem.filename }}" value="{{ elem.filename }}" data-enable-input="{{ elem.enableInput }}"
      {{ checked(element.definition == elem.filename) }} required>
    <label class="form-check-label" for="{{ arrayKey }}-{{ elem.filename }}">{{ elem.elementName }}</label>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="element_title[{{ arrayKey }}]" value="{{ element.title }}"
    placeholder="Element Title" autocomplete="off">
  </div>

  <div class="form-group mb-0">
    <label>Content</label>
    <textarea class="form-control jsMDE" rows="5" name="content_raw[{{ arrayKey }}]">{{ element.content_raw }}</textarea>
  </div>
  <div
    class="form-group jsElementOption jsEmbeddedInput {% if enableInput == 'embedded' %}d-block{% else %}d-none{% endif %}">
    <label>Embedded HTML</label>
    <textarea class="form-control" rows="3" name="embedded[{{ arrayKey }}]">{{ element.embedded }}</textarea>
    <small class="form-text text-muted">Enter embedded HTML.</small>
  </div>

  {#
        Media Select Option

        Allows user to select a saved media file to link with this block element.
        This media selector is displayed if the JSON block element definition file has "enableInput": "image" set.
        Selecting an image sets the media table ID in the element_media_id input.
  #}
  <div class="form-group jsElementOption jsMediaInput mediaInput {% if not enableInput == 'image' %}d-none{% endif %}">
    <img src="{{ getMediaPath(element.media.filename, 'large') }}"
    class="img-fluid {% if not element.media.filename %}d-none{% endif %}">
    <input type="hidden" class="form-control jsMediaInputField" name="element_media_id[{{ arrayKey }}]"
    value="{{ element.media.id }}">
    <label>Media</label>
    <div class="input-group" style="padding-top: 1em">
    <button class="btn btn-sm btn-outline-info jsSelectMediaFile" type="button">Select Media</button>&nbsp;
    <button class="btn btn-sm btn-outline-danger jsMediaClear" type="button">Clear Media</button>
    </div>
  </div>

  {#
    Collection Select
  #}
  <div
    class="form-group jsElementOption jsCollectionInput {% if enableInput == 'collection' %}d-block{% else %}d-none{% endif %}">
    <label>Collection</label>
    <select class="form-control" name="element_collection_id[{{ arrayKey }}]"
    {% if enableInput == 'collection' %}required{% endif %}>
    <option value="">- None -</option>
    {% for c in getCollections() %}
    <option value="{{ c.id }}" {% if c.id == element.collection_id %}selected{% endif %}>
      {{ c.collection_title }}
    </option>
    {% endfor %}
    </select>
  </div>

  {#
    Gallery Categor Select
  #}
  <div
    class="form-group jsElementOption jsGalleryInput {% if enableInput == 'gallery' %}d-block{% else %}d-none{% endif %}">
    <label>Gallery</label>
    <select class="form-control" name="element_gallery_id[{{ arrayKey }}]"
    {% if enableInput == 'gallery' %}required{% endif %}>
    <option value="">- None -</option>
    {% for c in getMediaCategories() %}
    <option value="{{ c.id }}" {% if c.id == element.gallery_id %}selected{% endif %}>{{ c.category }}</option>
    {% endfor %}
    </select>
  </div>

  <div class="span">
    <button class="btn btn-outline-danger btn-sm jsDeleteBlockElement mt-0" type="button" data-element-id="{{ arrayKey }}"
    title="Delete element.">Delete Element</button>
  </div>

  </div>
  <hr>
{% endmacro elementForm %}

{#
  Sidebar Template Links

  Displays a single template link
  @param template Template object
  @param linkName Either 'adminEditPage' or 'adminEditCollectionPage'
#}
{% macro templateLink(template, linkName) %}

  <div class="sidebar-link">
    <a href="{{ pathFor(linkName, {}, {'definition': template.filename}) }}" title="{{ template.description }}">
      <i class="fas fa-edit"></i>
      <div class="sidebar-link__text">{{ template.name }}</div>
    </a>
    <i class="fas fa-info-circle" tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="right"
      data-content="{{ template.description }}"></i>
  </div>

{% endmacro templateLink %}

{#
  Page Liste Item Row

  For the summary display of either pages or collection detail pages
  @param pageItem Page object
  @param linkName Either 'adminEditPage' or 'adminEditCollectionPage'
#}
{% macro pageListItem(pageItem, linkName) %}

  <div class="page-list">
    <div class="page-list__title">
      <span title="{{ pageItem.title }}" >{{ pageItem.title }}</span>
    </div>

    <div class="page-list__body">
      {% if pageItem.getPublishedStatus() == 'draft' %}
      <p>
       <span class="badge badge-secondary" title="Not published">Draft {{ pageItem.published_date|date }}</span> 
       <span class="page-list__url">| URL: <code>{{ pageItem.collection_slug ? '/' ~ pageItem.collection_slug}}/{{ pageItem.page_slug }}</code> </span>
       <span>| Template: <code>{{ pageItem.definition }}</code> </span>
      </p>
    
      {% elseif pageItem.getPublishedStatus() == 'pending' %}
      <p> 
       <span class="badge badge-warning" title="Pending publish on {{ pageItem.published_date|date }}">Pending {{ pageItem.published_date|date }}</span> 
       <span class="page-list__url">| URL: <code>{{ pageItem.collection_slug ? '/' ~ pageItem.collection_slug}}/{{ pageItem.page_slug }}</code> </span>
       <span>| Template: <code>{{ pageItem.definition }}</code></span> 
      </p>
      
      {% elseif pageItem.getPublishedStatus() == 'published' %}
      <p>
       <span class="badge badge-success" title="Published on {{ pageItem.published_date|date }}">Published {{ pageItem.published_date|date }}</span>
       <span class="page-list__url">| URL: <code>{{ pageItem.collection_slug ? '/' ~ pageItem.collection_slug}}/{{ pageItem.page_slug }}</code> </span>
       <span>| Template: <code>{{ pageItem.definition }}</code></span>
       </p>

      {% endif %}
    </div>

    <div class="page-list__action">
      <a class="" href="{{ pathFor(linkName, {'id': pageItem.id}) }}">Edit Page</a>
    </div>
  </div>

{% endmacro pageListItem %}
