{# Summary card for Pages and Collection Pages #}


<div class="page-list">
  <div class="page-list__title">
   <span>
    {{ p.title }}
   </span>  <i class="fas fa-info-circle" tabindex="0" data-toggle="popover" data-trigger="focus"
     data-content="{{ p.meta_description|default('Missing Meta Description!') }}"></i>
  </div>
 
<div class="page-list__body">
  {% if p.getPublishedStatus() == 'draft' %}
  <p><span class="text-secondary">Status: Draft</span> | URL: <code>{{ p.collection_slug ? '/' ~ p.collection_slug}}/{{ p.page_slug }}</code> | Template: 
   <code>{{ p.definition }}</code> | <span>Published on {{ p.published_date|date }}</span> </p>
  <!-- <span class="badge badge-secondary" title="Not published">Draft</span> -->
  {% elseif p.getPublishedStatus() == 'pending' %}
  <p><span class="text-warning">Status: Pending</span> | URL: <code>{{ p.collection_slug ? '/' ~ p.collection_slug}}/{{ p.page_slug }}</code> | Template: 
   <code>{{ p.definition }}</code> | <span>Published on {{ p.published_date|date }}</span> </p>
  <!-- <span class="badge badge-warning" title="Pending publish on {{ p.published_date|date }}">Pending</span> -->
  {% elseif p.getPublishedStatus() == 'published' %}
  <p><span  class="text-success">Status: Published</span> | URL: <code>{{ p.collection_slug ? '/' ~ p.collection_slug}}/{{ p.page_slug }}</code> | Template: 
  <code>{{ p.definition }}</code> | <span>Published on {{ p.published_date|date }}</span> </p>
  
  {% endif %}


</div>
<div class="page-list__action">
  {% set editRoute = page.type == 'page' ? 'adminEditPage' : 'adminEditCollectionPage' %}
  <a class="" href="{{ pathFor(editRoute, {'id': p.id}) }}">Edit Page</a>
  </div>
  </div>