{% extends '@admin/_adminBase.html' %}
{% import '@admin/pages/_pageMacros.html' as pageMacro %}

{#
  Show Collection Detail Pages

#}
{% block htmlTitle 'Collection' %}
{% block headText 'Collection Pages' %}
{% block sectionId 'collections' %}

{% block content %}
  <div class="content-block">
    <div class="section-title form-inline mt-0">
      <h3>
        {{ page.collection_title|default('All Collection') }} Pages
        {# Only include edit collection group link if viewing a specific named collection #}
        {% if page.collection_id %}
        <a class="text-small" href="{{ pathFor('adminCollectionEdit', {'id': page.collection_id}) }}" title="Edit {{ page.collection_title }} collection group">Edit</a>
        {% endif %}
      </h3>

      <select class="form-control ml-auto jsCollectionPageFilter">
        <option value="x">Filter...</option>
        <option value="">All Collection Pages</option>
        {% for col in getCollections() %}
        <option value="{{ col.collection_slug }}" {% if page.collection_id == col.id %}selected{% endif %}>{{ col.collection_title }}</option>
        {% endfor %}
      </select>
    </div>

    {# Only include add collection detail page link if viewing a specific named collection #}
    {% if page.collection_id %}
    <a href="{{ pathFor('adminCollectionPageEdit', {}, {'definition': page.collection_definition, 'collectionId': page.collection_id}) }}" title="Add collection detail page">Add
      {{ page.collection_title }} Page
    </a>
    {% endif %}

    <div class="list-items-wrapper">
      {% for p in page.pages %}
        {# From _pageMacros #}
        {{ pageMacro.pageListItem(p, 'adminCollectionPageEdit') }}
      {% else %}
        <h5>No Pages Found</h5>
      {% endfor %}
    </div>
    {{ pagination() }}
  </div>
{% endblock content %}

{% block foot %}
<script src="{{ basePath() }}/admin/js/page.js"></script>
{% endblock foot %}