{% extends '@admin/_adminBase.html' %}
{% import '@admin/pages/_pageMacros.html' as pageMacro %}

{#
  Show Collection Detail Pages

#}
{% block htmlTitle 'Collection' %}
{% block headText 'Collection Pages' %}
{% block sectionId 'collections' %}

{% block content %}
  <div class="content-block">
    <h3 class="section-title">{{ page.collection_title|default('All Collection') }}
      Pages
      {# Only include edit collection group link if viewing a specific named collection #}
      {% if page.collection_id %}
      <a class="text-small" href="{{ pathFor('adminCollectionEdit', {'id': page.collection_id}) }}" title="Edit collection group">Edit</a>
      {% endif %}
    </h3>

    {# Only include add collection add detail page link if viewing a specific named collection #}
    {% if page.collection_id %}
    <a href="{{ pathFor('adminCollectionPageEdit', {}, {'definition': page.collection_definition, 'collectionId': page.collection_id}) }}" title="Add collection detail page">Add
      {{ page.collection_title }} Page
    </a>
    {% endif %}

    <div class="list-items-wrapper">
      {% for p in page.pages %}
        {# From _pageMacros #}
        {{ pageMacro.pageListItem(p, 'adminCollectionPageEdit') }}
      {% else %}
        <h5>No Pages Found</h5>
      {% endfor %}
    </div>
    {{ pagination() }}
  </div>
{% endblock content %}
