{% extends '@admin/_adminBase.html' %}
{% import '@admin/pages/_pageMacros.html' as pageMacro %}

{#
  Show All Collection Detail Pages

  Shows two collection detail page displays:
  - Loop through available collections with top 1..n collection detail pages,
    with see more link, and add collection detail page
  - All collection detail pages for a specific collection with pagination
#}
{% block htmlTitle 'Collection' %}
{% block headText 'Manage Collection Pages' %}
{% block sectionId 'collections' %}

{% block sidebar %}
    <div class="">
        <a href="{{ pathFor('adminEditCollection') }}" title="Create collection">Create Collection</a>
    </div>
{% endblock sidebar %}

{% block content %}
  {% if page.type == 'collection' and page.collections %}
    {# Show the most recent 5 collection detail pages first #}
    {% for c in page.collections %}
      <h3>{{ c.collection_title }} Pages</h3>
      <a href="{{ pathFor('adminEditCollection', {'id': c.id}) }}" title="Edit collection group">Edit {{ c.collection_title }}</a> |
      <a href="{{ pathFor('adminEditCollectionPage', {}, {'definition': c.collection_definition, 'collectionId': c.id}) }}" title="Add collection detail page">Add {{ c.collection_title }} Detail Page</a>

      <div class="list-items-wrapper">
        {# Change slice() to number of desired items to display #}
        {% for p in page.pages|slice(0, 5) %}
          {% if p.collection_id == c.id %}
            {# From _pageMacros #}
            {{ pageMacro.pageListItem(p) }}
          {% endif %}
        {% else %}
          <h5>No Collection Pages Found</h5>
        {% endfor %}
        <hr>
        <a class="muted-text" href="{{ pathFor('adminCollections', {'collectionSlug': c.collection_slug}) }}">See All {{ c.collection_title }} Pages</a>
      </div>
      <hr>
    {% else %}
    <h5>No Collections Found</h5>
    {% endfor %}
    {# End page.collections loop #}

  {% elseif page.type == 'collectionAll' %}
    {# If the request is to see more pages in this collection detail set #}
    <h3>{{ page.collection_title }} Pages</h3>
    <div class="list-items-wrapper">
      {% for p in page.pages %}
        {# From _pageMacros #}
        {{ pageMacro.pageListItem(p) }}
      {% else %}
      <h5>No Pages Found</h5>
      {% endfor %}
    </div>
    {{ pagination() }}

  {% endif %}
{% endblock content %}
