{% extends '@admin/_adminBase.html' %}

{#
    Edit Collection Title and Slug

    Create, update or delete collections.
    Cannot delete a collection until all assigned pages are removed
#}
{% block htmlTitle %}
{% if page.collection.id %}Edit {% else %}Add {% endif %} Collection
{% endblock htmlTitle %}

{% block openForm %}
<form class="jsEditCollection" action="{{ pathFor('adminCollectionSave') }}" method="post" accept-charset="utf-8">
 <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
 {% endblock openForm %}

 {% block contentHeader %}

 <div class="content-header-inner">
  <div class="breadcrumb"></div>
  <h3 class="section-title">Edit Collection</h3>
  <div class="btn-group">
   <a class="btn btn-cancel btn-sm jsFormCancelButton"
    href="{{ pathFor('adminCollection', {'id': page.collection.id}) }}">Discard</a>
   <button type="submit" name="button" class="btn btn-save btn-sm jsFormSaveButton" value="save">Save</button>
  </div>
 </div>

 {% endblock contentHeader %}


 {% block content %}
 <div class="content-block">
  <h3 class="section-title">{% if page.collection.id %}Edit
   {{ page.collection.collection_title }}{% else %}Add{% endif %} Collection</h3>
  <div class="lead">Used by <a
    href="{{ pathFor('adminCollection', {'collectionSlug': page.collection.collection_slug}) }}">{{ page.collection.page_count }}</a>
   Pages</div>
  <hr>

  <div class="jsCollectionGroup form-group-wrapper">
   <input type="hidden" name="collection_id" value="{{ page.collection.id }}">
   <div class="form-group">
    <label>Collection Title</label>
    <input type="text" class="form-control jsPageTitle" name="collection_title"
     value="{{ page.collection.collection_title }}" maxlength="60" placeholder="Collection title" required
     autocomplete="off">
   </div>
   {#
     When to Set or Update the Collection URL Slug

     The collection URL slug is created from the collection title, but cleaned (replace &, -, and spaces with dashes, and to lower case).
     Rules:
     - A collection with 1 or more assigned pages (page_count > 0) should be locked
     - Never change a locked collection slug. Allow unlock but warn the user

     Set readonly and locked status as Twig variables to keep logic understandable.
   #}

   {% if page.collection.page_count > 0 %}
   {% set readonlyStatus, lockedStatus = 'readonly', 'lock' %}
   {% else %}
   {% set readonlyStatus, lockedStatus = '', 'unlock' %}
   {% endif %}

   <script>
    pitonConfig.pageSlugLocked = `{{ lockedStatus }}`
   </script>

   <div class="form-group">
    <label>Collection Slug <span class="text-danger">*</span></label>
    <div class="input-group">
     <input type="text" class="form-control jsUrlSlug" name="collection_slug" maxlength="100"
      placeholder="Collection URL slug" value="{{ page.collection.collection_slug }}" required {{ readonlyStatus }}
      autocomplete="off">
     <div class="input-group-append jsUrlSlugFaLockStatus">
      <span class="input-group-text"><i class="fas fa-{{ lockedStatus }}"></i></span>
     </div>
    </div>
    <small class="form-text text-muted">Collection URL segment for collection. Warning, changing the collection URL
     slug
     after publishing collection detail pages may negatively impact links to your page.</small>
   </div>
   <div class="form-group span">
    <label>Collection Template</label>
    <select class="form-control" name="collection_definition"
     {# Only allow change of template if there are no pages assigned, set to readonly otherwise #}
     {% if page.collection.page_count > 0 %}disabled{% endif %}>
     {% for t in page.templates %}
     <option value="{{ t.filename }}" {% if t.filename == page.collection.collection_definition %}selected{% endif %}>
      {{ t.name }}</option>
     {% endfor %}
    </select>
   </div>
  </div>
  <div class="btn-group-bottom">
    {% if page.collection.id %}
    <button class="btn btn-delete btn-block jsDeleteConfirm" type="submit"
     formaction="{{ pathFor('adminCollectionDelete') }}" value="delete"
     {% if page.collection.page_count > 0 %}
      disabled title="You must remove all detail pages assigned to this collection before deleting"
     {% endif %}
     >Delete Page</button>
    {% endif %}
   </div>
 </div>
 {% endblock content %}

 {% block closeForm %}
</form>
{% endblock closeForm %}
