{% extends '@admin/_adminBase.html' %}
{% import "@admin/pages/_pageMacros.html" as pageMacro %}
{% import '@admin/tools/_editSettingInputMacro.html' as settingForm %}

{% block htmlTitle %}
{% if page.id %}Edit {% else %}Add {% endif %} Page
{% endblock %}

{% block headText %}
{% if page.id %}Editing {% else %}Add {% endif %}
{{ page.title|default(page.definition.templateName) }}
{% endblock %}

{% block content %}

 {# Media Modal Selector #}
 {# {% include "@admin/pages/_pageEditModal.html" %} #}

 <div class="jsEditPageContainer page-edit-wrapper">
  <!-- Left Column Page Edit -->
  <div class="page-edit__leftCol">
 {# Page Blocks and Elements #}
 {# Outer loop: All blocks defined in the JSON page definition file #}
   {% for blockDefinition in page.definition.blocks %}

   <div class="element-block-wrapper">
   <input type="checkbox" name="element-toggle" class="element-toggle" id="element-toggle">
   <label for="element-toggle" class="element-toggle-label">

     <div class="page-edit-icon"><i class="fas fa-chevron-down"></i></div>
    </label>
    <div class="page-edit-title page-edit-title-wrapper">
     <h4>{{ blockDefinition.name }}</h4>
    </div>

    <div class="jsBlockParent page-edit-content-wrapper" id="{{ blockDefinition.key }}">
     {# Inner loop: All loaded elements by block key #}
     {% for element in page.blocks[blockDefinition.key] %}
     {{ pageMacro.elementForm(element, blockDefinition.key, blockDefinition.elementTypeOptions, loop.index) }}
     {% else %}
     {% set noElementFlag = true %}
     {% endfor %}
     <p class="jsNoElementFlag {% if noElementFlag %}d-block{% else %}d-none{% endif %}">There is no content in this block.</p>
     {# End for page.blocks loop #}
    </div>
    </div>
   
   {% endfor %}
   {# End for page.definition.blocks loop #}
 </div>
 
















  <!-- right Column Page Edit -->
  <div class="page-edit__rightCol">
   <h4 class="page-edit-title">Page Settings</h4>
   {% if page.page_slug == 'home' or page.getPublishedStatus == 'published' %}
   {% set readonlyStatus, lockedStatus = 'readonly', 'lock' %}
   {% else %}
   {% set readonlyStatus, lockedStatus = '', 'unlock' %}
   {% endif %}

   <script>
    pitonConfig.pageSlugLocked = `{{ lockedStatus }}`
   </script>

<div class="element-block-wrapper">
 <div class="form-group-pageEdit">
  <label>Slug <span class="text-required">*</span></label>
  
   {% if page.collection_slug %}
   <div class="input-group-prepend">
    <span class="input-group-text">{{ page.collection_slug }}/</span>
   </div>
   {% endif %}
   <input type="text" class="form-control jsUrlSlug" name="page_slug" maxlength="100" placeholder="URL slug"
    value="{{ page.page_slug }}" required {{ readonlyStatus }} autocomplete="off">
   <div class="input-group-append jsUrlSlugFaLockStatus">
    <span class="input-group-text"><i class="fas fa-{{ lockedStatus }}"></i></span>
   </div>
  
  <small class="form-text text-muted">URL link to page. The <code>home</code> URL is restricted from being
   changed. Warning, changing the URL slug after the page is published may negatively impact links to your
   page.</small>
 </div>

 <div class="form-group-pageEdit">
  <label>Meta Description</label>
  <input type="text" class="form-control" name="meta_description" maxlength="320"
   placeholder="Description to appear in search results" value="{{ page.meta_description }}">
  <small class="form-text text-muted">Limit 320 characters. Search engines may use this text in matching
   search
   results.</small>
 </div>

 {# Page Header Featured Media Select Option

 Allows user to select a saved media file to link as featured image for this page.
 Selecting an image sets the media table ID in the page_media_id input
 #}

 {% if page.definition.showFeaturedImage|default(1) %}
 <hr>
 <div class="form-group-pageEdit jsMediaInput">
  <img src="{{ getMediaPath(page.media.filename, 'large') }}"
   class="img-fluid {% if not page.media.filename %}d-none{% endif %}">
  <input type="hidden" class="form-control jsMediaInputField" name="page_media_id" value="{{ page.media_id }}">
  <label>Featured Page Image</label>

  <div class="btn-group">
   <button class="btn btn-sm btn-save jsSelectMediaFile" type="button">Select Media</button>&nbsp;
   <button class="btn btn-sm btn-delete jsMediaClear" type="button">Clear Media</button>
  </div>
 </div>
 {% endif %}

<!-- Custom Settings Tab -->
 {% if page.settings %}
 <hr>
 <h4 class="page-edit-title">Custom Page Settings</h4>
 {% for setting in page.settings %}
 {{ settingForm.settingInput(setting) }}
 {% endfor %}
 {% endif %}

</div>
</div>
 </div>



 <div class="btn-group">
  {% if page.id %}
  <button class="btn btn-delete btn-sm jsDeleteConfirm" type="submit" formaction="{{ pathFor(page.route.pageDelete) }}"
   {% if page.page_slug == 'home' %}disabled title="The home page cannot be deleted." {% endif %}>Delete Page</button>
  {% endif %}
 </div>
</form>
{% endblock content %}

{% block sidebarLeft %}
<nav class="navbar" id="page-edit-nav">
 <nav class="nav flex-column">
  <a class="nav-link" href="#page-settings-nav">Page Settings</a>
  {% if page.settings %}
  <a class="nav-link" href="#page-custom-settings-nav">Custom Settings</a>
  <nav class="nav flex-column">
   {% for setting in page.settings %}
   <a class="small-sidebar-text nav-link ml-3" href="#page-setting-{{ setting.setting_key }}">{{ setting.label }}</a>
   {% endfor %}
  </nav>
  {% endif %}

  {% for block in page.definition.blocks %}
  <a class="nav-link" href="#page-block-{{ block.key }}">{{ block.name }}</a>

  <nav class="nav flex-column jsPageSubBlock-{{ block.key }}">
   {% for element in page.elements %}
   {% if element.block_key == block.key %}
   <a class="small-sidebar-text nav-link ml-3"
    href="#page-element-{{ element.id }}">{{ element.title|default('content') }}</a>
   {% endif %}
   {% endfor %}
  </nav>
  {% endfor %}
 </nav>
</nav>
{% endblock sidebarLeft %}

{% block foot %}
<script src="{{ basePath() }}/admin/js/page.js"></script>
{% endblock foot %}


{% block sidebar %}
{# Add Element Button #}
<div class="sidebar-block">
 {% for blockDefinition in page.definition.blocks %}
 {% set maxElements = (page.blocks[blockDefinition.key]|length|default(0) >= blockDefinition.elementCountLimit|default(100)) %}

 <div class="sidebar-block-item">
  <strong>{{ blockDefinition.name }}</strong>
  <button class="btn btn-outline-success btn-sm  jsAddElement" type="button" id="button-{{ blockDefinition.key }}"
   data-block-key="{{ blockDefinition.key }}" data-element-type="{{ blockDefinition.elementTypeDefault }}"
   data-element-type-options="{{ blockDefinition.elementTypeOptions|join(',') }}"
   data-element-count-limit="{{ blockDefinition.elementCountLimit }}"
   data-element-count="{{ page.blocks[blockDefinition.key]|length|default(0) }}" {% if maxElements %}disabled
   title="Page block has the maximum number of elements allowed by design." {% endif %}>Add Element</button>
 </div>
 {% endfor %}
</div>
{% endblock sidebar %}

{% block contentHeader %}
<form action="{{  pathFor(page.route.pageAction) }}" method="post" accept-charset="utf-8">
 <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
 <input type="hidden" name="page_id" value="{{ page.id }}">
 <input type="hidden" name="collection_id" value="{{ page.collection_id }}">
 <input type="hidden" name="collection_slug" value="{{ page.collection_slug }}">
 <input type="hidden" name="template" value="{{ page.template }}">
 <!-- Content Header Control Bar -->
 <div class="content-header-inner">
  <!-- Breadcrumbs -->
  <div class="breadcrumb"></div>
  <!-- Section Title -->
  <h3 class="section-title">Add/Edit Page</h3>
  <!-- Control Buttons -->
  <div class="btn-group">
   <a class="btn btn-cancel btn-sm" type="cancel" href="{{ pathFor(page.route.pageCancel) }}">Cancel</a>
   <button class="btn btn-save btn-sm" type="submit" title="Save page">Save</button>
   <button class="btn btn-publish btn-sm" type="submit" name="publish_now" title="Save page and publish now">Publish
    Now</button>
  </div>
 </div>
 {% endblock contentHeader %}