{% extends '@admin/_adminBase.html' %}
{% import "@admin/pages/_pageMacros.html" as pageMacro %}
{% import '@admin/tools/_editSettingInputMacro.html' as settingForm %}

{# {% block mainClass 'contentTwoCol' %} #}

{% block htmlTitle %}
{% if page.id %}Edit {% else %}Add {% endif %} Page
{% endblock %}

{% block headText %}
{% if page.id %}Edit {% else %}Add {% endif %}
{% if page.type == 'collection' %}Collection {% endif %}
{{ page.title|default(page.json.templateName) }}
{% endblock %}

{% block sectionId %}
{% if page.type == 'collection' %}collectionDetail{% else %}editPage{% endif %}
{% endblock sectionId %}

{# Set correct form action route depending on whether this is for a page, or for a collection #}
{% if (page.type == 'page') %}
{% set pageAction, pageDeleteAction, pageCancelLink = 'adminPageSave', 'adminPageDelete', 'adminPage' %}
{% else %}
{% set pageAction, pageDeleteAction, pageCancelLink = 'adminCollectionPageSave', 'adminCollectionPageDelete', 'adminCollection' %}
{% endif %}

{% block openForm %}
<form action="{{  pathFor(pageAction) }}" method="post" accept-charset="utf-8">
 <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
 <input type="hidden" name="page_id" value="{{ page.id }}">
 <input type="hidden" name="collection_id" value="{{ page.collection_id }}">
 <input type="hidden" name="definition" value="{{ page.definition }}">
 <input type="hidden" name="template" value="{{ page.json.templateFile }}">
 {% endblock openForm %}

 {% block sidebar %}
 <div class="sidebar-inner">
  <!-- Control Buttons -->
  <div class="sidebar-block button-group">
   {# Button to Publish Page Now #}
   <button class="btn mb-0 btn-outline-success" type="submit" disabled>Publish</button>
   <a      class="btn mb-0 btn-outline-warning" type="cancel" href="{{ pathFor(pageCancelLink) }}">Cancel</a>
   <button class="btn mb-0 btn-outline-primary" type="submit">Save</button>
   {% if page.id %}
   <button class="btn mb-0 btn-outline-danger jsDeleteConfirm" type="submit" formaction="{{ pathFor(pageDeleteAction) }}" {% if page.page_slug == 'home' %}disabled title="The home page cannot be deleted." {% endif %}>Delete</button>
   {% endif %}
  </div>
  <hr>
  <!-- Published Status Input & Notification -->
  <div class="sidebar-block status">

   <p class="mb-1">Publish date</p>
   <input type="text" class="form-control jsDatePicker" name="published_date" placeholder="Publish date"
    value="{{ page.published_date is empty ? '' : page.published_date|date }}" autocomplete="off">

   {% if page.getPublishedStatus == 'draft' %}
   <div class="text-danger mt-2" title="Not published">Status: Draft</div>

   {% elseif page.getPublishedStatus == 'pending' %}
   <div class="text-warning mb-3">Status: Pending</div>

   {% elseif page.getPublishedStatus == 'published' %}
   <div class="text-success mb-3">Status: Published</div>
   {% endif %}
  </div>

 </div>
 {% endblock sidebar %}

 {% block content %}
 {# Media Modal Selector #}
 {% include "@admin/pages/_pageEditModal.html" %}

 <div class="jsEditPageContainer">

  <ul class="nav nav-tabs" id="tabs-tab" role="tablist">
   <li class="nav-item">
    <a class="nav-link {% if not page.id %}active{% endif %}" id="pageSettings-tab" data-toggle="pill"
     href="#pageSettings" role="tab" aria-controls="pageSettings" aria-selected="true">Page Settings</a>
   </li>
   <li class="nav-item">
    <a class="nav-link" id="pageCustom-tab" data-toggle="pill" href="#pageCustom" role="tab" aria-controls="pageCustom"
     aria-selected="false">Custom Settings</a>
   </li>
   <li class="nav-item">
    <a class="nav-link {% if page.id %}active{% endif %}" id="content-tab" data-toggle="pill" href="#pageContent"
     role="tab" aria-controls="content" aria-selected="false">Content</a>
   </li>
  </ul>

  <div class="tab-content" id="tabs-tabContent">
 
   <!-- Page Settings Tab -->
   <div class="tab-pane fade {% if not page.id %}show active{% endif %} content-block" id="pageSettings" role="tabpanel"
    aria-labelledby="pageSettings-tab">
    <div class="block-title-wrapper">
     <h4 class="page-edit-title">Page Settings</h4>
    </div>

     
     {# Page Standard Fields #}
     <div class="form-group-wrapper">
      <div class="form-group">
       <label>Title <span class="text-danger">*</span></label>
       <input type="text" class="form-control jsPageTitle" name="title" maxlength="60" placeholder="Page title"
        value="{{ page.title }}" required>
      </div>
 
      {% if not page.json.hideSubTitle %}
      <div class="form-group">
       <label>Sub Title</label>
       <textarea class="form-control" name="sub_title" placeholder="Page sub-title">{{ page.sub_title }}</textarea>
       <small class="form-text text-muted">Optional. Limit 150 characters.</small>
      </div>
      {% endif %}
 
      {#
             When to Set or Update the URL Slug
 
             The URL slug is created from the page title, but cleaned (replace &, -, and spaces with dashes, and to lower case).
             Rules:
             - Absolutely Never change or modify the 'home' page slug. Should always be readonly and locked
             - Never change a locked page slug. Allow unlock but warn the user
             - Published pages should always be readonly and locked
             - Unpublished pages should be unlocked and update page slug based on title
 
             Set readonly and locked status as Twig variables to keep logic understandable.
           #}
      {% if page.page_slug == 'home' or page.getPublishedStatus == 'published' %}
      {% set readonlyStatus, lockedStatus = 'readonly', 'lock' %}
      {% else %}
      {% set readonlyStatus, lockedStatus = '', 'unlock' %}
      {% endif %}
      <script>
       pitonConfig.pageSlugLocked = `{{ lockedStatus }}`
      </script>
      <div class="form-group">
       <label>Slug <span class="text-danger">*</span></label>
       <div class="input-group">
        {% if page.collection_slug %}
        <div class="input-group-prepend">
         <span class="input-group-text">{{ page.collection_slug }}/</span>
        </div>
        {% endif %}
        <input type="text" class="form-control jsUrlSlug" name="page_slug" maxlength="100" placeholder="URL slug"
         value="{{ page.page_slug }}" required {{ readonlyStatus }} autocomplete="off">
        <div class="input-group-append jsUrlSlugFaLockStatus">
         <span class="input-group-text"><i class="fas fa-{{ lockedStatus }}"></i></span>
        </div>
       </div>
       <small class="form-text text-muted">URL link to page. The <code>home</code> URL is restricted from being
        changed. Warning, changing the URL slug after the page is published may negatively impact links to your
        page.</small>
      </div>
 
      <div class="form-group">
       <label>Meta Description</label>
       <input type="text" class="form-control" name="meta_description" maxlength="320"
        placeholder="Description to appear in search results" value="{{ page.meta_description }}">
       <small class="form-text text-muted">Limit 320 characters. Search engines may use this text in matching
        search
        results.</small>
      </div>
 
      {#
             Page Header Featured Media Select Option
 
             Allows user to select a saved media file to link as featured image for this page.
             Selecting an image sets the media table ID in the page_media_id input
           #}
      {% if not page.json.hideFeaturedImage %}
      <div class="form-group jsMediaInput span">
       <img src="{{ getMediaPath(page.media.filename, 'large') }}"
        class="img-fluid {% if not page.media.filename %}d-none{% endif %}">
       <input type="hidden" class="form-control jsMediaInputField" name="page_media_id" value="{{ page.media_id }}">
       <label>Featured Page Image</label>
       <div class="input-group" style="padding-top: 1em">
        <button class="btn btn-sm btn-outline-info jsSelectMediaFile" type="button">Select Media</button>&nbsp;
        <button class="btn btn-sm btn-outline-danger jsMediaClear" type="button">Clear Media</button>
       </div>
      </div>
      {% endif %}
     </div>
    </div>
    
   <!-- Custom Settings Tab -->
   <div class="tab-pane fade content-block" id="pageCustom" role="tabpanel" aria-labelledby="pageCustom-tab">
    {# Page Custom Settings #}
    {% if page.settings %}
    <div class="block-title-wrapper">
     <h4 class="page-edit-title">Custom Page Settings</h4>
    </div>
    <div class="form-group-wrapper">
     {% for setting in page.settings %}
     {{ settingForm.settingInput(setting) }}
     {% endfor %}
    </div>
    {% endif %}
   </div>

   <!-- Content Tab -->
   <div class="tab-pane fade {% if page.id %}show active{% endif %} content-block" id="pageContent" role="tabpanel"
    aria-labelledby="content-tab">
    {# Page Blocks and Elements #}
    <div class="block-element-wrapper">
     {% for block in page.json.blocks %}
     <div class="element-block">
      <div class="block-title-wrapper">
       <h4 class="page-edit-title">{{ block.name }}</h4>
      </div>
      <div class="jsBlockParent">

       {# Get count of elements in block to know if we need to disable the Add Element button #}
       {% set elementLength = 0 %}
       {% for element in page.elements %}
       {% if element.block_key == block.key %}
       {% set elementLength = elementLength + 1 %}
       {% endif %}
       {% endfor %}

       {# Add Element Button #}
       <button class="btn btn-outline-success btn-sm mb-2 jsAddElement" type="button" data-block-key="{{ block.key }}"
        data-element-type="{{ block.elementTypeDefault }}"
        data-element-type-options="{{ block.elementTypeOptions|join(',') }}"
        data-element-count-limit="{{ block.elementCountLimit }}"
        {{ elementLength >= block.elementCountLimit|default(100) ? 'disabled' }}>Add Element</button>

       {# Loop through all available elements loaded for this page. If a block key match is found, then print it #}
       {% for element in page.elements %}
       {% if element.block_key == block.key %}
       {{ pageMacro.elementForm(element, block.key, block.elementTypeOptions) }}
       {% endif %}
       {% endfor %}
      </div>
     </div>
     {% endfor %}
    </div>
   </div>
  </div>
 </div>
 <!-- End content container -->
 {% endblock content %}

 {% block sidebarLeft %}
 <nav class="navbar" id="page-edit-nav">
  <nav class="nav flex-column">
   <a class="nav-link" href="#page-settings-nav">Page Settings</a>
   {% if page.settings %}
   <a class="nav-link" href="#page-custom-settings-nav">Custom Settings</a>
   <nav class="nav flex-column">
    {% for setting in page.settings %}
    <a class="small-sidebar-text nav-link ml-3" href="#page-setting-{{ setting.setting_key }}">{{ setting.label }}</a>
    {% endfor %}
   </nav>
   {% endif %}

   {% for block in page.json.blocks %}
   <a class="nav-link" href="#page-block-{{ block.key }}">{{ block.name }}</a>

   <nav class="nav flex-column jsPageSubBlock-{{ block.key }}">
    {% for element in page.elements %}
    {% if element.block_key == block.key %}
    <a class="small-sidebar-text nav-link ml-3"
     href="#page-element-{{ element.id }}">{{ element.title|default('content') }}</a>
    {% endif %}
    {% endfor %}
   </nav>
   {% endfor %}
  </nav>
 </nav>
 {% endblock sidebarLeft %}

 {% block foot %}
 <script src="{{ basePath() }}/admin/js/page.js"></script>
 {% endblock foot %}