{% extends '@admin/_adminBase.html' %}
{% import '@admin/pages/_pageMacros.html' as pageMacro %}
{% import "@admin/includes/_pitonMacros.html" as pitonMacro %}

{#
  Show All Pages

  Shows all pages, status, and edit link, with pagination (if over config row limit)
#}
{% block htmlTitle 'Content' %}

{% block contentHeader %}
<div class="content-header-inner">
 <div class="breadcrumb"></div>
 <h3 class="section-title">Content</h3>

 <div class="btn-dropdown-block">
  <div class="btn btn-add btn-sm">
    <span>Add Page</span> <span><i class="fas fa-chevron-down"></i></span>
  </div>
  <div class="form-group-block-add">
   {# List all templates with "templateType": "page" #}
   {% for pt in getPageTemplates() %}
   <div class="form-group">
    <label><a href="{{ pathFor('adminPageEdit', {}, {'definition': pt.filename}) }}">{{ pt.name }}</a></label>
   </div>
   {% endfor %}

   {# List all saved collection groups #}
   {% for ct in getCollections() %}
   <div class="form-group">
    <label><a href="{{ pathFor('adminPageEdit', {}, {'collectionId': ct.id}) }}">{{ ct.collection_title }}</a></label>
   </div>
   {% endfor %}
  </div>
 </div>

</div>
{% endblock contentHeader %}

{% block content %}
<!-- Media Filter -->
<div class="filter-block">

  {{ pitonMacro.filterSearch() }}

  {{ pitonMacro.filterControl('radio', 'Page Status', ['All', 'Published', 'Pending', 'Draft']) }}

</div>

{# Page List Titles #}
<div class="list-item-page-header">
 <div class="list-item-page__heading media">Media</div>
 <div class="list-item-page__heading title">Title</div>
 <div class="list-item-page__heading status">Status</div>
 <div class="list-item-page__heading template">Template</div>
 <div class="list-item-page__heading collection">Collection</div>
</div>

{# Page List  #}
{% for p in page.pages %}
{# From _pageMacros #}
{{ pageMacro.pageListItem(p) }}
{% else %}
<h5>No Pages Found</h5>
{% endfor %}

{{ pagination() }}
{% endblock content %}


{% block foot %}
<script src="{{ basePath() }}/admin/js/page.js"></script>
{% endblock foot %}