{% extends '@admin/_adminBase.html' %}
{% import '@admin/pages/_pageMacros.html' as pageMacro %}

{#
  Show All Pages

  Shows all pages, status, and edit link, with pagination (if over config row limit)
#}
{% block htmlTitle 'Pages' %}
{% block headText 'Manage Pages' %}
{% block sectionId 'pages' %}

{% block sidebar %}
  {# Loop through all available templates #}
  {% for template in page.templates %}
    {# From _pageMacros. #}
    {{ pageMacro.templateLink(template, 'adminPageEdit') }}
  {% else %}
    <h5>No Templates Found</h5>
  {% endfor %}
{% endblock sidebar %}

{% block content %}
  {# If the request is for pages #}
  <h3>Pages</h3>
  <div class="list-items-wrapper">
    {% for p in page.pages %}
      {# From _pageMacros #}
      {{ pageMacro.pageListItem(p, 'adminPageEdit') }}
    {% else %}
    <h5>No Pages Found</h5>
    {% endfor %}
  </div>
  {{ pagination() }}

{% endblock content %}
