{% extends '@admin/_adminBase.html' %}
{% import '@admin/pages/_pageMacros.html' as pageMacro %}

{#
  Show All Pages

  Shows all pages, status, and edit link, with pagination (if over config row limit)
#}
{% block htmlTitle 'Content' %}

{% block contentHeader %}
<div class="content-header-inner">
 <div class="breadcrumb"></div>
 <h3 class="section-title">Content</h3>

 <div class="btn-dropdown-block">
  <div class="btn btn-add btn-sm"><span>Add Page</span> <span><i class="fas fa-chevron-down"></i></span>
  </div>
  <div class="form-group-block-add">
   {# List all templates with "templateType": "page" #}
   {% for pt in getPageTemplates() %}
   <div class="form-group">
    <label> <a class="" href="{{ pathFor('adminPageEdit', {}, {'definition': pt.filename}) }}">{{ pt.name }}</a></label>
   </div>
   {% endfor %}

   {# List all saved collection groups #}
   {% for ct in getCollections() %}
   <div class="form-group">
    <a class=""
     href="{{ pathFor('adminCollectionPageEdit', {}, {'collectionId': ct.id}) }}">{{ ct.collection_title }}</a>
   </div>
   {% endfor %}
  </div>
 </div>

</div>
{% endblock contentHeader %}

{% block content %}
<!-- Media Filter -->
<div class="filter-block">
 <div class="input-block">
  <div class="input-block__icon">
   <i class="fas fa-search"></i>
  </div>
  <div class="input-block__input">
   <input type="search" name="search" id="search" class="input-block__search-input" placeholder="Search Pages"
    autocomplete="false">
  </div>
 </div>
 <div class="btn-dropdown-block">
  <div class="btn btn-dropdown "><span>Status - Radio</span> <span><i class="fas fa-chevron-down"></i></span>
  </div>
  <div class="form-group-block">
   <div class="form-group check-block-item">
    <input type="radio" class="" id="allPages" name="category" value="allPages">
    <label for="allPages">All Pages</label>
   </div>
   <div class="form-group check-block-item">
    <input type="radio" class="" id="published" name="category" value="published">
    <label for="published">Published</label>
   </div>
   <div class="form-group check-block-item">
    <input type="radio" class="" id="draft" name="category" value="draft">
    <label for="draft">Draft</label>
   </div>
   <div class="form-group check-block-item">
    <input type="radio" class="" id="pending" name="category" value="pending">
    <label for="pending">Pending</label>
   </div>
  </div>
 </div>
 <div class="btn-dropdown-block">
  <div class="btn btn-dropdown "><span>Template - Checkbox</span> <span><i class="fas fa-chevron-down"></i></span>
  </div>

  <div class="form-group-block">
   <div class="form-group check-block-item">
    <input type="checkbox" id="withHero" name="withHero" value="withHero">
    <label for="withHero"> With Hero</label>
   </div>
   <div class="form-group check-block-item">
    <input type="checkbox" id="withoutHero" name="withoutHero" value="withoutHero">
    <label for="withoutHero"> Without Hero</label>
   </div>
   <div class="form-group check-block-item">
    <input type="checkbox" id="services" name="services" value="services">
    <label for="services"> Services</label>
   </div>
   <div class="form-group check-block-item">
    <input type="checkbox" id="Recipes" name="Recipes" value="Boat">
    <label for="Recipes"> Recipes</label>
   </div>
  </div>
 </div>
</div>

{# Page List Titles #}
<div class="list-item-page-header">
 <div class="list-item-page__heading media">Media</div>
 <div class="list-item-page__heading title">Title</div>
 <div class="list-item-page__heading status">Status</div>
 <div class="list-item-page__heading template">Template</div>
 <div class="list-item-page__heading collection">Collection</div>
</div>

{# Page List  #}
{% for p in page.pages %}
{# From _pageMacros #}
{{ pageMacro.pageListItem(p, 'adminPageEdit') }}
{% else %}
<h5>No Pages Found</h5>
{% endfor %}

{{ pagination() }}
{% endblock content %}


{% block foot %}
<script src="{{ basePath() }}/admin/js/page.js"></script>
{% endblock foot %}