$box-shadow: 0 2px 3px rgba(#333, 0.25);
$border-radius: 5px;

$primary-color: #336699;
$secondary-color: rgba($primary-color, 0.05);
$primary-light: #ffffff;
$primary-dark: #333;
$primary-light-grey: #efefef;
$primary-md-grey: #bbb;
