 /***** Theme Settings ******/

 $box-shadow: 0 2px 3px rgba(#333, 0.25);
 $border-radius: 5px;

 $primary-color: #336699;
 $secondary-color: rgba($primary-color, 0.4);
 $primary-light: #ffffff;
 $primary-dark: #333;
 $primary-light-grey: #f6f6f6;
 $primary-md-grey: #ebebeb;
 $primary-dark-grey: #afafaf;