.span {
  grid-column: 1 / -1;
}

.alert-fixed {
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 99;
}

/* Fixes issue with fixed nav covering part of named anchor */
.anchor-offset {
  padding-top: 56px;
  margin-top: -56px;
}
.popover {
  box-shadow: $box-shadow;
  background-color: lightblue;
}

.small-sidebar-text {
  font-size: 0.8rem;
  font-style: italic;
  padding-left: 4em !important;
  margin-left: -1em !important;
}
