// MESSAGES

.message-block {

 padding-block: .75rem;
 .message-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: $box-shadow-1;
 }

 .message-header {
 
  padding-block: .5em .25em;
  padding-inline: 1rem;
  color: $text-secondary;
  border-bottom: solid 1px $border;

  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
 }

 .message-content {

  padding-block: .5rem;
  padding-inline: 1rem;
  background: $bg-white;
  border-bottom: solid 1px $border;
  p{
  color: $text-grey;
  }
 }

 .btn-group {
  background: $bg-white;

  padding-block: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
 }
}