/* Navigation Structure */
.nav-wrapper {
 margin-block-start: 1rem;
 font-size: 1em;
 display: flex;

 &__sidebar {
  padding-inline-end: 1em;
  flex: .75;
  display: flex;
  flex-flow: column nowrap;

  .form-group-inline {
   grid-column: 1 / -1;
   display: flex;

   align-items: center;
  }
.form-check{
 padding: 0;
}
  .checkbox-block {
   grid-template-columns: 1fr;
   gap: 0;

   &__title {

    margin-block: 1rem .5rem;
    font-size: 1.4rem;
    padding: 0;
    color: $text-secondary;
    font-weight: 300;
    line-height: 1;
   }
  }

 }

 &__form-group {

  margin-block: 0 .5rem;

  label {
   font-weight: 600;
   background: $bg-white;
   display: none;
  }
  input{
   background: $bg-white;
  }
 }

 &__main {
  align-content: flex-start;
  flex: 3;

  >* {
   border: solid 1px $border;
   margin-block-end: .5rem;
  }
 }

 .nav-item {
  width: 100%;
  grid-column: 1 / -1;
  line-height: $nav-height;
  border: solid 1px darken($border, 10%);

  &__header {
   background: $bg-grey;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   height: $nav-height;
   line-height: $nav-height;
  }

  &__content {
   padding-inline: 1em;
   color: $clr-dark-grey;
   font-weight: 300;

  }

  &__title {
   padding-inline: .75em 1em;
   flex: 1;
   color: $text-secondary;
   font-size: 1.3rem;
   height: 100%;
   display: flex;
   align-items: center;

   &:hover {
    cursor: move;
   }
  }

  &__type {
   padding-inline: 1rem;
  }

  &__toggle {
   font-size: .875rem;

   padding-block: 1rem 1em;
   padding-inline: 1em;
   border-left: solid 1px darken($border, 10%);

   &:hover {
    cursor: pointer;
    color: $text-accent-hover;
   }
  }

  label {
   font-weight: 300;
   font-style: italic;
  }
 }

 .sub-nav-item {
  grid-column: 2 / -1;
 }

 .btn-group-navigation {
  padding: 0;

  margin-block-end: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column: -2 / -1;
  gap: 1em;
  align-items: center;
 }

 .btn-group-nav-sidebar {
  margin-block: 1rem;
     display: flex;
     width: 100%;
    }
  

}