{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Support' %}

{% block contentHeader %}
<div class="content-header-inner">
  <div class="breadcrumb">
    {% if page.supportContent or page.subject == 'designer' %}
    <a href="{{ pathFor('adminSupport', {'subject': 'client'}) }}">
      Support<i class="fas fa-chevron-right breadcrumb__indicator"></i>
    </a>

      {% if page.supportContent and page.subject == 'designer' %}
      <a href="{{ pathFor('adminSupport', {'subject': 'designer'}) }}">
        Designer<i class="fas fa-chevron-right breadcrumb__indicator"></i>
      </a>
      {% endif %}
    {% endif %}
  </div>
  {% set breadcrumbTitle = page.breadcrumbTitle ?? ((page.subject == 'designer') ? 'Designer' : 'Support') %}
  <h1 class="section-title">{{ breadcrumbTitle }}</h1>
</div>
{% endblock contentHeader %}
