{% extends '@admin/support/_supportBase.html' %}

{% block head %}
<link rel="stylesheet" href="{{ baseUrl() }}/admin/highlight/agate.min.css?v={{ site.environment.assetVersion }}">
{% endblock head %}

{% block content %}

<section id="support">
        <div class="help-toc">
           <div class="help-toc__inner"> {{ page.tableOfContents }}</div>
        </div>

        {# Load support File #}
        <div class="help-content">
            {% if page.supportContent %}
                {{ page.supportContent }}
            {% endif %}
        </div>
</section id="support">
{% endblock content %}

{% block foot %}
{{ parent() }}
<script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/admin/highlight/highlight.min.js?v={{ site.environment.assetVersion }}"></script>
<script nonce="{{ site.environment.cspNonce }}">hljs.initHighlightingOnLoad();</script>
{% endblock foot %}
