{% extends '@admin/support/_supportBase.html' %}

{% block head %}
<link rel="stylesheet" href="{{ baseUrl() }}/admin/highlight/agate.css?v={{ site.environment.assetVersion }}">
{% endblock head %}

{% block content %}
    {# Load support File #}
    <div class="help-content">
        {% if page.supportContent %}
            {{ page.supportContent }}
        {% else %}
            <h1>Error</h1>
            <p>Support article does not exist.</p>
        {% endif %}
    </div>
{% endblock content %}

{% block foot %}
{{ parent() }}
<script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/admin/highlight/highlight.pack.js?v={{ site.environment.assetVersion }}"></script>
<script nonce="{{ site.environment.cspNonce }}">hljs.initHighlightingOnLoad();</script>
{% endblock foot %}
