{% extends '@admin/support/_supportBase.html' %}

{% block head %}
<link rel="stylesheet" href="{{ baseUrl() }}/admin/highlight/agate.min.css?v={{ site.environment.assetVersion }}">
{% endblock head %}

{% block content %}

<main id="support" class="support-content">
 <aside class="help-toc">
  <div class="help-toc__inner">
   <div class="help-toc__header">Table of Contents</div>
   <div class="help-toc__content">
    {{ page.tableOfContents }}
   </div>
   <div class="help-toc__footer"></div>
  </div>
 </aside>

 {# Load support File #}
 <div class="help-content">
  {% if page.supportContent %}
  {{ page.supportContent }}
  {% endif %}
 </div>
</main>
{% endblock content %}

{% block foot %}
{{ parent() }}
<script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/admin/highlight/highlight.min.js?v={{ site.environment.assetVersion }}"></script>
<script nonce="{{ site.environment.cspNonce }}">hljs.initHighlightingOnLoad();</script>
{% endblock foot %}