{#
    Alert Dialog

    Display alert messages if set by the application.
    The message body is an array of errors, and the |join('<br>') prints as a string with line breaks
    The application will provide the severity color code:
    primary, secondary, success, danger, warning, info
#}


    {% for alert in getAlert() %}

      <div class="alert alert-{{ alert.severity }}" role="alert">
        <h4 class="alert__title text-{{ alert.severity }}">{{ alert.heading }}</h4>
     <div class="alert__dismiss">
      <button type="button" class="btn btn-save btn-sm d-block close jsDismissAlert" aria-label="Close">
       <span aria-hidden="true"><i class="fas fa-times"></i></span>
     </button>
     </div>
      
        <div class="alert__message">
         {{ alert.message|join('<br>') }}
        </div>
      </div>

    {% endfor %}
