{#
    Admin Header

    Because blocks inside includes are NOT extended in child templates, we are passing in the headText and leadText blocks as variables in the include statement like this:

      {% include "@admin/includes/_header.html" with {
        headText: block('headText') is defined ? block('headText'),
        leadText: block('leadText') is defined ? block('leadText')} %}

    Blocks:
    - headText
    - leadText
#}

<header>
    <h2>{{ headText }}</h2>
    <p>{{ leadText }}</p>
</header>
  
