{# Piton Modal #}

{# Modal background loads first #}
<div id="modal" class="modal d-none">

    {# Modal content loads second #}
    <div class="modal-content d-none">
        <div class="modal-header">
          <span class="close">&times;</span>
          {# Heading gets inserted here #}
          <h2></h2>
        </div>

        {# Content gets inserted here #}
        <div class="modal-body"></div>

        {# By default not showing modal footer buttons unless needed #}
        <div class="modal-footer d-none">
            <a class="btn btn-cancel" href="#">Dismiss</a>
            <button class="btn btn-save" type="button" name="modal-save">Save</button>
        </div>
      </div>

  </div>