{# Admin Navbar #}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ pathFor('adminHome') }}">PitonCMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://pitoncms" data-toggle="dropdown">Pages</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ pathFor('showPages') }}">Pages</a>
              <a class="dropdown-item" href="{{ pathFor('choosePageLayout') }}">New Page</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://pitoncms" data-toggle="dropdown">Navigation</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/#">Navigations</a>
              <a class="dropdown-item" href="/#">New Navigation</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://pitoncms" data-toggle="dropdown">Media</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/#">All Media</a>
              <a class="dropdown-item" href="/#">Outdoors</a>
              <a class="dropdown-item" href="/#">Funny Cats</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/#">New Media Group</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://pitoncms" data-toggle="dropdown">Collections</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ pathFor('showCollections') }}">Collections</a>
              <a class="dropdown-item" href="{{ pathFor('editCollection') }}">New Collection</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://pitoncms.com" id="setting-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ pathFor('showSettings') }}">Settings</a>
              <!-- <a class="dropdown-item" href="{{ pathFor('showUsers') }}">Users</a> -->
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ pathFor('logout') }}" title="Logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
