{#  Admin Navbar #}

<ul class="side-nav">
 <li class="side-nav__link home">
  <a href="{{ pathFor('adminHome') }}"><i class="side-nav__icon fas fa-home"></i> Home</a>
 </li>

 <li class="side-nav__link pageContent {{ currentRouteGroup('adminPage') }}{{ currentRouteGroup('adminCollection') }}">
  <a href="{{ pathFor('adminPage') }}"><i class="side-nav__icon fas fa-pencil-alt"></i> Pages</a>
 </li>

 <li class="side-nav__link media">
  <a href="{{ pathFor('adminMedia') }}"><i class="side-nav__icon fas fa-images"></i> Media</a>
 </li>

 <li class="side-nav__link navigation">
    <a href="{{ pathFor('adminNavigation') }}"><i class="side-nav__icon fas fa-compass"></i> Navigation</a>
   </li>

 <li class="side-nav__link help">
  <a href="{{ pathFor('adminHelp') }}">  <i class="side-nav__icon fas fa-question"></i> Help</a>
 </li>

 <li class="side-nav__link messages" data-message="count">
  <a href="{{ pathFor('adminMessage') }}">  <i class="side-nav__icon fas fa-envelope"></i> Mailbox</a>
  {% if getUnreadMessageCount() %}
  <div class="badge badge-notify">{{ getUnreadMessageCount() }}</div>
  {% endif %}
 </li>

 <li class="side-nav__link settings">
  <a href="{{ pathFor('adminToolSetting') }}"><i class="side-nav__icon fas fa-cog"></i> Settings</a>
 </li>

</ul>