{#
    Piton Config Admin JS Include

    This creates a JS object in the base page layout with runtime variables.
#}
{% import "@admin/includes/_pitonMacros.html" as pitonMacro %}

  <script>
    const pitonConfig = {
      csrfTokenName: "{{ site.csrf.name }}",
      csrfTokenValue: "{{ site.csrf.value }}",
      routes: {
        adminPageGet: "{{ pathFor('adminPageGet') }}",
        adminPageElementGet: "{{ pathFor('adminPageElementGet') }}",
        adminPageElementDelete: "{{ pathFor('adminPageElementDelete') }}",
        adminMessageSave: "{{ pathFor('adminMessageSave') }}",
        adminMessageGet: "{{ pathFor('adminMessageGet') }}",
        adminMessageCountGet: "{{ pathFor('adminMessageCountGet') }}",
        adminMedia: "{{ pathFor('adminMedia') }}",
        adminMediaSave: "{{ pathFor('adminMediaSave') }}",
        adminMediaGet: "{{ pathFor('adminMediaGet') }}",
        adminMediaControlsGet: "{{ pathFor('adminMediaControlsGet') }}",
        adminMediaCategorySaveOrder: "{{ pathFor('adminMediaCategorySaveOrder') }}",
        adminMediaDelete: "{{ pathFor('adminMediaDelete') }}",
        adminMediaCategoryDelete: "{{ pathFor('adminMediaCategoryDelete') }}",
        adminMediaUploadFormGet: "{{ pathFor('adminMediaUploadFormGet') }}",
        adminMediaUploadFile: "{{ pathFor('adminMediaUploadFile') }}",
        adminCollection: "{{ pathFor('adminCollection') }}",
        adminNavigationDelete: "{{ pathFor('adminNavigationDelete') }}",
      },
      maxFileUploadSize: "{{ getMaxUploadSize() }}",
      alertInlineHTML: `{{ pitonMacro.alert()|spaceless }}`,
      modalBackgroundHTML: `{{ pitonMacro.modalBackground()|spaceless }}`,
      modalContentHTML: `{{ pitonMacro.modalContent()|spaceless }}`,
      spinnerHTML: `{{ pitonMacro.spinner()|spaceless }}`,
      {% block jsPitonConfig '' %}
    };
  </script>
