{#
    Piton Config JS Include

    This creates a JS object in the base page layout with runtime variables.
#}
{% import "@admin/includes/_pitonMacros.html" as pitonMacro %}

  <script>
    const pitonConfig = {
      dateFormat: "{{ site.settings.dateFormat }}",
      weekStart: {{ site.settings.dateFormat == 'mm/dd/yyyy' ? '0' : '1' }},
      csrfTokenName: "{{ site.csrf.name }}",
      csrfTokenValue: "{{ site.csrf.value }}",
      routes: {
        adminPageGet: "{{ pathFor('adminPageGet') }}",
        adminPageElementGet: "{{ pathFor('adminPageElementGet') }}",
        adminPageElementDelete: "{{ pathFor('adminPageElementDelete') }}",
        adminMessageSave: "{{ pathFor('adminMessageSave') }}",
        adminMessageDelete: "{{ pathFor('adminMessageDelete') }}",
        adminMedia: "{{ pathFor('adminMedia') }}",
        adminMediaSave: "{{ pathFor('adminMediaSave') }}",
        adminMediaGet: "{{ pathFor('adminMediaGet') }}",
        adminMediaDelete: "{{ pathFor('adminMediaDelete') }}",
        adminMediaCategoryDelete: "{{ pathFor('adminMediaCategoryDelete') }}",
        adminCollection: "{{ pathFor('adminCollection') }}",
      },
      alertInlineHTML: `{{ pitonMacro.alert() }}`,
      {% block jsPitonConfig '' %}
    };
  </script>
