{% extends '@admin/_adminBase.html' %}
{% import _self as navSet %}

{% block htmlTitle 'Navigation' %}
{% block headText 'Manage Navigation' %}
{% block sectionId 'pages' %}

{% block sidebar %}
{# Get list of defined navigagors in Piton navigation.json #}
{% for navigator in page.navigators %}
  <div class="sidebar-links">
      <a class="nav-link {{ currentRoute('adminNavigations') }}" href="{{ pathFor('adminNavigations', {'nav': navigator}) }}">
          <i class="fas fa-compass"></i>
          {{ navigator|capitalize }}</a>
  </div>
{% endfor %}
{% endblock sidebar %}

{% block content %}
  <style>
    /* Suggested Styles */
    .nav-controls {margin-left: 6rem;}
    .fa-trash-alt:hover {color: red;}
    .nav-item-delete {background-color: lightpink;}
    .nav-item-disabled {background-color: lightgrey;}
    li.nav-item:first-child .fa-arrow-up,
    li.nav-item:last-child .fa-arrow-down,
    li.nav-item.nav-item-level-1 > .nav-controls > .fa-arrow-left
      {color: lightgray; cursor: not-allowed;}
      /* nav-level 2, nav-item-level-3 ... */
  </style>

  <h3>Navigation</h3>
  {% if page.navigator %}
    <strong>{{ page.navigator|capitalize }} Navigator</strong>

    <form class="jsNavigatorForm" action="{{ pathFor('adminSaveNavigation') }}" method="post" accept-charset="utf-8">
      <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
      <input type="hidden" name="navigator" value="{{ page.navigator }}">
      <button type="submit" class="btn btn-primary btn-sm">Save Navigation</button>

      <div class="jsEditNavBlock">
        <ol class="ml-3 jsNavParent">
          {{ navSet.navBlock(page.navigation) }}
        </ol>
      </div>

    </form>

    <hr>
    <div class="form-row">
      <label>Add Page to Navigation</label>
      <select class="form-control jsNavPageSelector">
        <option value=""></option>
        <option value="0">[Placeholder]</option>
        {% for p in getNavPages() %}
        <option value="{{ p.id }}">{{ p.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="jsNewNavItem d-none">
        {{ navSet.navBlock([1]) }}
    </div>
{% endif %}
{% endblock content %}


{# This is a recursive function, which calls itself if a childNav exists #}
{% macro navBlock(nav) %}
{% import _self as navSet %}

    {% for n in nav %}
    <li class="mt-3 mb-3 nav-item nav-item-level-{{ n.level }} {% if n.active == 'N' %}nav-item-disabled{% endif %} jsNavItem" data-level="{{ n.level }}" data-id="{{ n.id }}">
      <span class="badge badge-pill badge-secondary jsNavItemTitle">{{ n.page_title }}</span>
      <input type="hidden" name="navSet[{{ n.id }}][navId]" value="{{ n.id }}">
      <input type="hidden" class="jsNavPageId" name="navSet[{{ n.id }}][pageId]" value="{{ n.page_id }}">
      <input type="hidden" class="jsNavParentId" name="navSet[{{ n.id }}][parentId]" value="{{ n.parent_id }}">
      <input type="hidden" class="jsNavDeleteFlag" name="navSet[{{ n.id }}][delete]" value="">
      <input type="hidden" class="jsNavActiveFlag" name="navSet[{{ n.id }}][active]" value="{{ n.active }}">
      <input type="text" class="ml-2" name="navSet[{{ n.id }}][title]" value="{{ n.nav_title }}" autocomplete="off" placeholder="Optional title">

      <span class="nav-controls">
        <span class="fa fa-eye-slash jsNavItemCtrl" data-control="hide" title="Disable"></span> |
        <span class="fa fa-arrow-up jsNavItemCtrl" data-control="up" title="Move Up"></span>
        <span class="fa fa-arrow-down jsNavItemCtrl" data-control="down" title="Move Down"></span> |
        <span class="fa fa-arrow-left jsNavItemCtrl" data-control="left" title="Move Left"></span>
        <span class="fa fa-arrow-right jsNavItemCtrl" data-control="right" title="Move Right"></span> |
        <span class="fa fa-trash-alt jsNavItemCtrl" data-control="delete" title="Delete"></span>
      </span>

      {% if n.childNav %}
        <ol class="ml-3 jsNavParent">
          {{ navSet.navBlock(n.childNav) }}
        </ol>
      {% endif %}
    </li>
    {% endfor %}

{% endmacro navBlock %}


{% block foot %}
  <script>
    // Add new page item to nav list
    let navItemKey = 0;
    $('.jsNavPageSelector').on('change', function() {
      if ($(this).val() !== "") {
        navItemKey++;
        let $new = $('.jsNewNavItem > .jsNavItem').clone();
        $new.data('level', 1).addClass('nav-item-level-1');
        $new.find('.jsNavPageId').val($(this).val());
        $new.find('.jsNavItemTitle').html($(this).find('option:selected').text());
        $new.find('input[name^=navSet]').each(function(i, e) {
          let name = $(e).attr('name');
          name = name.replace(/(navSet\[)(\].*)/, "$1"+navItemKey+"n"+"$2");
          $(e).attr('name', name);
        });
        $('.jsEditNavBlock > .jsNavParent').append($new);
      }
    });

    // Arrange nav items, as well as delete and hide
    $('.jsEditNavBlock').on('click', '.jsNavItemCtrl', function() {
      // Get nav item to move, direction, and zero index length of immediate siblings, and recursive level
      let $navItem = $(this).closest('.jsNavItem');
      let control = $(this).data('control');
      let navLength = $navItem.siblings('.jsNavItem').length;
      let level = $navItem.data('level');

      if (control === 'up' && $navItem.index() !== 0) {
        let $target = $navItem.prev('.jsNavItem');
        $navItem.detach();
        $target.before($navItem);
      } else if (control === 'down' && $navItem.index() !== navLength) {
        let $target = $navItem.next('.jsNavItem');
        $navItem.detach();
        $target.after($navItem);
      } else if (control === 'left' && level > 1) {
        // If ol is nested child of a jsNavItem, move up one level
        let $target = $navItem.closest('.jsNavParent').closest('.jsNavItem');
        $navItem.detach();
        let parentId = ($target.data('level') === 1) ? "" : $target.data('id');
        $navItem.removeClass('nav-item-level-' + level).addClass('nav-item-level-'+(level - 1));
        $navItem.data('level', level - 1)
        $navItem.find('.jsNavParentId').val(parentId);
        $target.after($navItem);
        // Clean up, if there is an empty <ol> left in this li, then remove
        let $empty = $target.find('.jsNavParent');
        if ($empty.is(':empty')) {
          $empty.remove();
        }
      } else if (control === 'right' && level <= 3 && $navItem.index() !== 0) {
        // The first child should not be indented
        // If the above sibling has a child <ol> then insert into that
        let $target = $navItem.prev('.jsNavItem');
        $navItem.find('.jsNavParentId').val($target.data('id'));
        $navItem.data('level', level + 1);
        $navItem.removeClass('nav-item-level-' + level).addClass('nav-item-level-' + (level + 1));
        if ($target.children('ol.jsNavParent').length === 1) {
          $navItem.detach();
          $target.children('ol.jsNavParent').append($navItem);
        } else if ($navItem.index() !== 0) {
          // Otherwise wrap in <ol> and insert into <li> above
          $target = $navItem.prev('.jsNavItem');
          $navItem.detach();
          $target.append($navItem);
          $navItem.wrap('<ol class="ml-3 jsNavParent"></ol>');
        }
      } else if (control === 'delete') {
          // Get current status and reverse
          if ($navItem.find('.jsNavDeleteFlag').val() === "") {
            $navItem.find('.jsNavDeleteFlag').val("on");
            $navItem.addClass('nav-item-delete');
          } else {
            $navItem.find('.jsNavDeleteFlag').val("");
            $navItem.removeClass('nav-item-delete');
          }
        } else if (control === 'hide') {
          // Get current status and reverse
          if ($navItem.find('.jsNavActiveFlag').val() === "Y") {
            $navItem.find('.jsNavActiveFlag').val("N");
            $navItem.addClass('nav-item-disabled');
          } else {
            $navItem.find('.jsNavActiveFlag').val("Y");
            $navItem.removeClass('nav-item-disabled');
          }
        }
    });
  </script>
{% endblock foot %}
