:root {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 900px) {
  :root {
    font-size: calc( 14px + (16 - 14) * ( (100vw - 768px) / ( 900 - 768) ));
  }
}
@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}
:root {
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #1565c0;
  --duration: 150ms;
  --timing: ease;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
  background-color: #dddeee;
}
button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 400;
  margin-bottom: var(--spacing--small);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small);
}

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
}

[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
input:not([type]),
textarea {
  appearance: none;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--form-box-shadow);
  box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  transition: border-color var(--duration) var(--timing);
  width: 100%;
}
[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
input:not([type]):focus,
textarea:focus {
  box-shadow: var(--form-box-shadow-focus);
}
[type=color]:disabled,
[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=email]:disabled,
[type=month]:disabled,
[type=number]:disabled,
[type=password]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=text]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=week]:disabled,
input:not([type]):disabled,
textarea:disabled {
  cursor: not-allowed;
}
[type=color]:disabled:hover,
[type=date]:disabled:hover,
[type=datetime]:disabled:hover,
[type=datetime-local]:disabled:hover,
[type=email]:disabled:hover,
[type=month]:disabled:hover,
[type=number]:disabled:hover,
[type=password]:disabled:hover,
[type=search]:disabled:hover,
[type=tel]:disabled:hover,
[type=text]:disabled:hover,
[type=time]:disabled:hover,
[type=url]:disabled:hover,
[type=week]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: var(--border);
}
[type=color]::placeholder,
[type=date]::placeholder,
[type=datetime]::placeholder,
[type=datetime-local]::placeholder,
[type=email]::placeholder,
[type=month]::placeholder,
[type=number]::placeholder,
[type=password]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=text]::placeholder,
[type=time]::placeholder,
[type=url]::placeholder,
[type=week]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #333;
  opacity: 0.25;
}

[type=search] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: var(--spacing--small);
}

[type=file] {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

select {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

[type=checkbox]:focus,
[type=radio]:focus,
[type=file]:focus,
select:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

html {
  background-color: #fff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: var(--spacing) 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: var(--line-height--heading);
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: var(--border);
}

th {
  font-weight: 600;
}

th,
td {
  padding: var(--spacing--small) var(--spacing--small) var(--spacing--small) 0;
}

html {
  color: #333;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  font-size: 1.25rem;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small);
}

p {
  margin: 0 0 var(--spacing--small);
}

a {
  color: #1565c0;
  text-decoration-skip-ink: auto;
  transition: color var(--duration) var(--timing);
}
a:hover {
  color: #dddeee;
}
a:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}

/* Default Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f3f5f7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

/* Html Element Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eb7119;
  line-height: 1;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #404040;
}
a:focus {
  outline: none;
}
a:hover {
  color: rgba(64, 64, 64, 0.75);
}

::selection {
  background-color: #eb7119;
  color: white;
}

/* Utility Classes */
.nav-divider {
  width: 100%;
  height: 1px;
  background: rgba(64, 64, 64, 0.25);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.span {
  grid-column: 1/-1;
}

.badge {
  width: 100%;
  height: 50%;
  margin-right: 13px;
  border-radius: 50%;
  background: #3e5d1d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.published {
  color: green;
  text-transform: capitalize;
  font-weight: bold;
}

.draft {
  color: grey;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem !important;
}

.pending {
  color: gold;
  text-transform: capitalize;
  font-weight: bold;
}

.d-none {
  display: none !important;
}

.strong-text {
  font-weight: bold;
}

.text-required {
  color: #b92c13;
}

.text-danger {
  color: #b92c13 !important;
  font-weight: bold;
}

.text-info {
  color: #126312;
  font-weight: bold;
}

.alert {
  padding: 1.5rem;
  margin: calc(100px) 5vw 0;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px 0px rgba(63, 63, 68, 0.15);
  background: white !important;
  display: grid;
  grid-template-columns: 1fr auto;
  display: relative;
  z-index: 50;
  transform: scale(1, 0);
  transform-origin: top;
  animation: fadeIn 250ms ease-in-out forwards;
}
.alert__title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.alert-danger h4 {
  color: #b92c13;
}
.alert-info h4 {
  color: #126312;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
/* Layout */
/* Header, Logo, Hamburger Toggle */
.top-header {
  padding-right: 1em;
  padding-left: 1em;
  background-color: #363636;
  height: 50px;
  color: #ffc46b;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 120;
}
.top-header .logo {
  font-size: 2rem;
  font-weight: 900;
  line-height: 50px;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 1.4px;
  justify-content: flex-start;
  padding: 0 0 0 4rem;
}
@media screen and (min-width: 768px) {
  .top-header .logo {
    padding: 0;
  }
}
.top-header .logo a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.top-header .logo a:hover {
  color: #eb7119;
}
.top-header .logo a span {
  text-transform: lowercase;
}

.wrapper {
  min-height: 100%;
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 50px;
    padding-left: 200px;
  }
}
.wrapper .sidebar {
  min-width: 200px;
  height: calc(100vh - 50px);
  flex-grow: 1;
  background: #f3f5f7;
  font-size: 0.875rem;
  font-weight: 500;
  border-right: solid #dddeee 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50px;
  z-index: 119;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .wrapper .sidebar {
    transform: scale(1, 1);
    display: block;
    position: fixed;
    height: calc(100vh - 50px);
  }
}
.wrapper .main-content {
  flex-basis: 0;
  flex-grow: 999;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.wrapper .content-header {
  padding: 0 1em;
  background: #dddeee;
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 50px;
}
@media screen and (min-width: 768px) {
  .wrapper .content-header {
    width: calc(100vw - 200px);
  }
}
.wrapper .content-header-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrapper .content-header .breadcrumb {
  font-weight: 300;
  font-size: 0.75rem;
  padding-right: 1em;
}
.wrapper .content-header .breadcrumb a {
  color: #ffc46b;
}
.wrapper .content-header .breadcrumb a:hover {
  color: #eb7119;
}
.wrapper .content-header .section-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  flex: 3;
}
.wrapper .btn-group {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  justify-self: flex-end;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.content {
  padding: calc(50px + 2em) 1em 1em;
}

.sidebar .side-nav {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.sidebar .side-nav__link {
  height: 50px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  column-gap: 0.25em;
}
.sidebar .side-nav__link:hover {
  background-color: #dddeee !important;
}
.sidebar .side-nav__link a {
  padding: 0.5em;
  line-height: 1.7rem;
  opacity: 0;
  transition: opacity 250ms ease-in-out 125ms;
}
@media screen and (min-width: 768px) {
  .sidebar .side-nav__link a {
    opacity: 1;
  }
}
.sidebar .side-nav__link a:hover {
  color: #eb7119;
}
.sidebar .side-nav .active {
  background-color: rgba(221, 222, 238, 0.5);
}
.sidebar .side-nav .active:hover {
  cursor: default;
  background-color: rgba(221, 222, 238, 0.5) !important;
}
.sidebar .side-nav .active:hover a {
  color: #404040;
}
.sidebar .fas {
  color: rgba(64, 64, 64, 0.35);
  margin-right: 1rem;
  margin-left: 0.25em;
  font-size: 1rem;
}

.nav-toggle:checked ~ .sidebar {
  display: block;
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .sidebar a {
  opacity: 1;
}

/* Button Styles */
button,
[type=button],
[type=reset],
[type=submit] {
  appearance: none;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration) var(--timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
  background-color: #dddeee;
}
button:focus,
[type=button]:focus,
[type=reset]:focus,
[type=submit]:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn {
  display: block;
  padding: 1em;
  width: 100%;
  background: darkmagenta;
  color: white;
  border-radius: 3px;
  text-align: center;
}
.btn:hover {
  background: 25deg;
  cursor: pointer;
}

.btn-sm {
  padding: 0.5em 0.75em;
  font-size: 0.875rem;
}

.btn-dropdown {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #dddeee;
  color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
.btn-dropdown:hover {
  cursor: default;
  background: #dddeee !important;
}

.btn-add {
  border-radius: 0;
  background: #eb7119;
  color: white;
}
.btn-add:hover {
  background: #eb7119;
  cursor: default;
}

.btn-publish {
  background: #126312 !important;
}
.btn-publish:hover {
  background: #0a380a !important;
}

.btn-save {
  background: #336699 !important;
}
.btn-save:hover {
  background: #264d73 !important;
}
.btn-save-disabled {
  background: #6699cc !important;
  cursor: not-allowed;
}
.btn-save-disabled:hover {
  background: #6699cc !important;
  cursor: not-allowed;
}

.btn-new {
  background: greenyellow !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  background: #b92c13 !important;
}
.btn-delete:hover {
  background: #8a210f !important;
}

.btn-cancel {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.875rem;
  color: #ffc46b;
  background: transparent;
}
.btn-cancel:hover {
  color: #eb7119;
}

.btn-block {
  display: block;
  width: auto;
}

/* Button Group Page Edit */
.btn-group-pageEdit {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 1em 0.5em;
}

/* Button Group Delete Page bottom of page*/
.btn-group-bottom {
  padding-top: 4rem;
}

/* General Button Group */
.btn-group * + * {
  margin-left: 0.5em;
}

.nav-toggle,
.element-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
    z-index: 0;
  }
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: 2rem;
  height: 4px;
  border-radius: 3px;
  background: #ffc46b;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.nav-toggle-label span::before {
  top: 33px;
}
.nav-toggle-label span::after {
  bottom: 33px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span:before {
  transform: rotate(45deg);
  top: 21px;
}

.nav-toggle:checked ~ .nav-toggle-label span:after {
  transform: rotate(-45deg);
  bottom: 25px;
}

/*  FORMS  */
input[type=text],
input[type=email],
textarea {
  margin: 0;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  z-index: 20;
  display: block;
  width: 100%;
  background: white;
  border-radius: 3px;
  border: 0.1rem solid lightgrey;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  outline: none;
}

.radio-hidden,
.element-toggle,
.nav-toggle {
  position: absolute;
  top: -999px !important;
  left: -999px !important;
}

.form-group-block {
  width: 100%;
  background: #f3f5f7;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 250ms ease-in-out 200ms;
  z-index: 100;
  position: absolute;
  top: 100%;
  right: 0;
}

.form-group-block-add {
  width: 160px;
  background: #f3f5f7;
  text-align: right;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 250ms ease-in-out 200ms;
  z-index: 100;
  position: absolute;
  top: 100%;
  right: 0;
}

.btn-dropdown-block:hover > .form-group-block,
.btn-dropdown-block:hover > .form-group-block-add {
  cursor: pointer;
  transform: scale(1);
}

label {
  margin: 0;
  padding: 0;
}

.form-group {
  padding: 1em;
  width: 100%;
}
.form-group:hover {
  background: #dddeee;
}

.form-group label {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
}

.form-group label:hover,
.form-group:hover {
  cursor: pointer;
}

/* Form blocks style */
.form-block {
  background: white;
  border-radius: 3px;
  border: solid 1px rgba(128, 128, 128, 0.25);
  color: #404040;
  padding: 1em;
  margin-bottom: 1em;
}
.form-block input,
.form-block textarea {
  background: #f3f5f7 !important;
}
.form-block__title {
  background: #dddeee;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
}

.content-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}
.content-cards__title {
  margin: 0;
  padding-top: 2em;
  font-size: 1.5rem;
  align-self: center;
}

.content-card {
  padding: 1em;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px 0px rgba(63, 63, 68, 0.15);
}
.content-card:hover {
  background: #dddeee;
}
.content-card__header {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 0.25em 0.5em;
  align-items: center;
}
.content-card__body {
  display: grid;
  grid-template-columns: 1rem 1fr;
  gap: 0.25em 0.5em;
}
.content-card__title {
  margin: 0;
  font-size: 1.4em;
  align-self: center;
}
.content-card p {
  margin: 0;
  grid-column: 2/-1;
  font-size: 0.75rem;
  color: rgba(64, 64, 64, 0.75);
}
.content-card .card-icon {
  color: rgba(64, 64, 64, 0.5);
  height: 100%;
  width: 100%;
}

.user-card,
.contact-block,
.settings-block,
.social-block,
.sitemap-block {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.filter-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
}

.input-block {
  width: 100%;
  background: white !important;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border: solid 1px #dddeee;
  grid-column: 1/-1;
}
@media screen and (min-width: 768px) {
  .input-block {
    grid-column: 1;
  }
}
.input-block__icon {
  border: solid 1px black;
  border: none;
  padding-right: 0.75em;
  padding-left: 0.75em;
  color: rgba(128, 128, 128, 0.75);
}
.input-block__search-input {
  padding-right: 0.5em !important;
  background: white !important;
  margin: 0;
  border: none !important;
  font-size: 1.25em;
  color: #808080;
}

/* Button Dropdown Block */
.btn-dropdown-block {
  position: relative;
}
.btn-dropdown-block .check-block-item {
  display: flex;
}

/* Radio Block */
.radio-block-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 0 0.5em;
}
.radio-block-wrapper .radio-block-item {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
}
.radio-block-wrapper .radio-block-item__radio {
  height: 75%;
  width: 75%;
}
.radio-block-wrapper .radio-block-item__label {
  font-weight: 400;
}

.media-wrapper {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}
.media-wrapper .media {
  padding: 0.5em;
  background: white;
  border-radius: 3px;
}
.media-wrapper .mediaForm {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  gap: 1rem;
  justify-content: center;
}
.media-wrapper .mediaImageThumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
  align-self: center;
  justify-self: center;
}
.media-wrapper .mediaPopup {
  position: relative;
  align-self: center;
}
.media-wrapper .mediaPopup .mediaPopupImg {
  visibility: hidden;
  width: 25vw;
  height: 100%;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  /* Position the mediaPopup */
  position: absolute;
  z-index: 100;
  left: 110%;
  /* Set transition */
  opacity: 0;
  transition: opacity 350ms ease-in-out 250ms;
}
.media-wrapper .mediaPopup:hover .mediaPopupImg {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.media-wrapper .mediaBlock {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.media-wrapper .mediaCaption input {
  margin: 0;
  background: white;
  border: solid 2px #dddeee;
  border-radius: 3px;
}
.media-wrapper .mediaFeatured .form-check {
  display: flex;
  align-items: center;
}
.media-wrapper .mediaCategories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  justify-self: stretch;
  align-self: flex-start;
  column-gap: 0.5em;
}
.media-wrapper .mediaCategories .form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.media-wrapper .mediaControls {
  display: flex;
  flex-flow: column wrap;
  border-left: solid 1px #dddeee;
  padding: 0.25em;
}
.media-wrapper .mediaControls * + * {
  margin-top: 0.25em;
}

.content-block-messages {
  margin-top: 1em;
  width: 100%;
  display: grid;
  gap: 1em;
}
.content-block-messages .message-block {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.content-block-messages .message-block-inner {
  background: #f3f5f7;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}
.content-block-messages .message-wrapper {
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr;
}
.content-block-messages .message-wrapper hr {
  margin: 0.25em 0;
}
.content-block-messages .button-wrapper {
  padding: 0.5em 1em;
}
.content-block-messages .button-wrapper .btn:last-child {
  margin-top: 1em;
}

.content-block {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}
.content-block .form-group {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-block .form-group__title-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.content-block .form-group__title-wrapper label {
  flex: 1;
}
.content-block .form-group__title-wrapper .badge {
  flex: 0;
  padding: 0.125em 0.25em;
}

/* Users */
.user-list-item,
.user-list-item-header {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr);
  gap: 1em;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #dddeee;
}
.user-list-item:hover,
.user-list-item-header:hover {
  background: #dddeee;
}
.user-list-item__heading,
.user-list-item-header__heading {
  font-size: 1.2rem;
  font-weight: bold;
}
.user-list-item:last-child,
.user-list-item-header:last-child {
  border-bottom: solid 1px #dddeee;
}

.user-list-item-header {
  height: 40px;
}
.user-list-item-header:hover {
  background: white;
}

.add-user {
  justify-self: flex-start;
  align-self: flex-start;
}

.user-block-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
  align-items: center;
}
.user-block-wrapper input, .user-block-wrapper label {
  margin: 0;
}
.user-block-wrapper .user-block-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

.user-block-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

/* Page Content & Edit Styles */
.list-item-page-header {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dddeee;
}
.list-item-page-header .media {
  max-height: 88px;
  width: 88px;
  object-fit: cover;
}

.list-item-page {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dddeee;
}
.list-item-page:hover {
  background: #dddeee;
}
.list-item-page * + * {
  margin-left: 0.5em;
}
.list-item-page .media {
  max-height: 88px;
  width: 88px;
  object-fit: cover;
}

.title {
  flex: 1.5;
}

.status {
  flex: 1;
}

.template {
  flex: 1;
}

.collection {
  flex: 1;
}

/* Page/Collection Add/Edit Styles */
.pageEdit__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  position: relative;
}

.pageEdit__pagetTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageEdit__pagetTitle h4 {
  flex: 1;
  flex-basis: 150px;
  margin: 0;
}
.pageEdit__pagetTitle input {
  background: #f3f5f7;
}

.pageEdit__sectionBlock {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
}
.pageEdit__sectionBlock-header {
  background: #363636;
  padding: 0.5em;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: calc(100px);
  z-index: 100;
}
.pageEdit__sectionBlock-header h4 {
  margin: 0;
}

.page-elementBlock {
  background: white;
  margin-bottom: 2em;
  padding: 0.5em 0.25em;
  border-radius: 3px;
}

.form-block__elementWrapper {
  background: white;
}

/*# sourceMappingURL=main.css.map */
