@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Scada:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Scada", sans-serif;
}

:root {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 900px) {
  :root {
    font-size: calc( 14px + (16 - 14) * ( (100vw - 768px) / ( 900 - 768) ));
  }
}
@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}
h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

:root {
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #1565c0;
  --duration: 150ms;
  --timing: ease;
}

:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: var(--spacing--small);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small);
}

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
}

[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
input:not([type]),
textarea {
  appearance: none;
  background-color: transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--form-box-shadow);
  box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  transition: border-color var(--duration) var(--timing);
  width: 100%;
}
[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
input:not([type]):focus,
textarea:focus {
  box-shadow: var(--form-box-shadow-focus);
}
[type=color]:disabled,
[type=date]:disabled,
[type=datetime]:disabled,
[type=datetime-local]:disabled,
[type=email]:disabled,
[type=month]:disabled,
[type=number]:disabled,
[type=password]:disabled,
[type=search]:disabled,
[type=tel]:disabled,
[type=text]:disabled,
[type=time]:disabled,
[type=url]:disabled,
[type=week]:disabled,
input:not([type]):disabled,
textarea:disabled {
  cursor: not-allowed;
}
[type=color]:disabled:hover,
[type=date]:disabled:hover,
[type=datetime]:disabled:hover,
[type=datetime-local]:disabled:hover,
[type=email]:disabled:hover,
[type=month]:disabled:hover,
[type=number]:disabled:hover,
[type=password]:disabled:hover,
[type=search]:disabled:hover,
[type=tel]:disabled:hover,
[type=text]:disabled:hover,
[type=time]:disabled:hover,
[type=url]:disabled:hover,
[type=week]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: var(--border);
}
[type=color]::placeholder,
[type=date]::placeholder,
[type=datetime]::placeholder,
[type=datetime-local]::placeholder,
[type=email]::placeholder,
[type=month]::placeholder,
[type=number]::placeholder,
[type=password]::placeholder,
[type=search]::placeholder,
[type=tel]::placeholder,
[type=text]::placeholder,
[type=time]::placeholder,
[type=url]::placeholder,
[type=week]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #333;
  opacity: 0.25;
}

[type=search] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  display: inline;
  margin-right: var(--spacing--small);
}

[type=file] {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

select {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

[type=checkbox]:focus,
[type=radio]:focus,
[type=file]:focus,
select:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

/* Global Styles */
/* Default Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f3f5f7;
}

body {
  /* See typography.scss for font family */
  line-height: 1.6;
}

img {
  width: 100%;
  display: block;
}

/* Html Element Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eb7119;
  line-height: 1.1;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #363636;
}
a:focus {
  outline: none;
}
a:hover {
  color: rgba(54, 54, 54, 0.75);
}

::selection {
  background-color: #eb7119;
  color: white;
}

/* Utility Classes */
.span {
  grid-column: 1/-1;
}

/* Badges */
.badge {
  padding: 0.5em;
  width: 100%;
  height: 50%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-notify {
  background: #eb7119;
  color: white;
}
.badge-success {
  background: green;
  color: white;
}
.badge-danger {
  background: #df3b30;
  color: white;
}

/* Text Styles */
.published {
  color: green;
  text-transform: capitalize;
}

.draft {
  color: #737a82;
  text-transform: capitalize;
}

.pending {
  color: #ecce22;
  text-transform: capitalize;
}

.small-text {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
}

.strong-text {
  font-weight: bold;
}

.text-required {
  color: #df3b30;
}

.text-danger {
  color: #df3b30 !important;
  font-weight: bold;
}

.text-info {
  color: #eb7119;
  font-weight: bold;
}

/* Display */
.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

/* Alerts */
.alert {
  padding: 1.5rem;
  margin: calc(100px) 5vw 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  background: #f3f5f7 !important;
  display: grid;
  grid-template-columns: 1fr auto;
  display: relative;
  z-index: 50;
  transform: scale(1, 0);
  transform-origin: top;
  animation: fadeIn 250ms ease-in-out forwards;
}
.alert__title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.alert-danger h4 {
  color: #df3b30;
}
.alert-info h4 {
  color: green;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.collapsed {
  display: none;
  animation: collapse 250ms ease-in-out forwards;
}

@keyframes collapse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
/* Spinner Class */
.spinner {
  background: rgba(54, 54, 54, 0.5) !important;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
}
.spinner::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: white;
  font-size: 3rem;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.toggle-block {
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
}
.toggle-block__header {
  background: #dee3e7;
  padding: 0.5em;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: calc(100px);
  z-index: 50;
}
.toggle-block__header-secondary {
  background: #ebedef;
  border: solid 1px #dee3e7;
}
.toggle-block__title {
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.toggle-block__title:hover {
  cursor: default;
}
.toggle-block__toggle {
  font-size: 0.875rem;
  padding: 1rem 0.5em 1em 1em;
  margin-left: 0.75em;
  border-left: solid 1px #c1c9d2;
}
.toggle-block__toggle:hover {
  cursor: pointer;
  color: #ef8e48;
}
.toggle-block__inner {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.toggle-block__inner .form-group {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.secondary-title {
  padding: 0.5em 1em 0.5em 0.75em;
  flex: 1;
  color: #212f78;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.secondary-title:hover {
  cursor: move;
}

.heading-toggle {
  font-size: 0.875rem;
  padding: 1rem 1em 1em;
  border-left: solid 1px #c1c9d2;
}
.heading-toggle:hover {
  cursor: pointer;
  color: #ef8e48;
}

.sub-toggle-block {
  padding-left: 2rem;
}

/* Layout */
/* Header, Logo */
.top-header {
  padding-right: 1em;
  padding-left: 1em;
  background-color: #363636;
  color: #eb7119;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 201;
  box-shadow: 0 2px 2px rgba(54, 54, 54, 0.5);
}
.top-header .logo {
  font-size: 2rem;
  font-weight: 900;
  line-height: 50px;
  display: flex;
  letter-spacing: 1.4px;
  justify-content: flex-start;
  padding: 0 0 0 4rem;
}
@media screen and (min-width: 768px) {
  .top-header .logo {
    padding: 0;
  }
}
.top-header .logo a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.top-header .logo a:hover {
  color: #ef8e48;
}
.top-header .logo a span {
  text-transform: lowercase;
}

/* Full sidebar/content wrapper to create columns */
.wrapper {
  min-height: 100%;
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 50px;
    padding-left: 175px;
  }
}
.wrapper .sidebar {
  background: #f3f5f7 !important;
  min-width: 175px;
  height: calc(100vh - 50px);
  flex-grow: 1;
  font-size: 0.875rem;
  border-right: solid #dee3e7 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50px;
  z-index: 200;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .wrapper .sidebar {
    transform: scale(1, 1);
    display: block;
    position: fixed;
    height: calc(100vh - 50px);
  }
}
.wrapper .main-content {
  background: #f3f5f7;
  flex-basis: 0;
  flex-grow: 999;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.content-header {
  padding: 0 1em;
  background: #f3f5f7;
  min-height: 50px;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 50px;
  /* Section Title */
}
@media screen and (min-width: 768px) {
  .content-header {
    width: calc(100vw - 175px);
  }
}
.content-header-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-header .breadcrumb {
  font-weight: 300;
  font-size: 0.75rem;
  padding-right: 1em;
}
.content-header .breadcrumb a {
  color: #eb7119;
}
.content-header .breadcrumb a:hover {
  color: #ef8e48;
}
.content-header .section-title {
  margin: 0;
  padding: 0;
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding: calc(50px + 1em) 1em 1em;
}

/* Widgets & Standard Layout Items */
/* Sidebar Navigation */
.sidebar .side-nav {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .sidebar .side-nav {
    padding-top: 1em;
  }
}
.sidebar .side-nav__link {
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  column-gap: 0.25em;
}
.sidebar .side-nav__link:hover {
  background: #dee3e7;
  color: #eb7119;
}
.sidebar .side-nav__link a {
  height: 50px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 250ms ease-in-out 125ms;
}
@media screen and (min-width: 768px) {
  .sidebar .side-nav__link a {
    opacity: 1;
  }
}
.sidebar .side-nav__link a:hover {
  color: #eb7119;
}
.sidebar .side-nav__icon {
  margin-right: 0.5em;
  margin-left: 0.5em;
  color: rgba(54, 54, 54, 0.35);
}
.sidebar .active {
  background: #c1c9d2 !important;
}
.sidebar .active:hover {
  background: inherit;
}
.sidebar .active a {
  color: #eb7119;
}
.sidebar .active a:hover {
  color: #eb7119;
}

.nav-toggle:checked ~ .sidebar {
  display: block;
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .sidebar a {
  opacity: 1;
}

/* Default Button Styles */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/* Button Styles */
button {
  display: inline-block;
  border: none;
  border-radius: 0.25em;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.btn {
  margin-left: 1em;
  padding: 0.5em 0.75em;
  line-height: 1;
  font-size: 0.875rem;
  width: 100%;
  background: darkmagenta;
  color: white;
  border-radius: 0.25rem;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
}
.btn:hover {
  background: 300deg;
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.5;
}
.btn:disabled:hover {
  cursor: not-allowed;
}
.btn:first-child {
  margin-left: 0;
}

.btn-cancel {
  color: #eb7119;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cancel:hover {
  color: #c05a11;
}

.btn-publish {
  background: green !important;
}
.btn-publish:hover {
  background: #004d00 !important;
}
.btn-publish .disabled {
  background: #00b300 !important;
  cursor: not-allowed;
}

.btn-save {
  background: #3782c3 !important;
}
.btn-save:hover {
  background: #2c679b !important;
  color: white;
}

.btn-new {
  background: #6d6e6b !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  background: #df3b30 !important;
}
.btn-delete:hover {
  background: #be281e !important;
}

.btn-block {
  display: block;
  width: auto;
}

/* Button Block Groupings */
.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Button Group Page Edit */
.btn-group-pageEdit {
  padding-top: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.btn-group-pageEdit button {
  margin: 0;
}

/* Button Group Delete Page bottom of page*/
/* Button Dropdown Block */
.btn-dropdown-block {
  position: relative;
  margin-right: 1em;
  margin-left: 1em;
}

.btn-dropdown {
  background: #dee3e7;
  color: #212f78;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
.btn-dropdown > :last-child {
  margin-left: 2rem;
}
.btn-dropdown:hover {
  cursor: default;
}

.form-group-block {
  width: 100%;
  background: #f3f5f7;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  grid-template-columns: 1fr !important;
  transform-origin: top;
  transform: scale(1, 0);
  transition: transform 250ms ease-in-out 200ms;
  position: absolute;
  top: 100%;
  left: 0rem;
  z-index: 100;
}
.form-group-block:hover {
  cursor: pointer;
}
.form-group-block .check-block-item {
  display: flex;
  align-items: center;
}
.form-group-block .check-block-item label {
  margin-left: 0.5em;
}
.form-group-block .form-group {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
}
.form-group-block .form-group:hover {
  background: #dee3e7;
}
.form-group-block .form-group a {
  display: flex;
  padding: 0.5em;
  width: 100%;
  color: #363636;
  height: 100%;
}
.form-group-block .form-group a:hover {
  color: #ef8e48;
}

/* dropdown trigger */
.btn-dropdown-block:hover > .form-group-block,
.btn-dropdown-block:hover > .form-group-block-add {
  cursor: pointer;
  transform: scale(1);
}

.nav-toggle,
.element-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
    z-index: 0;
  }
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: 2rem;
  height: 4px;
  border-radius: 0.25rem;
  background: #eb7119;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 125ms ease;
}
.nav-toggle-label span::before {
  top: 33px;
}
.nav-toggle-label span::after {
  bottom: 33px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span:before {
  transform: rotate(45deg);
  top: 21px;
}

.nav-toggle:checked ~ .nav-toggle-label span:after {
  transform: rotate(-45deg);
  bottom: 25px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  outline: none;
}

/* Form blocks style */
.form-block {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  border: solid 1px #dee3e7;
  color: #212f78;
}
.form-block__title:hover {
  cursor: move;
}

/* used on Navigation Structure Page */
.checkbox-block {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.checkbox-block label {
  font-weight: 300;
}

/* Form Checkbox & Radio block styles */
.form-check-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 0 0.25em;
}

.form-check {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 10px 1fr;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.form-check-label {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
}
.form-check-input {
  height: 17px;
  width: 17px;
}

/* Form Select Styles */
select, input[type=text], textarea {
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  width: 100%;
  border: thin solid #dee3e7;
  border-radius: 0.25rem;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, green 50%), linear-gradient(135deg, green 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, #eb7119 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #eb7119 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #dee3e7;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* CARDS */
.content-cards {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}
.content-cards .content-card {
  padding: 1em;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
}
.content-cards .content-card:hover {
  background: #dee3e7;
}
.content-cards .content-card__header {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 0.25em 0.5em;
  align-items: center;
}
.content-cards .content-card__body {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 0.25em 0.5em;
}
.content-cards .content-card__title {
  margin: 0;
  font-size: 1.4em;
}
.content-cards .content-card p {
  grid-column: 2/-1;
  font-size: 0.75rem;
  color: rgba(54, 54, 54, 0.75);
}
.content-cards .content-card .card-icon {
  padding-top: 0.25em;
  color: rgba(54, 54, 54, 0.35);
  align-self: flex-start;
}

/* Filter Block - Search, filter by something */
.filter-block {
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #dee3e7;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  align-items: center;
}

.input-block {
  background: white !important;
  box-shadow: inset 0 0 0 1px rgba(63, 63, 68, 0.05), inset 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-column: 1/-1;
  flex: 1;
}
.input-block:hover, .input-block:focus-within {
  outline: solid;
  outline-color: #d3e4f3;
}
@media screen and (min-width: 768px) {
  .input-block {
    grid-column: 1;
  }
}
.input-block__icon {
  border: none;
  padding-right: 0.75em;
  padding-left: 0.75em;
  color: #dee3e7;
}
.input-block__search-input {
  margin: 0;
  border: none !important;
  font-size: 1rem;
  color: #eb7119;
}
.input-block__search-input:focus {
  outline: none;
}

/* Modal background */
.modal {
  /* display: none; */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(54, 54, 54, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #f3f5f7;
  border: 1px solid #dee3e7;
  width: 60%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 125ms;
}

.modal-header {
  padding: 2px 16px;
  background-color: #dee3e7;
  color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.modal-dismiss {
  color: #363636;
  font-size: 1.3rem;
}
.modal-dismiss:hover {
  cursor: pointer;
  color: #eb7119;
}

.modal-body {
  padding: 0.25rem 1rem;
}
.modal-body .media-wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1em;
}
.modal-body .media {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.modal-body .mediaBlock {
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1;
}

.modal-footer {
  padding: 0.25rem 1rem;
  background-color: #dee3e7;
  color: white;
}

@keyframes animatetop {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: #737a82;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(115, 122, 130, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.media-wrapper {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}
.media-wrapper .media {
  padding: 0.5em;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
}
.media-wrapper .mediaForm {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr) auto;
  gap: 1rem;
}
.media-wrapper .mediaImageThumb {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.25rem;
  align-self: center;
  justify-self: center;
}
.media-wrapper .mediaPopup {
  position: relative;
  align-self: center;
}
.media-wrapper .mediaPopup .mediaPopupImg {
  visibility: hidden;
  width: 25vw;
  height: 100%;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  object-fit: cover;
  /* Position the mediaPopup */
  position: absolute;
  z-index: 100;
  top: 0;
  left: 110%;
  /* Set transition */
  opacity: 0;
  transition: opacity 350ms ease-in-out 250ms;
}
.media-wrapper .mediaPopup:hover .mediaPopupImg {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.media-wrapper .mediaBlock {
  align-self: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.media-wrapper .mediaCaption input {
  margin: 0;
  background: #f3f5f7;
  border: solid 2px #dee3e7;
  border-radius: 0.25rem;
}
.media-wrapper .mediaFeatured .form-check {
  display: flex;
  align-items: center;
}
.media-wrapper .mediaCategories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  justify-self: stretch;
  align-self: flex-start;
  column-gap: 0.5em;
}
.media-wrapper .mediaCategories .form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.media-wrapper .form-check-label {
  font-weight: 300;
}
.media-wrapper .mediaControls {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}
.media-wrapper .mediaControls .btn {
  margin-left: 1px !important;
}

.content-block-messages {
  margin-top: 1em;
  width: 100%;
  display: grid;
  gap: 1em;
}
.content-block-messages .message-block {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.content-block-messages .message-block-inner {
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(54, 54, 54, 0.15);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}
.content-block-messages .message-block-inner .btn {
  margin: 0;
}
.content-block-messages .message-wrapper {
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr;
}
.content-block-messages .message-wrapper hr {
  margin: 0.25em 0;
}
.content-block-messages .button-wrapper {
  padding: 0.5em 1em;
}
.content-block-messages .button-wrapper .btn:last-child {
  margin-top: 1em;
}

.settings-block {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.settings-block .form-block {
  position: relative;
}
.settings-block .form-block__title {
  display: flex;
  justify-content: space-between;
}
.settings-block .form-block .badge {
  font-size: 0.875rem;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  flex: 0;
  width: 40px;
  height: 23px;
  flex: 0;
}

/* Users */
.user-list-item,
.user-list-item-header {
  padding: 0.5em;
  background: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr);
  gap: 1em;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #dee3e7;
}
.user-list-item:hover,
.user-list-item-header:hover {
  background: #dee3e7;
}
.user-list-item__heading,
.user-list-item-header__heading {
  font-size: 1.2rem;
  font-weight: bold;
}
.user-list-item:last-child,
.user-list-item-header:last-child {
  border-bottom: solid 1px #dee3e7;
}

.user-list-item-header {
  height: 2.2rem;
  font-weight: bold;
  border: none;
}
.user-list-item-header:hover {
  background: #f3f5f7;
}

.add-user {
  justify-self: flex-start;
  align-self: flex-start;
}

.user-block-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
  align-items: center;
}
.user-block-wrapper input, .user-block-wrapper label {
  margin: 0;
}
.user-block-wrapper .user-block-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
}

.user-block-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

/* Page Listing */
.list-item-page-header {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dee3e7;
}
.list-item-page-header .media {
  width: 92px;
}

.list-item-page__heading {
  color: #212f78;
}

.list-item-page {
  background: white;
  border-bottom: solid 1px #dee3e7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.list-item-page:hover {
  background: #dee3e7;
}
.list-item-page .media {
  display: flex;
  align-items: center;
}
.list-item-page .media img {
  margin: 0.25em 8px;
  height: 60px;
  width: 80px;
  object-fit: cover;
}

.title {
  flex: 1.5;
}

.status {
  flex: 1;
}

.template {
  flex: 1;
}

.collection {
  flex: 1;
}

/* Page/Collection Add/Edit Styles */
.pageEdit__wrapper {
  margin-top: 1rem;
  display: flex;
  position: relative;
}

.pageEdit__title {
  margin: 0 0 0.5em;
}

.pageEdit__sectionBlock {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
}
.pageEdit__sectionBlock-header {
  background: #dee3e7;
  padding: 0.5em;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: calc(100px);
  z-index: 50;
}
.pageEdit__sectionBlock-title {
  padding-bottom: 0.25em;
}

.page-elementBlock {
  background: #f3f5f7;
  margin-bottom: 0.5em;
  padding: 0.5em 0.25em;
  border-radius: 0.25rem;
}

.form-block__elementWrapper {
  background: white;
  padding: 1em;
}

.new-element {
  animation: fadeBackground 1.5s ease-in-out forwards;
}

@keyframes fadeBackground {
  0% {
    opacity: 0;
    background: rgba(55, 130, 195, 0.5);
  }
  100% {
    opacity: 1;
    background: #f3f5f7;
  }
}
.pageEdit__leftCol {
  flex: 5;
}

.pageEdit__rightCol {
  width: clamp(15vw, 25vw, 400px);
  padding: 0.5em 0.75em;
}

/* Navigation Structure */
.nav-wrapper {
  margin-top: 1rem;
  font-size: 1em;
  display: flex;
}
.nav-wrapper__sidebar {
  padding-right: 1em;
  flex: 0.75;
  display: flex;
  flex-flow: column nowrap;
}
.nav-wrapper__sidebar .form-group-inline {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}
.nav-wrapper__sidebar .checkbox-block {
  grid-template-columns: 1fr;
  gap: 0;
}
.nav-wrapper__sidebar .checkbox-block__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  padding: 0;
  color: #212f78;
  font-weight: 300;
  line-height: 1;
}
.nav-wrapper__form-group {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.nav-wrapper__form-group label {
  font-weight: 600;
  display: none;
}
.nav-wrapper__main {
  align-content: flex-start;
  flex: 3;
}
.nav-wrapper__main > * {
  border: solid 1px #dee3e7;
  margin-bottom: 0.5rem;
}
.nav-wrapper .nav-item {
  width: 100%;
  grid-column: 1/-1;
  line-height: 50px;
  border: solid 1px #c1c9d2;
}
.nav-wrapper .nav-item__header {
  background: #dee3e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  height: 50px;
  line-height: 50px;
}
.nav-wrapper .nav-item__content {
  padding-right: 1em;
  padding-left: 1em;
  color: #737a82;
  font-weight: 300;
}
.nav-wrapper .nav-item__title {
  padding-right: 1em;
  padding-left: 0.75em;
  flex: 1;
  color: #212f78;
  font-size: 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-wrapper .nav-item__title:hover {
  cursor: move;
}
.nav-wrapper .nav-item__type {
  padding-right: 1rem;
  padding-left: 1rem;
}
.nav-wrapper .nav-item__toggle {
  font-size: 0.875rem;
  padding: 1rem 1em 1em;
  border-left: solid 1px #c1c9d2;
}
.nav-wrapper .nav-item__toggle:hover {
  cursor: pointer;
  color: #ef8e48;
}
.nav-wrapper .nav-item label {
  font-weight: 300;
  font-style: italic;
}
.nav-wrapper .sub-nav-item {
  grid-column: 2/-1;
}
.nav-wrapper .btn-group-navigation {
  padding: 0;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column: -2/-1;
  gap: 1em;
  align-items: center;
}
.nav-wrapper .btn-group-nav-sidebar {
  padding-top: 5rem;
  padding-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
