.pagination {
 @include padding(1em .5em);
 display: flex;
 flex-flow: row nowrap;
 justify-content: flex-start;
 align-items: center;
 font-size: 1.4rem;
 background: $primary-md-grey;

 .active {
  a {
   background: $primary-color;
   color: $primary-light;

   &:hover {
    cursor: default;
    color: $primary-light;
   }
  }
 }

 & div {
  a {
   @include padding(.25em);
   @include margin(1em .25em);
   background: transparent;
   color: $primary-dark;
   border-radius: $border-radius;

   &:hover {
    text-decoration: none;
    color: $primary-light;
    background: $primary-color;
    cursor: pointer;
   }
  }

  &:first-child,
  &:last-child {
   a {
    @include padding(0);
    @include margin(0);
    &:hover{
     background-color: transparent;
     color: $primary-dark-grey;
    }
   }
  }
 }

 .disabled {
  color: $primary-dark-grey;
 }
}