.pagination {
@include padding(1em);
display: flex;
justify-content: flex-start;
align-items: center;
div{
 @include margin(null .25em null null);
 a {
  &:hover {
   text-decoration: none;
  }
 }
}
 .active {
  a {
  
   &:hover {}
  }
 }
 & div {


  &:first-child,
  &:last-child {
   a {
    &:hover {}
   }
  }
 }
 .disabled {}
}