
{# DELETE THIS FILE? #}

<div class="sidebar-link">
    <a class="{{ currentRoute('adminToolSetting') and inUrl('site') ? 'active' }}"
        href="{{ pathFor('adminToolSetting', {'cat': 'site'}) }}">
        <i class="fas fa-wrench"></i>
        <div class="sidebar-link__text">General</div>
    </a>
</div>

<div class="sidebar-link">
    <a class="{{ currentRoute('adminToolSetting') and inUrl('contact') ? 'active' }}"
        href="{{ pathFor('adminToolSetting', {'cat': 'contact'}) }}">
        <i class="fas fa-inbox"></i>
        <div class="sidebar-link__text">Contact</div>
    </a>
</div>


<div class="sidebar-link">
    <a class="{{ currentRoute('adminToolSetting') and inUrl('social') ? 'active' }}"
        href="{{ pathFor('adminToolSetting', {'cat': 'social'}) }}">
        <i class="fas fa-comment"></i>
        <div class="sidebar-link__text">Social</div>
    </a>
</div>


<div class="sidebar-link">
    <a class="{{ currentRoute('adminUser') }}" href="{{ pathFor('adminUser') }}">
        <i class="fas fa-user"></i>
        <div class="sidebar-link__text">Users</div>
    </a>
</div>


<div class="sidebar-link">
    <a class="{{ currentRoute('adminToolSitemap') }}" href="{{ pathFor('adminToolSitemap') }}">
        <i class="fas fa-sitemap"></i>
        <div class="sidebar-link__text">Sitemap</div>
    </a>
</div>