<div class="sidebar-links">
    <a class="nav-link {{ currentRoute('adminSettings') and inUrl('site') ? 'active' }}"
        href="{{ pathFor('adminSettings', {'cat': 'site'}) }}">
        <i class="fas fa-wrench"></i>
        General</a>
</div>
<div class="sidebar-links">
    <a class="nav-link {{ currentRoute('adminSettings') and inUrl('contact') ? 'active' }}"
        href="{{ pathFor('adminSettings', {'cat': 'contact'}) }}">
        <i class="fas fa-inbox"></i>
        Contact</a>
</div>
<div class="sidebar-links">
    <a class="nav-link {{ currentRoute('adminSettings') and inUrl('social') ? 'active' }}"
        href="{{ pathFor('adminSettings', {'cat': 'social'}) }}">
        <i class="fas fa-comment"></i>
        Social</a>
</div>
<div class="sidebar-links">
    <a class="nav-link {{ currentRoute('adminUsers') }}" href="{{ pathFor('adminUsers') }}">
        <i class="fas fa-user"></i>
        Users</a>
</div>
<div class="sidebar-links">
    <a class="nav-link {{ currentRoute('adminSitemap') }}" href="{{ pathFor('adminSitemap') }}">
        <i class="fas fa-sitemap"></i>
        Sitemap</a>
</div>