<div class="" id="settings-tabContent" role="tablist" aria-orientation="vertical">
    <div class="sidebar-links">
        <a class="nav-link active" id="settings-site-tab" data-toggle="pill" href="#settings-site" role="tab"
            aria-controls="settings-site" aria-selected="true">
            <i class="fas fa-wrench"></i>
            Site Settings</a>
    </div>
    <div class="sidebar-links">
        <a class="nav-link" id="settings-contact-tab" data-toggle="pill" href="#settings-contact" role="tab"
            aria-controls="settings-contact" aria-selected="false">
            <i class="fas fa-envelope"></i>
            Contact</a>
    </div>
    <div class="sidebar-links">
        <a class="nav-link" id="settings-social-tab" data-toggle="pill" href="#settings-social" role="tab"
            aria-controls="settings-social" aria-selected="false">
            <i class="fas fa-comment"></i>
            Social</a>
    </div>
    <div class="sidebar-links">
        <a class="nav-link" id="settings-social-tab" data-toggle="pill" href="#settings-contactForm" role="tab"
            aria-controls="settings-contactForm" aria-selected="false">
            <i class="fas fa-inbox"></i>
            Contact Form</a>
    </div>
    <div class="sidebar-links">
        <a class="nav-link" id="settings-custom-tab" data-toggle="pill" href="#settings-custom" role="tab"
            aria-controls="settings-custom" aria-selected="false">
            <i class="fas fa-cog"></i>
            Custom</a>
    </div>
    <div class="sidebar-links">
        <a class="nav-link {{ currentRoute('adminUsers') }}" href="{{ pathFor('adminUsers') }}">
            <i class="fas fa-user"></i>
            Users</a>
    </div>
</div>