{% extends '@admin/tools/_adminToolsBase.html' %}


{% block htmlTitle 'Tools' %}
{% block headText 'Manage PitonCMS' %}
{% block leadText 'Custom & Default Settings' %}
{% block sectionText 'tools' %}

{% block subBody %}
<div class="card-wrapper">
  <div class="card">
    <img src="" alt="" scr="https://unsplash.it/601/400">
    <div class="card-body">
      <p>This is some text for the card</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="" scr="https://unsplash.it/602/400">
    <div class="card-body">
      <p>This is some text for the card</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="" scr="https://unsplash.it/603/400">
    <div class="card-body">
      <p>This is some text for the card</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="" scr="https://unsplash.it/604/400">
    <div class="card-body">
      <p>This is some text for the card</p>
    </div>
  </div>
</div>

{% endblock subBody %}