{% extends '@admin/_adminBase.html' %}
{% import '@admin/tools/_editSettingInputMacro.html' as settingForm %}

{% block htmlTitle 'Edit Settings' %}
{% block headText 'Manage Site Settings' %}
{% block sectionId 'tools' %}
{# {% block mainClass 'contentTwoCol' %} #}

{% block openForm %}
<form class="toolsEditForm" action="{{ pathFor('adminSaveSettings') }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
  <input type="hidden" name="category" value="{{ page.category }}">
  {% endblock openForm %}

  {% block sidebar %}
  {% include "@admin/tools/_toolsSidebar.html" %}

  <div class="button-group sidebar-controls span">
    <!-- Control Buttons -->
        <a class="btn btn-warning" href="{{ pathFor('adminSettings', {'cat': page.category|default('site') }) }}">Cancel</a>
        <button class="btn btn-primary" type="submit" name="button" value="save">Save</button>
  </div>
  {% endblock sidebar %}

  {% block content %}
  <div class="grid-wrapper">
    {% for setting in page.settings %}
    {{ settingForm.settingInput(setting) }}
    {% endfor %}
  </div>


  {% endblock content %}