{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Piton Release Notes' %}
{% block headText 'Piton Release Notes' %}
{% block sectionId 'tools' %}
{% block mainClass 'contentTwoCol' %}

{% block openForm %}
<form>
{% endblock openForm %}

{% block sidebar %}
{% include "@admin/tools/_toolsSidebar.html" %}
{% endblock sidebar %}

{% block content %}
<div class="grid-wrapper">
    {% for rel in page.releases %}
    <h3 id="rel-{{ rel.tag_name }}">{{ rel.name }}</h3>
    <p class="lead">
        Version <a href="{{ rel.html_url }}" target="_blank">{{ rel.tag_name }}</a>
        Published {{ rel.published_at|date }}
    </p>
    <p>{{ rel.body }}</p>
    <hr>
    {% endfor %}
    <i>To see older release notes, or to contribute to PitonCMS, go to
        <a href="https://github.com/PitonCMS/Engine/releases" target="_blank">GitHub PitonCMS</a>.
    </i>
</div>

{% endblock content %}

{% block footJs %}
let path = window.location.pathname;
let release = path.match(/\d+\.\d+\.\d+$/g);
if (release[0]) window.location.hash = "rel-" + release[0];
{% endblock footJs %}