{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Sitemap' %}
{% block headText 'Sitemap' %}
{% block sectionId 'detailPage' %}
{# {% block mainClass 'contentTwoCol' %} #}

{% block openForm %}
<form class="contentWrapper jsUserForm" action="{{ pathFor('adminToolSitemapUpdate') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
{% endblock openForm %}

{% block sidebar %}
{% include "@admin/tools/_toolsSidebar.html" %}
<div class="button-group sidebar-controls span">
  <!-- Control Buttons -->

      <button class="btn btn-outline-primary" type="submit">Update Sitemap</button>

</div>
{% endblock sidebar %}

{% block content %}
<div class="sitemap-wrapper">
  <h3>Sitemap</h3>
  <p>Search engines might use your sitemap to better understand what content to index. Click update after posting new content.</p>

  <div>
      {% if page.sitemapXML %}
          <a href="/sitemap.xml" target="_blank">Link to sitemap</a> | Last updated {{ page.lasteUpdateDate|date }}
          <pre>{{ page.sitemapXML|escape }}</pre>
      {% else %}
          No Sitemap Found - Click Update Sitemap
      {% endif %}
  </div>
</div>

{% endblock content %}
