{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Sitemap' %}
{% block headText 'Sitemap' %}
{% block sectionId 'sitemap' %}
{# {% block mainClass 'contentTwoCol' %} #}

{% block openForm %}
<form class="sitemapForm jsUserForm" action="{{ pathFor('adminUpdateSitemap') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
{% endblock openForm %}

{% block sidebar %}
{% include "@admin/tools/_toolsSidebar.html" %}
<div class="sidebar-controls">
  <!-- Control Buttons -->
    <div class="button-group">
      <button class="btn btn-primary mb-2" type="submit">Update Sitemap</button>
    </div>
</div>
{% endblock sidebar %}

{% block content %}
<div class="sitemap-content">
  <h3>Sitemap</h3>
  <p>Search engines might use your sitemap to better understand what content to index. Click update after posting new content.</p>
  
  <div>
      {% if page.sitemapXML %}
          <a href="/sitemap.xml" target="_blank">Link to sitemap</a> | Last updated {{ page.lasteUpdateDate|date }}
          <pre>{{ page.sitemapXML|escape }}</pre>
      {% else %}
          No Sitemap Found - Click Update Sitemap
      {% endif %}
  </div>
</div>

{% endblock content %}
