{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Users' %}
{% block headText %}Manage Users{% endblock %}
{% block sectionId 'users' %}
{% block mainClass 'contentTwoCol' %}

{% block openForm %}
<form class="jsUserForm" action="{{ pathFor('adminSaveUsers') }}" method="post" accept-charset="utf-8">
  {% endblock openForm %}

  {% block sidebar %}
  {% include "@admin/tools/_toolsSidebar.html" %}
  {% endblock sidebar %}

  {% block content %}
  <div class="form-wrapper">
    {% for user in page %}
    <div class="user-card">
      <input type="email" name="email[]" maxlength="60" value="{{ user.email }}" autocomplete="off">
      <input type="checkbox" id="adminCheck" {{ checked(user.admin) }}>
      <label for="adminCheck">Administrator</label>
      <a class="btn btn-danger ml-2 jsDeleteConfirm" href="{{ pathFor('adminDeleteUser', {'id': user.id}) }}">
        Delete User
      </a>
    </div>
    {% endfor %}
  </div>
  <div class="two-col-sidebar">
    <div class="two-col-sidebar-inner">
      <div class="button-group">
        <button type="button" class="btn btn-success jsAddUserRow">Add User</button>
        <a class="btn btn-warning" href="{{ pathFor('adminHome') }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-primary">Save Users</button>
      </div>
    </div>
  </div>
  {% endblock content %}