{% extends '@admin/_adminBase.html' %}
{% import _self as form %}
{% block htmlTitle 'Users' %}
{% block headText %}Manage Users{% endblock %}
{% block sectionId 'users' %}
{% block mainClass 'contentTwoCol' %}

{% block openForm %}
<form class="jsUserForm" action="{{ pathFor('adminSaveUsers') }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
  {% endblock openForm %}

  {% block sidebar %}
  {% include "@admin/tools/_toolsSidebar.html" %}
  {% endblock sidebar %}

  {% block content %}
  <div class="form-wrapper">
    {% if page.recommendRecoveryEmail %}
    <p>You only have one Administrator email registered. You should consider adding a second Administrator recovery email address.</p>
    {% endif %}
    {% for user in page.users %}
    {% set arrayKey = uniqueKey() %}
    <div class="user-card jsUser">
        <input type="hidden" name="user_id[{{ arrayKey }}]" value="{{ user.id }}">
        <input type="email" name="email[{{ arrayKey }}]" maxlength="255" value="{{ user.email }}" autocomplete="off"
          {% if user.id %}required{% endif %} {% if user.active == 'N' %}readonly{% endif %}>
        <input type="checkbox" name="admin[{{ arrayKey }}]" id="admin-{{ arrayKey }}" {{ checked(user.role == 'A') }}>
        <label for="admin-{{ arrayKey }}">Administrator</label>
        <button class="btn btn-outline-{% if user.active == 'Y' %}danger{% else %}success{% endif %} ml-2"
          formaction="{{ pathFor('adminChangeUserStatus', {'id': user.id, 'status': (user.active == 'N') ? 'Y' : 'N'}) }}">
            {% if user.active == 'Y' %}Deactivate{% else %}Activate{% endif %}
        </button>
      </div>
    {% endfor %}
  </div>
  <div class="two-col-sidebar">
    <div class="two-col-sidebar-inner">
      <div class="button-group">
        <button type="button" class="btn btn-success jsAddUserRow">Add User</button>
        <a class="btn btn-warning" href="{{ pathFor('adminUsers') }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-primary">Save Users</button>
      </div>
    </div>
  </div>
  {% endblock content %}
