{% extends '@admin/_adminBase.html' %}

{% block htmlTitle 'Collections' %}
{% block headText 'Manage Collections' %}
{% block sectionText 'collections' %}

{% block body %}
<div class="row">
  <div class="col">
    <h3>Add Collection Detail Page</h3>
    {% if page.collections %}
    <ul>
      {% for col in page.collections %}
      <li>
        <a href="{{ pathFor('adminEditPage', {}, {'collection_id': col.id, 'definition': col.definition}) }}"
          title="Add new collection detail page">New {{ col.title }}</a> {{ col.templateDescription }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No Collection JSON Definition Files Found</h5>
    {% endif %}
  </div>

  {# TODO This whole div will be only shown to authorized super users #}
  <div class="col">
    <h3>Add New Collection</h3>
    <p class="lead">Create a new collection group from a collection template</p>
    {% if page.templates %}
    <ul>
      {% for template in page.templates %}
      <li>
        <a href="{{ pathFor('adminEditCollection', {}, {'definition': template.filename}) }}"
          title="{{ template.description }}">{{ template.name }}</a> {{ template.description }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No Page JSON Definition Files Found</h5>
    {% endif %}

    <h3>Edit Collection</h3>
    <p class="lead">Edit an existing collection name or slug</p>
    {% if page.collections %}
    <ul>
      {% for col in page.collections %}
      <li>
        <a href="{{ pathFor('adminEditCollection', {'id': col.id}) }}" title="Edit collection">{{ col.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h5>No Collections Found</h5>
    {% endif %}
  </div>
</div>

{% for colPage in page.collectionPages %}
<div class="row">
  <div class="col">
    <h3>{{ colPage.collection_title }} Pages</h3>
    <div class="card-wrapper">
      {% for p in colPage.pages %}
      {% include "@admin/page/_pageCard.html" %}
      {% else %}
      <strong>No Saved Pages Found in {{ colPage.collection_title }} Collection</strong>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<strong>No Collection Pages Found</strong>
{% endfor %}
{% endblock body %}