.media-wrapper {
  @include padding(2rem 1rem);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: min-content;
  gap: 1rem;
  align-items: center;

  .media {
    overflow: hidden;
    position: relative;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

  }

  .media:hover {
    cursor: move;
  }

  .media:hover>.mediaMeta {
    top: 50%;
  }

  .mediaCaption {

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mediaMeta {
    background: rgba($clr-dark, .75);
    color: $text-light;
    display: flex;
    flex-flow: column wrap;
    @include padding(.5rem 1rem);

    position: absolute;
    bottom: 0;
    width: 100%;

    top: 100%;
    transition: top 125ms ease-out 125ms;

    &>div {
      @include margin(.25rem null null null);
    }
  }

  .media {}

  .mediaImage img {}

  .mediaCategories {
    display: flex;
    flex-wrap: wrap;
  }

  .mediaCategory:not(:first-child) {
    @include margin(null null null 1rem);

  }

  .mediaControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mediaControls>* {
    @include margin(0);
  }

  .mediaExtra {
    @include padding(.5rem);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $text-light;
  }

  .mediaFeatured {
    @include padding(0 .25rem);
    border-radius: $border-radius;
    background: $clr-accent;
    color: $clr-light;

    font-size: .8rem;

    span {
      display: none;
    }
  }

}