#messages {
  .jsMessageWrap {
    width: 100%;
    @include padding(0.5em);
    @include margin(null null 1em null);
    border-radius: $border-radius;
    display: flex;
    box-shadow: $box-shadow;
  }
  .message-wrapper {
    flex: 1;
    @include padding(null 1em null null);
  }
  .meta-wrapper {
    display: flex;
    // flex-flow: row nowrap;
    // width: 100%;
    // align-content: flex-end;

    p {
      @include margin(null 1em null null);
      font-size: 1.2rem;
    }
  }
  .button-wrapper form {
    // @include margin(1em null null);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    height: 100%;
    width: 100%;
    button {
      @include margin(null null null 0.5em);
      display: block;
    }
  }
}
