/* Page Content & Edit Styles */
.list-item-page-header {
 @include padding(.5em null .25em);
 @include margin(1em null null null);
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-items: center;
 border-bottom: solid 1px $clr-border;
}

.list-item-page {
 background: $bg-light;
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-items: center;

 border-bottom: solid 1px $clr-border;

 &:hover {
  background: $bg-blue;
 }

 *+* {
  @include margin(null null null .5em);

 }

 .media {
  max-height: 88px;
  width: 88px;
  object-fit: cover;
  overflow: hidden;
 }

}

.title {
 flex: 1.5;
}

.status {
 flex: 1;
}

.template {
 flex: 1;
}

.collection {
 flex: 1;
}

/* Page/Collection Add/Edit Styles */

.page-edit-wrapper {
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap: 1em;
 position: relative;

}

.page-edit__leftCol {
 // flex: 999;
}

.page-edit__rightCol {

 // flex: 1;
 position: sticky;
 top: 200px;
 right: 0;
 width: 100%;
}