/* Page Listing */

// wrapper for page list header
.list-item-page-header {
 @include padding(.5em null .25em);
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-items: center;
 border-bottom: solid 1px $border;

 .media {
  width: 92px;
 }
}

.list-item-page__heading {
 color: $text-secondary;
}

.list-item-page {
 background: $bg-white;
 border-bottom: solid 1px $border;

 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-items: center;

 &:hover {
  background: $bg-grey;
 }

 .media {
  display: flex;
  align-items: center;

  img {
   @include margin(.25em 8px);
   height: 60px;
   width: 80px;
   object-fit: cover;
  }
 }
}

.title {
 flex: 1.5;
}

.status {
 flex: 1;
}

.template {
 flex: 1;
}

.collection {
 flex: 1;
}

/* Page/Collection Add/Edit Styles */

.pageEdit__wrapper {
 @include margin(1rem null null null);
 display: flex;
 position: relative;
}

// Page Edit Blocks
.pageEdit__title {
 @include margin(0 0 .5em 0);

}

.pageEdit__sectionBlock {
 @include margin(null null 1em null);
 display: grid;
 grid-template-columns: 1fr;
 // cursor: pointer;

 &-header {
  background: $bg-grey;
  @include padding(.5em);
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $nav-height;

  position: sticky;
  top: calc(#{$nav-height * 2});
  z-index: 50;
 }

 &-title {
  @include padding(null null .25em null);
 }
}

.page-elementBlock {
 background: $bg-light;
 @include margin(null null .5em null);
 @include padding(.5em .25em);
 border-radius: $border-radius;
}

.form-block__elementWrapper {
 background: $bg-white;

 padding: 1em;
}

.new-element {

 animation: fadeBackground 1.5s ease-in-out forwards;
}

@keyframes fadeBackground {
 0% {
  opacity: 0;

  background: rgba($bg-accent, .5);
 }

 100% {
  opacity: 1;
  background: $bg-light;
 }
}

.pageEdit__leftCol {
 flex: 5;
}

.pageEdit__rightCol {
 // width: 25vw;
 // max-width: 400px;
 // min-width: 300px;
 width: clamp(15vw, 25vw, 400px);
 @include padding(.5em .75em);
}