#editSettings {
  .tab-content {
    @include padding(1rem);
    @include margin(0 null 1rem);
    @include border-width(null 1px 1px);
    @include border-color(#dee2e6);
    @include border-style(null solid solid);
    @include border-bottom-radius($border-radius);

    .gridLayout {
      display: grid !important;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 10px;

    }

  }
}