div[id*="page-setting"],
div[class*="user-element"] {
 @include padding(1em);
 background: $clr-bg-light;
 border: none;
 border-radius: $border-radius;
 box-shadow: $box-shadow;
}
.sitemap-wrapper {
 @include padding(1em);
}