form {
  background-color: #ecec11;

  .page-settings-wrapper {
    background-color: #ecec22;
  }

  .block-title-wrapper {
    background-color: #ecec33;
  }

  .form-group-wrapper {
    background-color: #ecec44;
  }

  .form-group {
    background-color: #ecec55;
  }

  .form-control {
    background-color: #ecec;
  }

  .block-element-wrapper {
    background-color: #efef;
  }

  .element-block {
    background-color: #eded;
  }

  .jsBlockParent {
    background-color: #e1e1;
  }
}