{#
		Base layout for Piton two column admin pages.

		Available blocks in base layout:
		- htmlTitle
		- headText
		- leadText
		- jsPitonConfig
		- head
		- body
		- foot

		Blocks in form layout:
#}
{% extends '@admin/_adminBase.html' %}

{% block body %}
{% block openForm '' %}
<div class="sidebar bg-dark">

	{% block sideNav %}
	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link" href="#">Example Sidebar Link</a>
		</li>
	</ul>
	{% endblock sideNav %}

</div>

<main role="main" class="content">

	{% block subBody %}
	{% endblock subBody %}

</main>
{% block closeForm '' %}
{% endblock body %}