<!doctype html>
<html lang="en">

{#
    Piton Administration Base Layout

    Available blocks in base layout:
    - htmlTitle     HTML <title> text
    - jsPitonConfig Add dynamic JS variables to jsPitonConfig object
    - head          Insert additional <head> HTLM elements
    - openForm      To open <form> tag to wrap form around header and content
    - contentHeader Content header and form controls
    - content       Main content area
    - closeForm     To close </form> tag
    - foot          Insert additional footer HTML elements after JS links
#}

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta name="author" content="PitonCMS">
 <link rel="icon" href="">

 <title>
  {# Concatenate htmlTitle, if provided in extending page #}
  {% if block('htmlTitle') is defined %}
    {{ block('htmlTitle') ~ ' - ' }}
  {% endif %}
  PitonCMS
 </title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
 <link rel="stylesheet" href="{{ basePath() }}/admin/css/main.css?v={{ site.settings.engine }}">


 {# Load pitonConfig with runtime values. Also extra 'head' block for additional head elements #}
 {{ include('@admin/includes/_pitonConfigJs.html') }}
 {% block head '' %}
</head>

<body>
 <header class="top-header">
  <div class="logo">
   <a href="{{ pathFor('adminHome') }}">Piton<span>CMS</span></a>
  </div>
 </header>

 {{ include("@admin/includes/_alert.html") }}

 <div class="wrapper">
  <input type="checkbox" name="nav-toggle" class="nav-toggle" id="nav-toggle">
  <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
  <aside class="sidebar">
   {# Load admin side navigation.#}
   {{ include("@admin/includes/_navbar.html") }}
  </aside>

  <main class="{% block mainClass 'main-content' %}">

    {# Page level forms must wrap  contentHeader and content blocks #}
    {% block openForm '' %}

   <!-- Content Header w/title & controls -->
   <div class="content-header">
    <div class="container">
     {% block contentHeader 'Content Header' %}
    </div><!-- /.container -->
  </div><!-- /.content-header -->

   <!-- Content Block -->
   <div class="content">
    <div class="container">
     {% block content 'Main Content' %}
    </div><!-- /.container -->
   </div><!-- /.content -->

   {# Closing form if required #}
   {% block closeForm '' %}

  </main>
 </div><!-- /.wrapper -->

 <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
 <script src="{{ basePath() }}/admin/js/main.js?v={{ site.settings.engine }}"></script>

 {# Optional footer block element #}
 {% block foot '' %}
</body>

</html>