{#
    Base layout for Piton forms.

    Available blocks in base layout:
    - htmlTitle
    - headText
    - leadText
    - jsPitonConfig
    - head
    - body
    - foot

    Blocks in form layout:
    - formActionPath
    - hiddenInputs
    - leftColDiv
    - formBody
    - otherControls
    - rightCol
#}
{% extends '@admin/_adminBase.html' %}

{% block body %}

<form action="{% block formActionPath '#' %}" method="post" accept-charset="utf-8">
    <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">

    {% block hiddenInputs %}
    {% endblock hiddenInputs %}

    <div class="scroll-container" {% block leftColDiv '' %}>

    {% block formBody %}
    {% endblock formBody %}

    </div>
    <!-- end left col -->

    <div class="sidebar">
      <!-- Control Buttons -->
      <div class="mb-2">
        <a class="btn btn-warning" href="{% block cancelLink '#' %}">Cancel</a>
        <button class="btn btn-primary" type="submit" name="button" value="save">Save</button>

        {% block otherControls %}
        {% endblock otherControls %}

      </div>


        {% block rightCol %}
        {% endblock rightCol %}
    </div><!-- end right col -->

</form>

{% endblock body %}
