{#
		Base layout for Piton two column admin pages.

		Available blocks in base layout:
		- htmlTitle
		- headText
		- leadText
		- jsPitonConfig
		- head
		- body
		- foot

		Blocks in form layout:
#}
{% extends '@admin/_adminBase.html' %}

{% block body %}

<div class="sidebar bg-dark">

  <ul class="nav flex-column">
    {% block sideNav %}
    <li class="nav-item">
      <a class="nav-link" href="#">Example Sidebar Link</a>
    </li>
    {% endblock sideNav %}
  </ul>

</div>

<main role="main" class="content">

  {% block subBody %}
  {% endblock subBody %}

</main>

{% endblock body %}