{#
    Base layout for Piton forms.

    Available blocks in base layout:
    - htmlTitle
    - headText
    - leadText
    - jsPitonConfig
    - headJs
    - footJs

    Blocks in form layout:
    - formActionPath
    - hiddenInputs
    - leftColDiv
    - formBody
    - otherControls
    - rightCol
#}
{% extends '@admin/_adminBase.html' %}

{% block body %}

<hr class="mt-0">

<form action="{% block formActionPath '#' %}" method="post" accept-charset="utf-8">
{% block hiddenInputs %}
{% endblock hiddenInputs %}

  <div class="row">
    <div class="col-md scroll-container" {% block leftColDiv '' %}>

    {% block formBody %}
    {% endblock formBody %}

    </div><!-- end left col -->

    <div class="col-md-3">
      <!-- Control Buttons -->
      <div class="mb-2">
        <a class="btn btn-warning mb-2" href="{% block cancelLink '#' %}">Cancel</a>
        <button class="btn btn-primary mb-2" type="submit" name="button" value="save">Save</button>

        {% block otherControls %}
        {% endblock otherControls %}

      </div>
      <hr>

        {% block rightCol %}
        {% endblock rightCol %}
    </div><!-- end right col -->

  </div><!-- end row -->
</form>

{% endblock body %}
