{#
		Base layout for Piton two column admin pages.

		Available blocks in base layout:
		- htmlTitle
		- headText
		- leadText
		- jsPitonConfig
		- head
		- body
		- foot

		Blocks in form layout:
#}
{% extends '@admin/_adminBase.html' %}

{% block body %}

<nav class="bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      {% block sideNav %}
      <li class="nav-item">
        <a class="nav-link" href="#">Example Sidebar Link</a>
      </li>
      {% endblock sideNav %}
    </ul>
  </div>
</nav>

<main role="main" class="col-md-10">

  {% block subBody %}
  {% endblock subBody %}

</main>

{% endblock body %}