{% extends '@admin/_adminBase.html' %}

{% block headText 'Choose Page Template' %}

{% block body %}

    <p>
      {% if page.templates %}
      <ul>
          {% for template in page.templates %}
          <li>
              <a href="{{ pathFor('editPage', {'id': template.filename}) }}" title="{{ template.description }}">{{ template.name }}</a> {{ template.description }}
          </li>
          {% endfor %}
      </ul>
      {% else %}
      <h5>No Page JSON Definition Files Found</h5>
      {% endif %}
    </p>

{% endblock body %}
