{% extends '@admin/_adminBase.html' %}

{% block headText 'All Collections' %}

{% block leadText 'Should we just stuff these edit links into the nav bar????' %}

{% block body %}

    {% for c in page.collections %}
    <p>
        <a href="{{ pathFor('editCollection', {'id': c.id}) }}" title="Edit collection">{{ c.title }}</a> |
        <a href="{{ pathFor('editCollectionDetail', {'collection': c.id}) }}" title="Add to collection detail">Add {{ c.title }}</a>
    </p>
    {% else %}
    <h5>No Collections Found</h5>
    {% endfor %}

{% endblock body %}
