{% extends '@admin/_adminFormBase.html' %}

{% block htmlTitle %}
{% if page.id %}Edit{% else %}Add{% endif %} {{ page.title }} Collection Detail -
{% endblock %}

{% block headText %}
{% if page.id %}Edit{% else %}Add{% endif %} {{ page.title }} Collection Detail
{% endblock %}

{% block leadText %}
Details for {{ page.collection.title }}.
{% endblock %}

{% block formActionPath pathFor('saveCollectionDetail') %}

{% block hiddenInputs %}
  <input type="hidden" name="id" value="{{ page.id }}">
  <input type="hidden" name="collection_id" value="{{ page.collection.id }}">
{% endblock hiddenInputs %}

{% block formBody %}
      <div class="form-group">
        <label>{{ page.collection.title }} Title</label>
        <input type="text" class="form-control" name="title" maxlength="60" placeholder="Collection detail title" value="{{ page.title }}" required autocomplete="off">
        <small class="form-text text-muted">Display title.</small>
      </div>

      <div class="form-group">
        <label>{{ page.collection.title }} Sub-Title</label>
        <input type="text" class="form-control" name="sub_title" maxlength="250" placeholder="Collection detail sub-title" value="{{ page.sub_title }}" autocomplete="off">
        <small class="form-text text-muted">Display sub-title.</small>
      </div>

      <div class="form-group">
        <label>URL Slug</label>
        <input type="text" class="form-control" name="slug" maxlength="100" placeholder="URL Slug" value="{{ page.slug }}" required autocomplete="off">
        <small class="form-text text-muted">Single word, case sensitive.</small>
      </div>

      <div class="form-group">
        <label>Summary Description</label>
        <textarea class="form-control jsMDE" rows="5" name="content_raw">{{ page.content_raw }}</textarea>
        <small class="form-text text-muted">Optional text to display with collection detail.</small>
      </div>

      <div class="form-group">
        <label>Summary Image Link</label>
        <input type="text" class="form-control" name="summary_image_path" maxlength="100" placeholder="Link to small image." value="{{ page.summary_image_path }}" autocomplete="off">
        <small class="form-text text-muted">Link to small image file.</small>
      </div>

      <div class="form-group">
        <label>Detail Image Link</label>
        <input type="text" class="form-control" name="detail_image_path" maxlength="100" placeholder="Link to large image." value="{{ page.detail_image_path }}" autocomplete="off">
        <small class="form-text text-muted">Link to large image file.</small>
      </div>
{% endblock formBody %}

{% block cancelLink pathFor('showCollections') %}

{% block otherControls %}
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              {% if page.getPublishedStatus() == 'draft' %}
              <span class="input-group-text" title="Not published">Draft</span>
              {% elseif page.getPublishedStatus() == 'pending' %}
              <span class="input-group-text bg-warning">Pending</span>
              {% elseif page.getPublishedStatus() == 'published' %}
              <span class="input-group-text bg-success text-light">Published</span>
              {% endif %}
            </div>
            <input type="text" class="form-control jsDatePicker" name="published_date" placeholder="Publish date" value="{{ page.published_date is empty ? '' : page.published_date|date }}" autocomplete="off">
            <small class="form-text text-muted">Select date to publish page and save. Clear date and save to unpublish.</small>
          </div>
        </div>
        {% if page.id %}
        <button class="btn btn-outline-danger mb-2 jsDeleteConfirm" type="submit" name="button" value="delete">Delete</button>
        {% endif %}
{% endblock otherControls %}
