{#
  Element Form

  The arrayKey helps separate each element block when sent to the server to save
#}

{% macro elementForm(element, sectionName, elementTypeOptions) %}

{% set arrayKey = uniqueArrayKey() %}

<div class="card mb-2 jsElementParent">
  <input type="hidden" name="element_id[{{ arrayKey }}]" value="{{ element.id }}">
	<input type="hidden" name="section_name[{{ arrayKey }}]" value="{{ sectionName }}">
  <h5 class="card-header">Element</h5>
	<div class="card-body">
  	<div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Element Order</span>
      </div>
  		<input type="text" class="form-control" name="element_sort[{{ arrayKey }}]" value="{{ element.element_sort|default('1') }}">
  	</div>
  	<div class="form-group form-inline jsElementType">
      {% if 'text' in elementTypeOptions|default('text') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="text" {{ checked(element.element_type|default('text') == 'text') }}> Text
  			</label>
  		</div>
      {% endif %}
      {% if 'media' in elementTypeOptions|default('media') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="media" {{ checked(element.element_type == 'media') }}> Media
  			</label>
  		</div>
      {% endif %}
      {% if 'hero' in elementTypeOptions|default('hero') %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="hero" {{ checked(element.element_type == 'hero') }}> Hero Image
        </label>
      </div>
      {% endif %}
      {% if 'collection' in elementTypeOptions|default('collection') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="collection" {{ checked(element.element_type == 'collection') }}> Collection
  			</label>
  		</div>
      {% endif %}
      {% if 'mediaGroup' in elementTypeOptions|default('mediaGroup') %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="mediaGroup" {{ checked(element.element_type == 'mediaGroup') }}> Media Group
        </label>
      </div>
      {% endif %}
      {% if 'contactForm' in elementTypeOptions|default('contactForm') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="contactForm" {{ checked(element.element_type == 'contactForm') }}> Contact Form
  			</label>
  		</div>
      {% endif %}
      {% if 'calendar' in elementTypeOptions|default('calendar') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="calendar" {{ checked(element.element_type == 'calendar') }}> Calendar
  			</label>
  		</div>
      {% endif %}
  	</div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="element_title[{{ arrayKey }}]" value="{{ element.title }}" placeholder="Element Title" autocomplete="off">
    </div>
  	<div class="form-group">
  		<label>Content</label>
  		<textarea class="form-control jsMDE" rows="5" name="content_raw[{{ arrayKey }}]">{{ element.content_raw }}</textarea>
  	</div>
    <div class="form-group jsElementOptional jsElementMediaPath {% if element.element_type == 'media' or element.element_type == 'hero' %}d-block{% else %}d-none{% endif %}">
      <label>Media Path (TODO)</label>
      <input type="text" class="form-control" name="media_path[{{ arrayKey }}]" value="{{ element.media_path }}" placeholder="Media path" autocomplete="off">
    </div>
    <div class="form-group jsElementOptional jsElementCollection {% if element.element_type == 'collection' %}d-block{% else %}d-none{% endif %}">
    <label>Collection (TODO)</label>
      <select class="form-control">
        <option>Collection 1</option>
        <option>Collection 2</option>
        <option>Collection 3</option>
      </select>
    </div>
    <div class="form-group jsElementOptional jsElementMediaGroup {% if element.element_type == 'mediaGroup' %}d-block{% else %}d-none{% endif %}">
    <label>Media Group (TODO)</label>
      <select class="form-control">
        <option>Group 1</option>
        <option>Group 2</option>
        <option>Group 3</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-danger btn-sm jsDeleteSectionElement" type="button" data-element-id="{{ element.id }}" title="Delete element from section, but does not delete the same element from other pages.">Delete Section Element</button>
    </div>
  </div>
</div>
{% endmacro elementForm %}
