{#
  Element Form

  The arrayKey variable helps separate each element block when sent to the server to save
#}

{% macro elementForm(element, blockKey, elementTypeOptions) %}

{% set arrayKey = uniqueKey() %}

<div class="card mb-2 jsElementParent" id="page-element-{{ element.id|default(arrayKey) }}">
  <input type="hidden" name="element_id[{{ arrayKey }}]" value="{{ element.id }}">
	<input type="hidden" name="block_key[{{ arrayKey }}]" value="{{ blockKey }}">

  <h5 class="card-header">Element</h5>
	<div class="card-body">
  	<div class="form-group input-group w-25">
      <div class="input-group-prepend">
        <span class="input-group-text">Element Order</span>
      </div>
  		<input type="text" class="form-control jsElementSortValue" name="element_sort[{{ arrayKey }}]" value="{{ element.element_sort|default('1') }}">
  	</div>

  	<div class="form-group form-inline jsElementType">
      {% if 'text' in elementTypeOptions|default('text') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="text" {{ checked(element.element_type|default('text') == 'text') }}> Text
  			</label>
  		</div>
      {% endif %}

      {% if 'image' in elementTypeOptions|default('image') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="image" {{ checked(element.element_type == 'image') }}> Image
  			</label>
  		</div>
      {% endif %}

      {% if 'video' in elementTypeOptions|default('video') %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="video" {{ checked(element.element_type == 'video') }}> Video
        </label>
      </div>
      {% endif %}

      {% if 'hero' in elementTypeOptions|default('hero') %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="hero" {{ checked(element.element_type == 'hero') }}> Hero
        </label>
      </div>
      {% endif %}

      {% if 'collection' in elementTypeOptions|default('collection') %}
  		<div class="form-check form-check-inline">
  			<label class="form-check-label">
  				<input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="collection" {{ checked(element.element_type == 'collection') }}> Collection
  			</label>
  		</div>
      {% endif %}

      {% if 'gallery' in elementTypeOptions|default('gallery') %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="element_type[{{ arrayKey }}]" value="gallery" {{ checked(element.element_type == 'gallery') }}> Gallery
        </label>
      </div>
      {% endif %}
  	</div>

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="element_title[{{ arrayKey }}]" value="{{ element.title }}" placeholder="Element Title" autocomplete="off">
    </div>

  	<div class="form-group">
  		<label>Content</label>
  		<textarea class="form-control jsMDE" rows="5" name="content_raw[{{ arrayKey }}]">{{ element.content_raw }}</textarea>
  	</div>

    <div class="form-group jsElementOptional jsElementVideoPath {% if element.element_type == 'video' %}d-block{% else %}d-none{% endif %}">
      <label>Video Embed</label>
      <textarea class="form-control" rows="3" name="video_path[{{ arrayKey }}]">{{ element.video_path }}</textarea>
      <small class="form-text text-muted">Enter a video embed HTML link.</small>
    </div>

    <div class="form-group jsElementOptional jsElementMediaPath {% if element.element_type == 'image' or element.element_type == 'hero' %}d-block{% else %}d-none{% endif %}">
      <label>Image Link</label>
      <input type="text" class="form-control" name="element_image_path[{{ arrayKey }}]" value="{{ element.image_path }}"">
      <small class="form-text text-muted">Enter an image link.</small>
    </div>

    <div class="form-group jsElementOptional jsElementCollection {% if element.element_type == 'collection' %}d-block{% else %}d-none{% endif %}">
    <label>Collection</label>
      <select class="form-control" name="element_collection_id[{{ arrayKey }}]">
        <option value="">- None -</option>
        {% for c in getCollections() %}
        <option value="{{ c.id }}" {% if c.id == element.collection_id %}selected{% endif %}>{{ c.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group jsElementOptional jsElementGallery {% if element.element_type == 'gallery' %}d-block{% else %}d-none{% endif %}">
    <label>Gallery (TODO)</label>
      <select class="form-control">
        <option>Gallery 1</option>
        <option>Gallery 2</option>
        <option>Gallery 3</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-outline-danger btn-sm jsDeleteBlockElement" type="button" data-element-id="{{ element.id }}" title="Delete element.">Delete Element</button>
    </div>
  </div>
</div>
{% endmacro elementForm %}
