{% extends '@admin/_adminBase.html' %}
{% import '@admin/editCustomSettingsFormMacro.html' as settingForm %}

{% block body %}

  <div class="row">
    <div class="col-md">
        <h2>Custom Settings</h2>
        <p class="lead">Custom settings are unique to this database and need to be recreated on each instance of Piton as needed.</p>
    </div>
  </div>
  <hr class="mt-0">

<form action="{{ pathFor('saveCustomSettings') }}" method="post" accept-charset="utf-8">

  <div class="row">
    <div class="col-md scroll-container jsCustomSettingsParent">

      {% for s in page.settings %}

        {{ settingForm.custom(s) }}

      {% else %}

        <h5>No Custom Settings</h5>

      {% endfor %}

    </div><!-- end left col -->

    <div class="col-md-3">
      <h5>Controls</h5>
      <!-- Control Buttons -->
      <div class="mb-2">
        <a class="btn btn-warning mb-2" href="{{ pathFor('showSettings') }}">Cancel</a>
        <button class="btn btn-primary mb-2" type="submit" name="button" title="Save custom settings">Save</button>
        <button class="btn btn-success jsAddCustomSetting" type="button" title="Add custom setting">Add Setting</button>
      </div>

    </div><!-- end right col -->

  </div><!-- end row -->
</form>

{% endblock %}
