{% extends '@admin/_adminFormBase.html' %}

{% block htmlTitle %}Custom Setting - {% endblock %}

{% block formHeading %}
{% if page.id %}Edit{% else %}Add{% endif %} Custom Setting
{% endblock %}

{% block leadText %}Define custom setting entry to customize the site.{% endblock %}

{% block formActionPath %}{{ pathFor('saveCustomSetting') }}{% endblock %}

{% block hiddenInputs %}
  <input type="hidden" name="id" value="{{ page.id }}">
{% endblock %}

{% block formBody %}
      <div class="form-row form-group">
        <div class="form-group col-md-1">
          <label>Sort</label>
          <input type="text" class="form-control jsCustomSettingSort" name="sort_order" maxlength="3" value="{{ page.sort_order|default(1) }}" required>
        </div>
        <div class="form-group col-md-6">
          <label>Display Label</label>
          <input type="text" class="form-control" name="label" maxlength="60" value="{{ page.label }}" required autocomplete="off">
          <small class="form-text text-muted">Title for setting (60 characters).</small>
        </div>
        <div class="form-group col-md-3">
          <label>Current Value</label>
          <input type="text" class="form-control" value="{{ page.setting_value|slice(0, 15) }}" readonly tabindex="-1">
        </div>
      </div>

      <div class="form-row form-group">
        <div class="form-group col-md-6">
          <label>Setting Key</label>
          <input type="text" class="form-control" name="setting_key" maxlength="40" value="{{ page.setting_key }}" required autocomplete="off">
          <small class="form-text text-muted">Single camelCase text key (40 characters).</small>
        </div>
        <div class="form-group col-md-4">
          <label>Input Type</label>
          <select class="form-control" name="input_type">
            <option value="" {% if page.input_type == '' %}selected{% endif %}>Input</option>
            <option value="textarea" {% if page.input_type == 'textarea' %}selected{% endif %}>Textarea</option>
            <option value="select" {% if page.input_type == 'select' %}selected{% endif %}>Select</option>
          </select>
          <small class="form-text text-muted">Default is <code>input</code>. Select lists need development to add options in <code>Piton\Library\Twig\Admin</code></small>
        </div>
      </div>
      <div class="form-group">
        <label>Help Text</label>
        <textarea class="form-control jsMDE" rows="3" name="help">{{ page.help }}</textarea>
        <small class="form-text text-muted">Optional descriptive help text. Accepts HTML, CSS, JavaScript (1,000 characters).</small>
      </div>

{% endblock %}

{% block cancelLink %}{{ pathFor('showSettings') }}{% endblock %}

{% block otherControls %}
        {% if page.id %}
        <a class="btn btn-outline-danger mb-2 jsDeleteConfirm" href="{{ pathFor('deleteCustomSetting', {'id': page.id}) }}">Delete</a>
        {% endif %}
{% endblock %}
