{% extends '@admin/_adminBase.html' %}

{% import "@admin/editElementForm.html" as form %}

{% block body %}

<!-- TODO Move this into css file -->
<style type="text/css">
  .jsSectionParent {border: 1px solid rgba(0,0,0,.125);}
  .row-scroll-container {height:100vh;}
  .row-scroll-container>.col-md {overflow-y: scroll;}
</style>


  <div class="row">
    <div class="col-md">
        <h2>{% if page.id %}Edit{% else %}Add{% endif %} {{ page.title|default(page.definition.pageName) }} Page</h2>
        {% if page.definition.pageLayoutDescription %}
        <p class="lead">{{ page.definition.pageLayoutDescription }}</p>
        {% endif %}
    </div>
  </div>
  <hr>

<form action="{{ pathFor('savePage') }}" method="post" accept-charset="utf-8">
  <input type="hidden" name="id" value="{{ page.id }}">
  <input type="hidden" name="layout" value="{{ page.layout }}">

  <div class="row row-scroll-container">
    <div class="col-md">

      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" maxlength="60" placeholder="Page title" value="{{ page.title }}" required>
      </div>

      <div class="form-group">
        <label>URL /</label>
        <input type="text" class="form-control" name="url" maxlength="150" placeholder="URL slug" value="{{ page.url }}" required {% if page.url == 'home' %}readonly{% endif %}>
        <small class="form-text text-muted">Link to page. Use lowercase, with no spaces. The <code>home</code> URL is restricted from being changed.</small>
      </div>

      <div class="form-group">
        <label>Meta Description</label>
        <input type="text" class="form-control" name="meta_description" maxlength="320" placeholder="Description to appear in search results" value="{{ page.meta_description }}">
        <small class="form-text text-muted">Limit 320 characters. Search engines may use this text in matching search results.</small>
      </div>

      {% for section in page.definition.sections %}
      <div class="p-2 mb-2 jsSectionParent">
        <h2>{{ section.name }} Section</h2>
        {% if section.description %}<p class="lead">{{ section.description }}</p>{% endif %}

        <button class="btn btn-success btn-sm jsAddElement" type="button" data-section-code-name="{{ section.codeName }}" data-element-type="{{ section.elementType }}" data-element-type-options="{{ section.elementTypeOptions|join(',') }}">Add Element</button>
        <hr>

        {% for element in page.elements if element.section_name == section.codeName %}
          {{ form.elementForm(element, section.codeName, section.elementTypeOptions) }}
        {% else %}
          <h5>Click "Add Element" to build this section.</h5>
        {% endfor %}
      </div>
      {% endfor %}

    </div><!-- end left col -->

    <div class="col-md-3">
      <h5>Controls</h5>
      <!-- Control Buttons -->
      <div class="mb-2">
        <a class="btn btn-warning" href="{{ pathFor('showPages') }}">Cancel</a>
        <button class="btn btn-primary" type="submit" name="button" title="Save page.">Save</button>
        {% if page.id %}
        <a class="btn btn-outline-danger jsDeleteConfirm" href="{{ pathFor('deletePage', {'id': page.id}) }}" title="Delete page">Delete</a>
        {% endif %}
      </div>
      <hr>
      <div>
        <h5>Section Navigator</h5>
        {% for section in page.definition.sections %}
          <h6>
            <a href="#page-section-{{ section.codeName }}">{{ section.name }} Section</a>
          </h6>
        {% endfor %}
      </div>
    </div><!-- end right col -->

  </div><!-- end row -->
</form>

{% endblock %}
