{% extends '@admin/_adminFormBase.html' %}

{% block htmlTitle %}
{% if page.id %}Edit {{ page.title }}{% else %}Add Collection - {% endif %}
{% endblock %}

{% block headText %}
{% if page.id %}Edit{% else %}Add{% endif %} {{ page.title }} Collection
{% endblock %}

{% block formActionPath pathFor('saveCollection') %}

{% block hiddenInputs %}
  <input type="hidden" name="id" value="{{ page.id }}">
  <input type="hidden" name="definition" value="{{ page.definition }}">
{% endblock hiddenInputs %}

{% block formBody %}

      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" maxlength="60" placeholder="Collection title" value="{{ page.title }}" required autocomplete="off">
        <small class="form-text text-muted">Collection display title.</small>
      </div>

      <div class="form-group">
        <label>Collection Slug</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">/</span>
          </div>
          <input type="text" class="form-control" name="slug" maxlength="100" placeholder="URL Slug" value="{{ page.slug }}" required autocomplete="off">
        </div>
        <small class="form-text text-muted">Collection URL Slug for this collection. Will appear as <code>/&lt;collection-slug&gt;/&lt;page-slug&gt;</code>.</small>
      </div>

{% endblock formBody %}

{% block cancelLink pathFor('showCollections') %}

{% block otherControls %}
        {% if page.id %}
        <a class="btn btn-outline-danger mb-2" href="{{ pathFor('confirmDeleteCollection', {id: page.id}) }}">Delete</a>
        {% endif %}
{% endblock otherControls %}
