{% extends '@admin/includes/admin_base.html' %}

 {% block body %}

  <section id="admin">
      <div class="container">
          <div class="page-element">
              <h2 class="text-danger">{% if element.id %}Edit{% else %}Add{% endif %} Content</h2>
              <h3>For the {{ element.title }} Page</h3>

            <form action="{{ pathFor('savePageElement') }}" method="post" accept-charset="utf-8">
              <input type="hidden" name="page_id" value="{{ element.page_id }}">
              <input type="hidden" name="id" value="{{ element.id }}">

              <div class="form-group">
                <label><h6>Element Name</h6></label>
                <input class="form-control element-name" type="text" name="name" maxlength="60" placeholder="Element name" value="{{ element.name }}" required>
              </div>

              <div class="form-group">
                <label><h6>Content</h6></label>
                <textarea class="form-control mde" id="mde" rows="10" name="content_raw">{{ element.content_raw }}</textarea>
              </div>
            <div class="form-group">
              <a class="btn btn-warning" href="{{ pathFor('showPages') }}">Cancel</a>
              <button class="btn btn-success" type="submit" name="button">Save</button>
              {% if element.id %}
              <a class="btn btn-danger delete-confirm" href="{{ pathFor('deletePageElement', {'id': element.id}) }}">Delete</a>
              {% endif %}
            </div>

            </form>
          </div>


      </div>
    </section>


  {% endblock %}