{% extends '@admin/includes/_adminBase.html' %}

 {% block body %}

  <div class="row">
    <div class="col">
      <h1>{% if element.id %}Edit {{ element.name }}{% else %}Add{% endif %} Page Element</h1>
      <h3>For the {{ element.title }} Page</h3>

      <form action="{{ pathFor('savePageElement') }}" method="post" accept-charset="utf-8">
        <input type="hidden" name="page_id" value="{{ element.page_id }}">
        <input type="hidden" name="id" value="{{ element.id }}">

        <div class="form-group">
          <label>Element Name</label>
          <input class="form-control jsElementName" type="text" name="name" maxlength="60" placeholder="Element name" value="{{ element.name }}" required>
        </div>

        <div class="form-group">
          <label>Content</label>
          <textarea class="form-control" id="jsMde" rows="10" name="content_raw">{{ element.content_raw }}</textarea>
        </div>

        <a class="btn btn-warning" class="btn btn-warning" href="{{ pathFor('showPages') }}">Cancel</a>
        <button class="btn btn-primary" type="submit" name="button">Save</button>
        {% if element.id %}
        <a class="btn btn-danger jsDeleteConfirm" href="{{ pathFor('deletePageElement', {'id': element.id}) }}">Delete</a>
        {% endif %}

      </form>
    </div>
  </div>

  {% endblock %}