{% extends '@admin/_adminFormBase.html' %}
{% import _self as settingForm %}

{% block htmlTitle %}Edit Site Settings - {% endblock %}

{% block headText %}Edit Site Settings{% endblock %}

{% block leadText %}Customize your site.{% endblock %}

{% block formActionPath pathFor('saveSettings') %}

{% block formBody %}
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-site-tab" data-toggle="pill" href="#pills-site" role="tab" aria-controls="pills-site" aria-selected="true">Site</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-social-tab" data-toggle="pill" href="#pills-social" role="tab" aria-controls="pills-social" aria-selected="false">Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-theme-tab" data-toggle="pill" href="#pills-theme" role="tab" aria-controls="pills-theme" aria-selected="false">Theme</a>
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-site" role="tabpanel" aria-labelledby="pills-site-tab">
              {% for setting in page if setting.category == 'site' %}
                {% if setting.input_type == 'select' %}
                  {{ settingForm.selectHtml(setting, getSettingOptions(setting.setting_key)) }}
                {% elseif setting.input_type == 'textarea' %}
                  {{ settingForm.textareaHtml(setting) }}
                {% else %}
                  {{ settingForm.inputHtml(setting) }}
                {% endif %}
              {% endfor %}
            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              {% for setting in page if setting.category == 'contact' %}
                {% if setting.input_type == 'select' %}
                  {{ settingForm.selectHtml(setting, getSettingOptions(setting.setting_key)) }}
                {% elseif setting.input_type == 'textarea' %}
                  {{ settingForm.textareaHtml(setting) }}
                {% else %}
                  {{ settingForm.inputHtml(setting) }}
                {% endif %}
              {% endfor %}
            </div>

            <div class="tab-pane fade" id="pills-social" role="tabpanel" aria-labelledby="pills-social-tab">
              {% for setting in page if setting.category == 'social' %}
                {% if setting.input_type == 'select' %}
                  {{ settingForm.selectHtml(setting, getSettingOptions(setting.setting_key)) }}
                {% elseif setting.input_type == 'textarea' %}
                  {{ settingForm.textareaHtml(setting) }}
                {% else %}
                  {{ settingForm.inputHtml(setting) }}
                {% endif %}
              {% endfor %}
            </div>

            <div class="tab-pane fade" id="pills-theme" role="tabpanel" aria-labelledby="pills-theme-tab">
              {% for setting in page if setting.category == 'theme' %}
                {% if setting.input_type == 'select' %}
                  {{ settingForm.selectHtml(setting, setting.options) }}
                {% elseif setting.input_type == 'textarea' %}
                  {{ settingForm.textareaHtml(setting) }}
                {% else %}
                  {{ settingForm.inputHtml(setting) }}
                {% endif %}
              {% endfor %}
            </div>
          </div>
{% endblock formBody %}

{% block cancelLink pathFor('showSettings') %}

{# Input Macro #}
{% macro inputHtml(setting) %}
  {% import _self as button %}
            <div class="jsSettingParent">
              <div class="form-group">
                <label>{{ setting.label }}{% if setting.orphaned %} <span class="badge badge-danger">Orphaned</span>{% endif %}</label>
                <input type="hidden" name="id[]" value="{{ setting.id }}">
                <input type="hidden" name="setting_key[]" value="{{ setting.setting_key }}">
                <input type="text" class="form-control" name="setting_value[]" value="{{ setting.setting_value }}" autocomplete="off">
                <small class="form-text text-muted">Key: <code>{{ setting.setting_key }}</code>. {{ setting.help }}</small>
                </div>
                {% if setting.category == 'theme' and setting.orphaned %}
                  {{ button.delete(setting) }}
                {% endif %}
            </div>
{% endmacro inputHtml %}

{# Select List Macro #}
{% macro selectHtml(setting, options) %}
  {% import _self as button %}
            <div class="jsSettingParent">
              <div class="form-group">
                <label>{{ setting.label }}{% if setting.orphaned %} <span class="badge badge-danger">Orphaned</span>{% endif %}</label>
                <input type="hidden" name="id[]" value="{{ setting.id }}">
                <input type="hidden" name="setting_key[]" value="{{ setting.setting_key }}">
                <select class="form-control" name="setting_value[]">
                  {% for key, option in options %}
                  <option value="{{ key }}" {% if key == setting.setting_value %}selected{% endif %}>{{ option }}</option>
                  {% endfor %}
                </select>
                <small class="form-text text-muted">Key: <code>{{ setting.setting_key }}</code>. {{ setting.help }}</small>
              </div>
                {% if setting.category == 'theme' and setting.orphaned %}
                  {{ button.delete(setting) }}
                {% endif %}
            </div>
{% endmacro selectHtml %}

{# Textarea Macro #}
{% macro textareaHtml(setting) %}
  {% import _self as button %}
            <div class="jsSettingParent">
               <div class="form-group">
                  <label>{{ setting.label }}{% if setting.orphaned %} <span class="badge badge-danger">Orphaned</span>{% endif %}</label>
                  <input type="hidden" name="id[]" value="{{ setting.id }}">
                  <input type="hidden" name="setting_key[]" value="{{ setting.setting_key }}">
                  <textarea class="form-control" rows="3" name="setting_value[]">{{ setting.setting_value }}</textarea>
                  <small class="form-text text-muted">Key: <code>{{ setting.setting_key }}</code>. {{ setting.help }}</small>
                </div>
                {% if setting.category == 'theme' and setting.orphaned %}
                  {{ button.delete(setting) }}
                {% endif %}
            </div>
{% endmacro textareaHtml %}

{# Delete Button Macro #}
{% macro delete(setting) %}
          <div class="form-group">
            <button type="button" class="btn btn-sm btn-outline-danger jsDeleteThemeSetting" data-setting-id="{{ setting.id }}" title="Delete orphaned setting not in current theme. Optional.">Delete Orphaned Setting</button>
          </div>
{% endmacro delete %}
