{% extends '@admin/_adminBase.html' %}

{% block contentHeader %}
<div class="content-header-inner">
 <div class="breadcrumb"></div>
 <h1 class="section-title">Dashboard</h1>
 <div class="btn-group"></div>
</div>
{% endblock contentHeader %}

{% block content %}

<p class="lead">Current project: <code>{{ site.settings.projectDir }}</code></p>
<p class="lead">PitonCMS Engine Version: <code>{{ site.settings.engine }}</code></p>

{% endblock content %}

{% block foot %}
  {{ getJsFileSource('main') }}
{% endblock foot %}