{% extends '@admin/_adminBase.html' %}

{% block headText 'PitonCMS' %}
{% block leadText 'Content Management System' %}
{% block sectionText 'adminHome' %}

{% block body %}
<div class="sidebar">

</div>
<main class="content">
    <p class="lead">Current project: <code>{{ site.settings.projectDir }}</code></p>

    <p class="lead">PitonCMS Engine Version: <code>{{ page.pitonEngineVersion }}</code> <a
            href="{{ pathFor('adminEngineRelease', {'release': page.pitonEngineVersion}) }}">Release Notes</a></p>
</main>


{% endblock body %}