{% extends '@admin/_adminBase.html' %}

{% block headText 'Media' %}

{% block body %}
  <div class="row">
    <div class="col">
      <a href="{{ pathFor('adminFileUploadForm') }}">Upload New File</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Media</h3>
      <div class="card-wrapper">
        {% for media in page.media %}

        <div class="card" style="width: 18rem;">
          <img src="{{ getMediaPath(media.file) }}" class="card-img-top" alt="{{ media.caption }}">
          <div class="card-body">
            <p class="card-text">{{ media.caption }}</p>
            <input type="text" class="form-control form-control-sm" value="{{ getMediaPath(media.file) }}" readonly>
            <form action="{{ pathFor('adminFileDelete') }}" method="post">
              <input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
              <input type="hidden" name="id" value="{{ media.id }}">
              <button class="btn btn-outline-danger btn-sm mt-2" type="submit" name="button" value="delete">Delete</button>
            </form>
          </div>
        </div>

        {% else %}
        <strong>No Media Found</strong>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}
