{% extends '@admin/_adminBase.html' %}
{% import "@admin/includes/_mediaCardMacro.html" as file %}
{% block headText 'Media' %}

{% block body %}
  <div class="row">
    <div class="col">
      <a href="{{ pathFor('adminFileUploadForm') }}">Upload New File</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Media</h3>
      <div class="card-wrapper">
        {% for media in page.media %}
          {{ file.mediaCard(media, true) }}
        {% else %}
        <strong>No Media Found</strong>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}
