{% extends '@admin/_adminBase.html' %}

{% block headText 'Manage Pages' %}

{% block body %}
  <div class="row">
    <div class="col">
      <h3>Add New Page</h3>
      {% if page.templates %}
      <ul>
        {% for template in page.templates %}
        <li>
          <a href="{{ pathFor('editPage', {'id': template.filename}) }}" title="{{ template.description }}">{{ template.name }}</a> {{ template.description }}
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <h5>No Page JSON Definition Files Found</h5>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Saved Pages</h3>
      <div class="card-wrapper">
        {% for p in page.pages %}
          {% include "@admin/includes/_pageCard.html" %}
        {% else %}
        <strong>No Saved Pages Found</strong>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}
