{% extends '@admin/_adminBase.html' %}

{% block body %}

  <div class="row">
    <div class="col">
    <h1>Pages</h1>
    <hr>

    {% for p in page %}
    <div class="card mb-4" style="width: 18rem;">
      <div class="card-header">
        <h5 class="card-title">{{ p.title }}
          {% if not p.published_date %}
          <span class="badge badge-secondary" title="Not published">Draft</span>
          {% elseif p.published_date > "now"|date('Y-m-d') %}
          <span class="badge badge-warning" title="Pending publish on {{ p.published_date|date('m/d/Y') }}">Pending</span>
          {% elseif p.published_date <= "now"|date('Y-m-d') %}
          <span class="badge badge-success" title="Published on {{ p.published_date|date('m/d/Y') }}">Published</span>
          {% endif %}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">URL: <i>/{{ p.url }}</i></h6>
        <h6 class="card-subtitle mb-2 text-muted">Layout: <i>{{ p.layout }}</i></h6>
      </div>
      <div class="card-body">
        <p class="card-text">{{ p.meta_description|default('Missing Meta Description!') }}</p>
      </div>

      <ul class="list-group list-group-flush">
        {% for key, s in p.sections %}
          <li class="list-group-item">
            {{ key }}
            <ul>
            {% for e in s %}
              <li>{{ e.title }} <small>({{ e.element_type }})</small></li>
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      <a class="card-link btn btn-sm btn-primary" href="{{ pathFor('editPage', {'id': p.id}) }}">Edit Page</a>
    </div>
    {% else %}
    <strong>No pages found</strong>
    {% endfor %}
  </div>
</div>

{% endblock %}