{% extends '@admin/includes/_adminBase.html' %}

{% block body %}

    <div class="row">
      <div class="col">
      <h2>Manage Users</h2>
      <form class="jsUserForm" action="{{ pathFor('saveUsers') }}" method="post" accept-charset="utf-8">
        {% for user in users %}
        <div class="form-group form-row">
          <div class="col-4">
            <input type="email" class="form-control" name="email[]" maxlength="60" value="{{ user.email }}" autocomplete="off">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="adminCheck" {{ checked(user.admin) }}>
            <label class="form-check-label" for="adminCheck">
              Administrator
            </label>
          </div>
          <a class="btn btn-danger ml-2 jsDeleteConfirm" href="{{ pathFor('deleteUser', {'id': user.id}) }}">Delete User</a>
        </div>
        {% endfor %}
        <div class="form-group">
          <button type="button" class="btn btn-success jsAddUserRow">Add User</button>
        </div>
        <hr>
        <a class="btn btn-warning" href="{{ pathFor('adminHome') }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-primary">Save Users</button>
      </form>
      </div>
    </div>

{% endblock %}