{% extends '@admin/includes/_adminBase.html' %}

{% block body %}

    <div class="row">
      <div class="col">
      <h2>Manage Users</h2>
      <form class="jsUserForm" action="{{ pathFor('saveUsers') }}" method="post" accept-charset="utf-8">
        {% for user in users %}
        <div class="form-group form-inline">
          <input type="email" class="form-control" name="email[]" maxlength="60" value="{{ user.email }}" autocomplete="off">
          <a class="btn btn-danger ml-2 jsDeleteConfirm" href="{{ pathFor('deleteUser', {'id': user.id}) }}">Delete User</a>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-success jsAddUserRow">Add User</button>
        <hr>
        <a class="btn btn-warning" href="{{ pathFor('adminHome') }}">Cancel</a>
        <button type="submit" name="button" class="btn btn-primary">Save Users</button>
      </form>
      </div>
    </div>

{% endblock %}