{% extends '@admin/includes/_adminBase.html' %}

{% block body %}

    <div class="row">
      <div class="col">
        <h2>Configure Site Settings</h2>
        <form class="" action="{{ pathFor('saveSettings') }}" method="post" accept-charset="utf-8">

            {% for s in settings %}
            <div class="form-group ">
                <label>{{ s.label }}</label>
                <input type="text" class="form-control" name="setting[setting_value][]" maxlength="60" value="{{ s.setting_value }}" autocomplete="off">
                <input type="hidden" name="setting[id][]" value="{{ s.id }}">
            </div>
            {% endfor %}

          <a class="btn btn-warning" href="{{ pathFor('adminHome') }}">Cancel</a>
          <button type="submit" name="button" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>

{% endblock %}
