{% extends '@admin/includes/admin_base.html' %}

{% block body %}

<section id="admin">
  <div class="container">
    <h2>Users</h2>
    <form action="{{ pathFor('saveUsers') }}" id="user-emails" method="post" accept-charset="utf-8">
      {% for user in users %}
      <div>
        <input type="email" name="email[]" maxlength="60" value="{{ user.email }}" autocomplete="off">
        <a class="delete-confirm" href="{{ pathFor('deleteUser', {'id': user.id}) }}">Remove User</a>
      </div>
      {% endfor %}
      <button type="button" class="add-user-row">Add User</button>
      <button type="submit" name="button">Save</button>
    </form>
  </div>
</section>

{% endblock %}