{% extends '@admin/_adminBase.html' %}

{% block body %}

  <div class="row">
    <div class="col">
    <h1>Pages</h1>
    <hr>

    {% for p in page %}
    <div class="card mb-4" style="width: 18rem;">
      <div class="card-header">
        <span class="h5 card-title">{{ p.title }}</span>
      </div>
      <div class="card-body">
        <h6 class="card-text"><i>/{{ p.url }}</i></h6>
        <p class="card-text">{{ p.meta_description|default('Missing Meta Description!') }}</p>
        <a class="card-link" href="{{ pathFor('editPage', {'id': p.id}) }}">Edit Page</a>
      </div>
    </div>
    {% else %}
    <strong>No pages found</strong>
    {% endfor %}
  </div>
</div>

{% endblock %}