{% extends '@admin/_adminBase.html' %}
{% import _self as html %}

{% block htmlTitle 'Messages' %}
{% block headText 'Manage Messages' %}
{% block sectionId 'summaryPage' %}


{% block sidebar %}
<div class="sidebar-inner">
 <div class="sidebar-block">
  <div class="sidebar-link">
   <a class="{{ currentRoute('adminMessage') and inUrl('new') ? 'active' }}" href="{{ pathFor('adminMessage', {'status': 'new'}) }}">
    <i class="fas fa-envelope"></i>
    <div class="sidebar-link__text">New Messages</div>
   </a>
  </div>
  <div class="sidebar-link">
   <a class="{{ currentRoute('adminMessage') and inUrl('read') ? 'active' }}" href="{{ pathFor('adminMessage', {'status': 'read'}) }}">
    <i class="fas fa-envelope-open-text"></i>
    <div class="sidebar-link__text">Read Messages</div>
   </a>
  </div>
 </div>
 
</div>

{% endblock sidebar %}

{% block content %}
<div class="content-block">
 {% if page.status == 'new' %}
 {% for m in page.messages %}
 {% if m.isRead == 'N' %}
 
 {{ html.message(m) }}
 {% endif %}
 {% else %}
 <p>You have no unread messages.</p>
 {% endfor %}
 
 {% else %}
 
 {% for m in page.messages %}
 {% if m.isRead == 'Y' %}
 {{ html.message(m) }}
 {% endif %}
 {% else %}
 <p>You have no read messages.</p>
 {% endfor %}
 {% endif %}
</div>

{% endblock content %}

{% block foot %}
	<script src="{{ basePath() }}/admin/js/message.js"></script>
{% endblock foot %}


{% macro message(m) %}
<h3 class="section-title">{{ page.status|capitalize }} Messages</h3>

<div class="jsMessageWrap">
	<div class="message-wrapper">
		<p>
			<a href="mailto:{{ m.email }}" target="_blank">{{ m.name }}</a>
			{{ m.createdDate|date('d F Y  h:i a') }}
		</p>
		<hr>
		<p>{{ m.message|nl2br }}</p>
	</div>
	<div class="button-wrapper">
		<form class="" action="{{ pathFor('adminMessageSave') }}" method="post" accept-charset="utf-8">
			<input type="hidden" name="{{ site.csrf.name }}" value="{{ site.csrf.value }}">
			<input type="hidden" name="id" value="{{ m.id }}">
			<button class="btn btn-outline-primary btn-sm" type="submit" name="button" value="toggle"
				data-is-read="{{ m.isRead }}">Mark as
				{% if m.isRead == 'Y' %}Unread{% else %}Read
				{% endif %}
			</button>
			<button class="btn btn-outline-danger btn-sm" name="button" title="Delete message" type="submit"
				data-is-read="{{ m.isRead }}" value="delete"
				formaction="{{ pathFor('adminMessageDelete') }}">Delete</button>
		</form>
	</div>
</div>
{% endmacro %}