// Filter Block 
.filter-block {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 align-items: center;
 border-top: solid 1px $bg-blue;

}

// Input Block -- input with left icon
.input-block {
 height: 100%;
 background: $bg-light !important;

 display: grid;
 grid-template-columns: auto 1fr;
 align-items: center;
 border-bottom: solid 1px $bg-blue;
 grid-column: 1 / -1;

 @media screen and (min-width: $breakpoint) {
  grid-column: 1;
 }

 &__icon {

  border: none;
  @include padding(null .75em);
  color: rgba($border-grey, .75);


 }

 &__search-input {
  // padding-right: .5em !important;
  // background: $bg-light !important;
  @include margin(0);
  border: none !important;
  font-size: 1rem;
  color: $border-grey;

 }
}

/* Button Dropdown Block */
.btn-dropdown-block {
 position: relative;
 border-bottom: solid 1px $bg-blue;
 border-left: solid 1px $bg-blue;

 .check-block-item {
  display: flex;
 }
 &:not(:last-of-type) {
  border-right: solid 1px darken($bg-blue, 10%);
 }
}

/* Radio Block */
.radio-block-wrapper {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
 gap: 0 .5em;

 .radio-block-item {
  @include padding(0);
  @include margin(0);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;

  &__radio {
   height: 75%;
   width: 75%;
  }

  &__label {
   font-weight: 400;
  }
 }
}