// Filter Block 
.filter-block {
 width: 100%;
 @include padding(.5em);
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 align-items: center;
border-bottom: solid .01em $border;
}

// Input Block -- input with left icon
.input-block {
 background: $bg-white !important;
 box-shadow: $box-shadow-inset;

 display: grid;
 grid-template-columns: auto 1fr;
 align-items: center;
 grid-column: 1 / -1;

 @media screen and (min-width: $breakpoint) {
  grid-column: 1;
 }

 &__icon {
  border: none;
  @include padding(null .75em);
  color: $bg-grey;

 }

 &__search-input {
  margin: 0;
  border: none !important;
  font-size: 1rem;
  color: $text-accent;
 }
}

/* Radio Block */
.radio-block-wrapper {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
 gap: 0 .5em;

 .radio-block-item {
  @include padding(0);
  @include margin(0);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;

  &__radio {
   height: 75%;
   width: 75%;
  }

  &__label {
   font-weight: 400;
  }
 }
}