/*  FORMS  */
input[type="text"],
input[type="email"],
textarea {
 @include margin(0);
 text-transform: none;
 letter-spacing: normal;
 position: relative;
 z-index: 20;
 display: block;
 width: 100%;
 background: $bg-light;
 border-radius: $border-radius;
 border: 0.1rem solid lightgrey;
 font-family: inherit;
 font-size: inherit;
 font-weight: inherit;
 -webkit-appearance: none;
 appearance: none;
}

input:focus {
 outline: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0 30px white inset !important;
 box-shadow: 0 0 0 30px white inset !important;
 outline: none;
}






// Button Dropdown Hover Block with Radio

// Hide Radio Buttons

.radio-hidden,
.element-toggle,
.nav-toggle {
 position: absolute;
 top: -999px !important;
 left: -999px !important;
}

// Dropdown Hover Buttons
.form-group-block {
 width: 100%;
 background: $bg-accent;
 box-shadow: $box-shadow-2;

 transform-origin: top;
 transform: scale(1, 0);
 transition: transform 250ms ease-in-out 200ms;
 z-index: 100;

 position: absolute;
 top: 100%;
 right: 0;
}

.form-group-block-add {
 width: 160px;
 background: $bg-accent;
 box-shadow: $box-shadow-2;
 text-align: right;

 transform-origin: top;
 transform: scale(1, 0);
 transition: transform 250ms ease-in-out 200ms;
 z-index: 100;

 position: absolute;
 top: 100%;
 right: 0;
}

.btn-dropdown-block:hover>.form-group-block,
.btn-dropdown-block:hover>.form-group-block-add {
 cursor: pointer;
 transform: scale(1);
}

label {
 margin: 0;
 padding: 0;
}

.form-group {
 padding: 1em;
 width: 100%;

 &:hover {
  background: $bg-blue;
 }
}

.form-group label {
 width: 100%;
 height: 100%;
 font-size: 0.875rem;
}

.form-group label:hover,
.form-group:hover {
 cursor: pointer;
}

/* Form blocks style */

.form-group-pageEdit {
 background: $bg-light;
 box-shadow: $box-shadow-2;
 border-radius: $border-radius;
 border: solid 1px rgba($border-grey, .25);
 color: $txt-dark;
 @include padding(1em);
 @include margin(null null 1em null);

 input,
 textarea {
  background: $bg-accent !important;
 }
}

